<div>
  <div class="ind_title">
    <span class="ind_guidedown">立即下载&nbsp;&nbsp;<a href="http://app.qyer.com/guide/" data-bn-ipg='guide-app'>穷游锦囊应用</a></span>

    <h2 class="ind_title_name">热门下载锦囊</h2>
    <a href="http://guide.qyer.com" class="ind_title_more" title="更多穷游锦囊" data-bn-ipg="guide-more">更多</a><span class="ind_title_slogan">全世界中国旅行者为你撰写的旅行指南 - 原创 实用 快速更新</span>
  </div>
  <ul class="ind_guidelist clearfix">

    <li>
      <p class="pic">
        <a href="http://guide.qyer.com/malta/" data-bn-ipg="guide-1-2" target="_blank"><img src="/uploads/pics/201307/20130529044944810.jpg" width="100" height="150" alt="马耳他穷游锦囊" title="马耳他穷游锦囊"/><span class="new"></span></a>
      </p>

      <p class="title">
        <a href="http://guide.qyer.com/malta/" title="马耳他" data-bn-ipg="guide-1-1" target="_blank">马耳他</a></p>

      <p class="time">2013-05-29</p>
    </li>

    <li>
      <p class="pic">
        <a href="http://guide.qyer.com/taste-of-italy/" data-bn-ipg="guide-2-2" target="_blank"><img src="/uploads/pics/201307/20130523032325624.jpg" width="100" height="150" alt="意大利美食穷游锦囊" title="意大利美食穷游锦囊"/><span class="new"></span></a>
      </p>

      <p class="title">
        <a href="http://guide.qyer.com/taste-of-italy/" title="意大利美食" data-bn-ipg="guide-2-1" target="_blank">意大利美食</a>
      </p>

      <p class="time">2013-05-23</p>
    </li>


    <li>
      <p class="pic">
        <a href="http://guide.qyer.com/nha-trang/" data-bn-ipg="guide-3-2" target="_blank"><img src="/uploads/pics/201307/20130522064018296.jpg" width="100" height="150" alt="芽庄穷游锦囊" title="芽庄穷游锦囊"/><span class="new"></span></a>
      </p>

      <p class="title">
        <a href="http://guide.qyer.com/nha-trang/" title="芽庄" data-bn-ipg="guide-3-1" target="_blank">芽庄</a></p>

      <p class="time">2013-05-22</p>
    </li>


    <li>
      <p class="pic">
        <a href="http://guide.qyer.com/hoi-an/" data-bn-ipg="guide-4-2" target="_blank"><img src="/uploads/pics/201307/20130517074835476.jpg" width="100" height="150" alt="会安穷游锦囊" title="会安穷游锦囊"/><span class="new"></span></a>
      </p>

      <p class="title"><a href="http://guide.qyer.com/hoi-an/" title="会安" data-bn-ipg="guide-4-1" target="_blank">会安</a>
      </p>

      <p class="time">2013-05-17</p>
    </li>


    <li>
      <p class="pic">
        <a href="http://guide.qyer.com/buenos-aires/" data-bn-ipg="guide-5-2" target="_blank"><img src="/uploads/pics/201307/20130517053413189.jpg" width="100" height="150" alt="布宜诺斯艾利斯穷游锦囊" title="布宜诺斯艾利斯穷游锦囊"/><span class="new"></span></a>
      </p>

      <p class="title">
        <a href="http://guide.qyer.com/buenos-aires/" title="布宜诺斯艾利斯" data-bn-ipg="guide-5-1" target="_blank">布宜诺斯艾利斯</a>
      </p>

      <p class="time">2013-5-17</p>
    </li>

  </ul>
</div>
<div class="ind_sldline2"></div>

<div id="indbbs">
<div class="ind_title">
  <h2 class="ind_title_name">游记攻略</h2>
  <a href="http://bbs.qyer.com" class="ind_title_more" title="更多游记攻略" data-bn-ipg="traveltip-more">更多</a>
</div>
<div id="indbbslist">
<ul class="ind_bbslist clearfix">
<li class="clearfix first">
  <div class="pic">
    <a href="http://bbs.qyer.com/thread-803266-1.html" target="_blank" data-bn-ipg="traveltip-essence-1-5"><img src="http://pic.qyer.com/album/user/395/16/QkBQQxwOYg/index/200x133" width="200" height="133" alt="巴黎之行告诉我的十件事"/><span class="elite">精华</span></a></a>
  </div>
  <div class="cnt">
    <div class="top">
      <p class="face">
        <a href="http://user.qyer.com/user_uid_1613664" data-bn-ipg="traveltip-essence-1-2"><img src="http://static.qyer.com/data/avatar/001/61/36/64_avatar_middle.jpg" width="48" height="48" alt="贺兰牛"/></a>
      </p>

      <h3 class="title">
        <a href="http://bbs.qyer.com/thread-803266-1.html" title="巴黎之行告诉我的十件事" target="_blank" data-bn-ipg="traveltip-essence-1-1">巴黎之行告诉我的十件事</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>
      </h3>

      <div>
        <p class="fr">
          <span class="time">2013-05-27</span><span class="bbsview" title="浏览">2011</span><span class="bbsreply" title="回复">42</span><span class="bbslike" title="喜欢">4</span>
        </p>
        <span>作者：<a href="http://user.qyer.com/user_uid_1613664" data-bn-ipg="traveltip-essence-1-3">贺兰牛</a></span>
      </div>
    </div>
    <p class="bbstext">
      本帖最后由 贺兰牛 于 2013-5-30 06:12 编辑 巴黎之行告诉我的十件事
      1.巴黎人的英语目测和天朝差不多，老一辈的大多直接不会，只能肢体眼神意念交流，年轻人很热心能说几句，他们当这是锻炼口语的机会，但多数纠缠.. </p>

    <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-14-1.html" title="法国/摩纳哥" data-bn-ipg="traveltip-essence-1-4">法国/摩纳哥</a>
      版</p>
  </div>
</li>
<li class="clearfix ">
  <div class="pic">
    <a href="http://bbs.qyer.com/thread-802401-1.html" target="_blank" data-bn-ipg="traveltip-average-2-5"><img src="http://pic.qyer.com/album/user/393/46/QkBWRhwEZw/index/200x133" width="200" height="133" alt="更新中，和父母游大马，如何网上购买巴士票，萤火虫，马六甲，槟城，热浪岛，吉隆坡"/></a></a>
  </div>
  <div class="cnt">
    <div class="top">
      <p class="face">
        <a href="http://user.qyer.com/user_uid_2241186" data-bn-ipg="traveltip-average-2-2"><img src="http://static.qyer.com/data/images/noavatar_middle.gif" width="48" height="48" alt="一路走着2012"/></a>
      </p>

      <h3 class="title">
        <a href="http://bbs.qyer.com/thread-802401-1.html" title="更新中，和父母游大马，如何网上购买巴士票，萤火虫，马六甲，槟城，热浪岛，吉隆坡" target="_blank" data-bn-ipg="traveltip-average-2-1">更新中，和父母游大马，如何网上购买巴士票，萤火虫，马六甲，槟城，热浪岛，吉隆坡</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>
      </h3>

      <div>
        <p class="fr">
          <span class="time">2013-05-24</span><span class="bbsview" title="浏览">1276</span><span class="bbsreply" title="回复">50</span><span class="bbslike" title="喜欢">1</span>
        </p>
        <span>作者：<a href="http://user.qyer.com/user_uid_2241186" data-bn-ipg="traveltip-average-2-3">一路走着2012</a></span>
      </div>
    </div>
    <p class="bbstext">
      本帖最后由 一路走着2012 于 2013-5-29 22:13 编辑 很早之前就开始筹备大马游了，在这里要感谢所有穷游儿们的信息。下载了穷游锦囊，很有用！现在回来了，也准备写游记来回馈给穷游儿们~
      因为这次除了我和老公，还.. </p>

    <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-108-1.html" title="新加坡/马来西亚/文莱" data-bn-ipg="traveltip-average-2-4">新加坡/马来西亚/文莱</a>
      版</p>
  </div>
</li>
<li class="clearfix ">
  <div class="pic">
    <a href="http://bbs.qyer.com/thread-798912-1.html" target="_blank" data-bn-ipg="traveltip-average-3-5"><img src="http://pic.qyer.com/album/user/386/69/QkFTRBMHaA/index/200x133" width="200" height="133" alt="【秘鲁你好】—— 在南美跟旧的自己说再见 （全文完）"/></a></a>
  </div>
  <div class="cnt">
    <div class="top">
      <p class="face">
        <a href="http://user.qyer.com/user_uid_1391729" data-bn-ipg="traveltip-average-3-2"><img src="http://static.qyer.com/data/avatar/001/39/17/29_avatar_middle.jpg" width="48" height="48" alt="杨小塔爱张起灵"/></a>
      </p>

      <h3 class="title">
        <a href="http://bbs.qyer.com/thread-798912-1.html" title="【秘鲁你好】—— 在南美跟旧的自己说再见 （全文完）" target="_blank" data-bn-ipg="traveltip-average-3-1">【秘鲁你好】——
          在南美跟旧的自己说再见
          （全文完）</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>
      </h3>

      <div>
        <p class="fr">
          <span class="time">2013-05-18</span><span class="bbsview" title="浏览">1843</span><span class="bbsreply" title="回复">37</span><span class="bbslike" title="喜欢">4</span>
        </p>
        <span>作者：<a href="http://user.qyer.com/user_uid_1391729" data-bn-ipg="traveltip-average-3-3">杨小塔爱张起灵</a></span>
      </div>
    </div>
    <p class="bbstext">
      本帖最后由 杨小塔爱张起灵 于 2013-5-29 12:07 编辑 It's the possibility of having a dream come true that makes life
      interesting.
      -- by.. </p>

    <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-55-1.html" title="拉丁美洲/南极" data-bn-ipg="traveltip-average-3-4">拉丁美洲/南极</a>
      版</p>
  </div>
</li>
<li class="clearfix ">
  <div class="pic">
    <a href="http://bbs.qyer.com/thread-798554-1.html" target="_blank" data-bn-ipg="traveltip-average-4-5"><img src="http://pic.qyer.com/album/user/386/59/QkFTRxMAYw/index/200x133" width="200" height="133" alt="玩在温哥华(以当地人的角度，而非走马观花)"/></a>
  </div>
  <div class="cnt">
    <div class="top">
      <p class="face">
        <a href="http://user.qyer.com/user_uid_1264642" data-bn-ipg="traveltip-average-4-2"><img src="http://static.qyer.com/data/avatar/001/26/46/42_avatar_middle.jpg" width="48" height="48" alt="magicpeach"/></a>
      </p>

      <h3 class="title">
        <a href="http://bbs.qyer.com/thread-798554-1.html" title="玩在温哥华(以当地人的角度，而非走马观花)" target="_blank" data-bn-ipg="traveltip-average-4-1">玩在温哥华(以当地人的角度，而非走马观花)</a>
      </h3>

      <div>
        <p class="fr">
          <span class="time">2013-05-13</span><span class="bbsview" title="浏览">8267</span><span class="bbsreply" title="回复">141</span><span class="bbslike" title="喜欢">17</span>
        </p>
        <span>作者：<a href="http://user.qyer.com/user_uid_1264642" data-bn-ipg="traveltip-average-4-3">magicpeach</a></span>
      </div>
    </div>
    <p class="bbstext">
      本帖最后由 magicpeach 于 2013-5-29 06:12 编辑 注：我的weibo是:http://weibo.com/colorfulcloud，有什么关于温哥华的问题可以随时问我
      来温哥华上学已经半年多了，估计一年之后就要离开温哥华了，所以准备开个帖.. </p>

    <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-54-1.html" title="加拿大" data-bn-ipg="traveltip-average-4-4">加拿大</a>
      版</p>
  </div>
</li>
<li class="clearfix ">
  <div class="pic">
    <a href="http://bbs.qyer.com/thread-801649-1.html" target="_blank" data-bn-ipg="traveltip-essence-5-5"><img src="http://pic.qyer.com/album/user/395/37/QkBQQR0BYg/index/200x133" width="200" height="133" alt="2013年5月摩洛哥12天旅行总结（含自驾攻略）"/><span class="elite">精华</span></a></a>
  </div>
  <div class="cnt">
    <div class="top">
      <p class="face">
        <a href="http://user.qyer.com/user_uid_43310" data-bn-ipg="traveltip-essence-5-2"><img src="http://static.qyer.com/data/images/noavatar_middle.gif" width="48" height="48" alt="kangdingqg"/></a>
      </p>

      <h3 class="title">
        <a href="http://bbs.qyer.com/thread-801649-1.html" title="2013年5月摩洛哥12天旅行总结（含自驾攻略）" target="_blank" data-bn-ipg="traveltip-essence-5-1">2013年5月摩洛哥12天旅行总结（含自驾攻略）</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>
      </h3>

      <div>
        <p class="fr">
          <span class="time">2013-05-24</span><span class="bbsview" title="浏览">1105</span><span class="bbsreply" title="回复">33</span><span class="bbslike" title="喜欢">4</span>
        </p>
        <span>作者：<a href="http://user.qyer.com/user_uid_43310" data-bn-ipg="traveltip-essence-5-3">kangdingqg</a></span>
      </div>
    </div>
    <p class="bbstext">
      本人一贯的发帖风格，只写文字干货，请各位见谅了，有什么需要交流的，欢迎回帖或者站内信。


      我们整个团队2男3女，在摩洛哥一共待了11天多，第一天下午从西班牙的Tarifa坐船到Tangier，从Tangier坐CTM大巴到Tetou.. </p>

    <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-86-1.html" title="北非" data-bn-ipg="traveltip-essence-5-4">北非</a>
      版</p>
  </div>
</li>
<li class="clearfix ">
  <div class="pic">
    <a href="http://bbs.qyer.com/thread-801465-1.html" target="_blank" data-bn-ipg="traveltip-essence-6-5"><img src="http://pic.qyer.com/album/user/392/11/QkBXQxsDYw/index/200x133" width="200" height="133" alt="1抹绿，2杯酒，3重弯-心醉在意大利的托斯卡纳（含1千公里自驾心得+路线+美图）完工！"/><span class="elite">精华</span></a></a>
  </div>
  <div class="cnt">
    <div class="top">
      <p class="face">
        <a href="http://user.qyer.com/user_uid_1091154" data-bn-ipg="traveltip-essence-6-2"><img src="http://static.qyer.com/data/avatar/001/09/11/54_avatar_middle.jpg" width="48" height="48" alt="pinglemonster"/></a>
      </p>

      <h3 class="title">
        <a href="http://bbs.qyer.com/thread-801465-1.html" title="1抹绿，2杯酒，3重弯-心醉在意大利的托斯卡纳（含1千公里自驾心得+路线+美图）完工！" target="_blank" data-bn-ipg="traveltip-essence-6-1">1抹绿，2杯酒，3重弯-心醉在意大利的托斯卡纳（含1千公里自驾心得+路线+美图）完工！</a>
      </h3>

      <div>
        <p class="fr">
          <span class="time">2013-05-22</span><span class="bbsview" title="浏览">2051</span><span class="bbsreply" title="回复">60</span><span class="bbslike" title="喜欢">16</span>
        </p>
        <span>作者：<a href="http://user.qyer.com/user_uid_1091154" data-bn-ipg="traveltip-essence-6-3">pinglemonster</a></span>
      </div>
    </div>
    <p class="bbstext">
      本帖最后由 pinglemonster 于 2013-5-27 07:16 编辑
      7天托斯卡纳自驾已经全部更新完毕。。。主贴从1楼到9楼~喜欢的朋友别忘记支持LZ，在右上角点击：~喜欢~哦1楼：行程+住宿总结2楼：自驾总结3楼：比萨到Levanto, .. </p>

    <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-13-1.html" title="意大利/梵蒂冈/圣马力诺" data-bn-ipg="traveltip-essence-6-4">意大利/梵蒂冈/圣马力诺</a>
      版</p>
  </div>
</li>
<li class="clearfix ">
  <div class="pic">
    <a href="http://bbs.qyer.com/thread-802895-1.html" target="_blank" data-bn-ipg="traveltip-average-7-5"><img src="http://pic.qyer.com/album/user/394/96/QkBRSxwFaQ/index/200x133" width="200" height="133" alt="土耳其游记（攻略为主）"/></a></a>
  </div>
  <div class="cnt">
    <div class="top">
      <p class="face">
        <a href="http://user.qyer.com/user_uid_1023535" data-bn-ipg="traveltip-average-7-2"><img src="http://static.qyer.com/data/avatar/001/02/35/35_avatar_middle.jpg" width="48" height="48" alt="卿飒飒"/></a>
      </p>

      <h3 class="title">
        <a href="http://bbs.qyer.com/thread-802895-1.html" title="土耳其游记（攻略为主）" target="_blank" data-bn-ipg="traveltip-average-7-1">土耳其游记（攻略为主）</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>
      </h3>

      <div>
        <p class="fr">
          <span class="time">2013-05-26</span><span class="bbsview" title="浏览">2429</span><span class="bbsreply" title="回复">55</span><span class="bbslike" title="喜欢">6</span>
        </p>
        <span>作者：<a href="http://user.qyer.com/user_uid_1023535" data-bn-ipg="traveltip-average-7-3">卿飒飒</a></span>
      </div>
    </div>
    <p class="bbstext">
      刚刚从土国回来，迫不及待的把一些东西分享给大家，因为在这个论坛上看到的信息为我的这次旅行提供了许多帮助，首先要感谢卡帕MM，地址：http://bbs.qyer.com/viewthread.php?from=notice&amp;tid=467926&amp;rf=a.. </p>

    <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-26-1.html" title="希腊/土耳其/塞浦路斯/马耳他" data-bn-ipg="traveltip-average-7-4">希腊/土耳其/塞浦路斯/马耳他</a>
      版</p>
  </div>
</li>
<li class="clearfix ">
  <div class="pic">
    <a href="http://bbs.qyer.com/thread-802914-1.html" target="_blank" data-bn-ipg="traveltip-average-8-5"><img src="http://pic.qyer.com/album/user/394/43/QkBRRhkBZA/index/200x133" width="200" height="133" alt="“泰热”四人吃货之旅：十二天暴走清迈-苏梅-曼谷~更新曼谷旅店地图，具体行程更新中"/></a>
  </div>
  <div class="cnt">
    <div class="top">
      <p class="face">
        <a href="http://user.qyer.com/user_uid_701393" data-bn-ipg="traveltip-average-8-2"><img src="http://static.qyer.com/data/avatar/000/70/13/93_avatar_middle.jpg" width="48" height="48" alt="hearmoon"/></a>
      </p>

      <h3 class="title">
        <a href="http://bbs.qyer.com/thread-802914-1.html" title="“泰热”四人吃货之旅：十二天暴走清迈-苏梅-曼谷~更新曼谷旅店地图，具体行程更新中" target="_blank" data-bn-ipg="traveltip-average-8-1">“泰热”四人吃货之旅：十二天暴走清迈-苏梅-曼谷~更新曼谷旅店地图，具体行程更新中</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>
      </h3>

      <div>
        <p class="fr">
          <span class="time">2013-05-26</span><span class="bbsview" title="浏览">2133</span><span class="bbsreply" title="回复">51</span><span class="bbslike" title="喜欢">5</span>
        </p>
        <span>作者：<a href="http://user.qyer.com/user_uid_701393" data-bn-ipg="traveltip-average-8-3">hearmoon</a></span>
      </div>
    </div>
    <p class="bbstext">
      本帖最后由 hearmoon 于 2013-5-29 23:36 编辑 开始增加电梯：
      三地预告片行前准备（机票+电话卡+飞机餐等）
      清迈酒店
      苏梅酒店曼谷家庭旅店
      第一天北京-HK-清迈

      关于此次出行的废话：

      这几年自助游大多受益于穷.. </p>

    <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-106-1.html" title="泰国" data-bn-ipg="traveltip-average-8-4">泰国</a>
      版</p>
  </div>
</li>


</ul>
<p class="ind_bbsbtns">
  <span class="prev-null"></span><span class="next" page="2" onclick="ajaxIndexTravels(this)" data-bn-ipg="traveltip-forword"></span>
</p>
</div>
</div>
<div class="ind_sldline2"></div>

<div>
  <div class="ind_title">
    <h2 class="ind_title_name">旅行相册</h2>
    <a href="http://www.qyer.com/postcards/" class="ind_title_more" title="POSTCARDS" data-bn-ipg='album-discover'>POSTCARDS</a><span class="ind_title_slogan">一张照片, 一个瞬间, 在这里发现一个更美好的世界。</span>
  </div>
  <div class="ind_photolist_fix">
    <ul class="ind_photolist clearfix">

      <li>
        <p class="pic">
          <a href="http://user.qyer.com/album_action_view_albumid_136352_photo_3924870" data-bn-ipg="album-1-1" target="_blank"><img src="http://pic.qyer.com/album/user/392/48/QkBXRhIAYA/index/200x133" width="200" alt="Honeymoon@Prague"/></a>
        </p>

        <div class="foot">
          <p class="face">
            <a href="http://user.qyer.com/user_uid_1259729" data-bn-ipg="album-1-2" title="赵晓照" target="_blank"><img src="http://static.qyer.com/data/avatar/001/25/97/29_avatar_big.jpg" width="30" height="30" alt="赵晓照"/></a>
          </p>

          <p class="writer">
            <a href="http://user.qyer.com/album_action_view_albumid_136352_photo_3924870" data-bn-ipg="album-1-3" title="Honeymoon@Prague" target="_blank">Honeymoon@Prague</a>
          </p>

          <p class="num"><span class="picnum" title="照片">46</span><span class="viewnum" title="浏览">1955</span></p>
        </div>
      </li>


      <li>
        <p class="pic">
          <a href="http://user.qyer.com/album_action_view_albumid_135608_photo_3925144" data-bn-ipg="album-2-1" target="_blank"><img src="http://pic.qyer.com/album/user/392/51/QkBXRxsDZA/index/200x133" width="200" alt="默认相册"/></a>
        </p>

        <div class="foot">
          <p class="face">
            <a href="http://user.qyer.com/user_uid_2178702" data-bn-ipg="album-2-2" title="czr918" target="_blank"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="30" height="30" alt="czr918"/></a>
          </p>

          <p class="writer">
            <a href="http://user.qyer.com/album_action_view_albumid_135608_photo_3925144" data-bn-ipg="album-2-3" title="默认相册" target="_blank">默认相册</a>
          </p>

          <p class="num"><span class="picnum" title="照片">300</span><span class="viewnum" title="浏览">2092</span></p>
        </div>
      </li>


      <li>
        <p class="pic">
          <a href="http://user.qyer.com/album_action_view_albumid_135055_photo_3954752" data-bn-ipg="album-3-1" target="_blank"><img src="http://pic.qyer.com/album/user/395/47/QkBQRh0CYg/index/200x133" width="200" alt="至美挪威"/></a>
        </p>

        <div class="foot">
          <p class="face">
            <a href="http://user.qyer.com/user_uid_1179030" data-bn-ipg="album-3-2" title="偎灶依灶游世界" target="_blank"><img src="http://static.qyer.com/data/avatar/001/17/90/30_avatar_big.jpg" width="30" height="30" alt="偎灶依灶游世界"/></a>
          </p>

          <p class="writer">
            <a href="http://user.qyer.com/album_action_view_albumid_135055_photo_3954752" data-bn-ipg="album-3-3" title="至美挪威" target="_blank">至美挪威</a>
          </p>

          <p class="num"><span class="picnum" title="照片">58</span><span class="viewnum" title="浏览">3994</span></p>
        </div>
      </li>

    </ul>
  </div>
</div>
<div class="ind_sldline2"></div>

<div>
  <div class="ind_title">
    <h2 class="ind_title_name">论坛热门版块</h2>
    <a href="http://bbs.qyer.com" class="ind_title_more" title="更多论坛版块" data-bn-ipg="traveltip-more">更多</a>
  </div>
  <ul class="ind_bbsplate clearfix">


    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-106-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/tg.jpg" width="48" height="48" alt="泰国"/></a>
      </p>

      <p class="title"><a href="http://bbs.qyer.com/forum-106-1.html" title="泰国" data-bn-ipg="bbs-{j}-2">泰国</a></p>

      <p>冬荫功汤、四面佛和国王</p>

      <p>20169个主题</p>
    </li>
    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-53-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/mg.jpg" width="48" height="48" alt="美国"/></a>
      </p>

      <p class="title"><a href="http://bbs.qyer.com/forum-53-1.html" title="美国" data-bn-ipg="bbs-{j}-2">美国</a></p>

      <p>多元、都市和自然</p>

      <p>25992个主题</p>
    </li>
    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-108-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xjp.jpg" width="48" height="48" alt="新加坡/马来西亚/文莱"/></a>
      </p>

      <p class="title">
        <a href="http://bbs.qyer.com/forum-108-1.html" title="新加坡/马来西亚/文莱" data-bn-ipg="bbs-{j}-2">新加坡/马来西亚/文莱</a></p>

      <p>狮身鱼尾、肉骨茶和双子塔</p>

      <p>18037个主题</p>
    </li>
    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-52-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xgam.jpg" width="48" height="48" alt="香港/澳门/台湾"/></a>
      </p>

      <p class="title">
        <a href="http://bbs.qyer.com/forum-52-1.html" title="香港/澳门/台湾" data-bn-ipg="bbs-{j}-2">香港/澳门/台湾</a></p>

      <p>明珠、明珠还是明珠</p>

      <p>10033个主题</p>
    </li>
    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-16-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ygael.jpg" width="48" height="48" alt="英国/爱尔兰"/></a>
      </p>

      <p class="title"><a href="http://bbs.qyer.com/forum-16-1.html" title="英国/爱尔兰" data-bn-ipg="bbs-{j}-2">英国/爱尔兰</a>
      </p>

      <p>Fish&amp;Chips or U2</p>

      <p>13562个主题</p>
    </li>
    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-13-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ydl.jpg" width="48" height="48" alt="意大利/梵蒂冈/圣马力诺"/></a>
      </p>

      <p class="title">
        <a href="http://bbs.qyer.com/forum-13-1.html" title="意大利/梵蒂冈/圣马力诺" data-bn-ipg="bbs-{j}-2">意大利/梵蒂冈/圣马力诺</a></p>

      <p>爱速度还是爱披萨？</p>

      <p>29047个主题</p>
    </li>
    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-12-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/dg.jpg" width="48" height="48" alt="德国"/></a>
      </p>

      <p class="title"><a href="http://bbs.qyer.com/forum-12-1.html" title="德国" data-bn-ipg="bbs-{j}-2">德国</a></p>

      <p>穷游诞生地！</p>

      <p>27036个主题</p>
    </li>
    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-110-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/flb.jpg" width="48" height="48" alt="菲律宾/关岛/塞班/天宁"/></a>
      </p>

      <p class="title">
        <a href="http://bbs.qyer.com/forum-110-1.html" title="菲律宾/关岛/塞班/天宁" data-bn-ipg="bbs-{j}-2">菲律宾/关岛/塞班/天宁</a></p>

      <p>海岛海岛好多海岛</p>

      <p>6033个主题</p>
    </li>
    <li>
      <p class="pic">
        <a href="http://bbs.qyer.com/forum-57-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/rb.jpg" width="48" height="48" alt="日本/韩国/朝鲜"/></a>
      </p>

      <p class="title">
        <a href="http://bbs.qyer.com/forum-57-1.html" title="日本/韩国/朝鲜" data-bn-ipg="bbs-{j}-2">日本/韩国/朝鲜</a></p>

      <p>樱花、泡菜和领袖</p>

      <p>9059个主题</p>
    </li>
  </ul>
</div>
<div class="ind_sldline2"></div>
