<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>出境游_旅行指南_旅游攻略_游记攻略_境外旅游 - 穷游网</title>
  <meta name="keywords" content="旅行指南,攻略,游记,出境游,自助游">
  <meta name="description" content="穷游网鼓励和帮助中国旅行者以自己的视角和方式体验世界，为出国旅行者提供专业、实用、全面的出境游旅行指南和旅游攻略，是中国出境游旅行者们分享旅游目的地信息和游记攻略的平台。">
  <meta name="google-site-verification" content="DVVM1p1HEm8vE1wVOQ9UjcKP--pNAsg_pleTU5TkFaM" />
  <link rel="shortcut icon" href="http://www.qyer.com/favicon.ico"/>
  <link rel="stylesheet" href="/static/css/base.css"/>
  <link rel="stylesheet" href="/static/css/headfoot.css"/>
  <link rel="stylesheet" href="/static/css/index/style.css"/>
  <link rel="stylesheet" href="/static/css/jquery.ui.datepicker.css"/>
  <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/static/js/global.js"></script>
  <script type="text/javascript" src="/static/js/jquery.datetimeplus.js"></script>
  <script type="text/javascript" src="/static/js/jquery.ui.core.js"></script>
  <script type="text/javascript" src="/static/js/jquery.ui.datepicker.js"></script>
  <script type="text/javascript" src="/static/js/hotel/oper_hotel.js"></script>

  <script>

      if(/(MIDP|WAP|UP\.Browser|Smartphone|Obigo|AU\.Browser|wxd\.Mms|WxdB\.Browser|CLDC|UP\.Link|KM\.Browser|UCWEB|SEMC\-Browser|Mini|Symbian|Palm|Nokia|Panasonic|MOT\-|SonyEricsson|NEC\-|Alcatel|Ericsson|BENQ|BenQ|Amoisonic|Amoi\-|Capitel|PHILIPS|SAMSUNG|Lenovo|Mitsu|Motorola|SHARP|WAPPER|LG\-|LG\/|EG900|CECT|Compal|kejian|Bird|BIRD|G900\/V1.0|Arima|CTL|TDG|Daxian|DAXIAN|DBTEL|Eastcom|EASTCOM|PANTECH|Dopod|Haier|HAIER|KONKA|KEJIAN|LENOVO|Soutec|SOUTEC|SAGEM|SEC\-|SED\-|EMOL\-|INNO55|ZTE|iPhone|Android|Windows CE|Wget|Java|curl|Opera)/g.test(navigator.userAgent) && /qyer\.com/.test(document.referrer)==false){
          location.href = "http://m.qyer.com";
      }

  </script>

</head>

<body>
<div class="qyer_header_fixed">
  <div class="qyer_header_bg">
    <div class="qyer_header">
      <div class="qyer_head_logo"><a href="http://www.qyer.com/" data-bn-ipg="head-logo"><img src="http://static.qyer.com/images/common/head/ind_logo.png" alt="穷游网" title="穷游网 - 旅途永无穷尽" width="106" height="38" /></a></div>
      <ul class="qyer_head_nav">
        <li class="qyer_head_nav_item" id="qyer_head_nav_item_place"><a href="http://place.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_place" data-bn-ipg="head-nav-place">目的地</a></li>
        <li class="qyer_head_nav_item" id="qyer_head_nav_item_guide"><a href="http://guide.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_guide" data-bn-ipg="head-nav-guide">穷游锦囊</a></li>
        <li class="qyer_head_nav_item" id="qyer_head_nav_item_bbs"><a href="http://bbs.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_bbs" data-bn-ipg="head-nav-bbs">论坛</a></li>
        <li class="qyer_head_nav_item" id="qyer_head_nav_item_ask"><a href="http://ask.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_ask" data-bn-ipg="head-nav-ask">问答</a></li>
        <li class="qyer_head_nav_item" id="qyer_head_nav_item_lastm"><a href="http://www.qyer.com/lastminute/" class="qyer_head_nav_item_tit qyer_head_nav_item_lastm" data-bn-ipg="head-nav-lastminute">穷游折扣</a></li>
        <li class="qyer_head_nav_item " id="qyer_head_nav_item_hotel"><a href="http://hotel.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_hotel" data-bn-ipg="head-nav-hotel">酒店</a></li>
        <li class="qyer_head_nav_item " id="qyer_head_nav_item_yd"><span class="qyer_head_nav_item_tit qyer_head_nav_item_yd">预订</span>
          <div class="qyer_head_subnav_bg">
            <div class="qyer_head_subnav_top"></div>
            <ul class="qyer_head_subnav_list">
              <li><a href="http://flight.qyer.com/" class="qyer_head_nav_item_plane" data-bn-ipg="head-nav-plane">机票</a></li>
              <li><a href="http://bx.qyer.com/" class="qyer_head_nav_item_insure" data-bn-ipg="head-nav-insure">保险</a></li>
              <li><a href="http://qz.qyer.com/" class="qyer_head_nav_item_visa" data-bn-ipg="head-nav-visa">签证</a></li>
              <li><a href="http://www.qyer.com/hoteldeal/" class="qyer_head_nav_item_hoteldeal" data-bn-ipg="head-nav-hoteldeal">特价酒店</a></li>
              <li><a href="http://www.qyer.com/shop/" class="qyer_head_nav_item_shop" data-bn-ipg="head-nav-shop">华人旅馆</a></li>
              <li><a href="http://www.qyer.com/goto.php?url=http://www.tapotiexie.com" target="_blank" class="qyer_head_nav_item_liner" data-bn-ipg="head-nav-liner">邮轮</a></li>
              <li><a href="http://car.qyer.com/" class="qyer_head_nav_item_car" data-bn-ipg="head-nav-car">租车</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <script type="text/javascript" src="http://user.qyer.com/user_action_logininfo_m_userloginsync?rand=wWzeAK"></script>
      <script src="http://static.qyer.com/js/common/search.js" type="text/javascript"></script>
    </div>
  </div>
</div>
<script type="text/javascript">
    (function($){
        $("#qyer_head_nav_item_yd").hover(function(){
            $(this).addClass("qyer_head_nav_item_current");
            $(this).find(".qyer_head_subnav_bg").show();
        },function(){
            $(this).removeClass("qyer_head_nav_item_current");
            $(this).find(".qyer_head_subnav_bg").hide();
        });
    })(jQuery);
</script>
<div class="ind_topbg">
  <div class="ind_topmain">
    <div class="ind_slogan2_fix" id="_jslogintips">
      <div class="ind_slogan2" >
        <p class="btns"><a href="javascript:;" class="weibo _jsweibologin" data-bn-ipg="top-rl-weibo">微博登录</a><a href="javascript:;" class="qq _jsqqlogin" data-bn-ipg="top-rl-qq">QQ登录</a><a href="http://login.qyer.com/register.php" class="regist" data-bn-ipg="top-rl-mail">邮件注册</a></p>
      </div>
    </div>
    <p class="ind_slogan" id="_jsloginedtips" style="display:none">专注出境旅行 - 大家帮助大家, 共同探索美好世界</p>

    <div id="ind_focus" class="ind_focus">
      <div class="slides_container">
        <div class="slides_control">
          <div class="slide" data-bn-ipg="50"><iframe id='ae603008' name='ae603008' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=22&cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='680' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=ac612862&cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=22&cb=INSERT_RANDOM_NUMBER_HERE&n=ac612862' border='0' alt='' /></a></iframe></div>
          <div class="slide" data-bn-ipg="51"><iframe id='a0091372' name='a0091372' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=23&cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='680' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=ace4c883&cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=23&cb=INSERT_RANDOM_NUMBER_HERE&n=ace4c883' border='0' alt='' /></a></iframe></div>
          <div class="slide" data-bn-ipg="52"><iframe id='abb5f22d' name='abb5f22d' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=24&cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='680' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a3722ad6&cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=24&cb=INSERT_RANDOM_NUMBER_HERE&n=a3722ad6' border='0' alt='' /></a></iframe></div>
          <div class="slide" data-bn-ipg="53"><iframe id='a05ccf6f' name='a05ccf6f' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=25&cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='680' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a83ae5f5&cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=25&cb=INSERT_RANDOM_NUMBER_HERE&n=a83ae5f5' border='0' alt='' /></a></iframe></div>
          <div class="slide" data-bn-ipg="54"><iframe id='a19b9973' name='a19b9973' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=26&cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='680' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a06fdaef&cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=26&cb=INSERT_RANDOM_NUMBER_HERE&n=a06fdaef' border='0' alt='' /></a></iframe></div>
        </div>
      </div>
    </div>
    <div class="ind_toprbox">
      <ul class="ind_navlist">
        <li class="place"><a href="http://place.qyer.com" data-bn-ipg="leftnav-place"><span class="title fontYaHei">目的地</span><span class="text">40000个目的地</span></a></li>
        <li class="bbs">
          <a href="http://bbs.qyer.com" data-bn-ipg="leftnav-bbs"><span class="title fontYaHei">论坛</span>
            <span class="text">					6615167篇帖子</span></a>
        </li>
        <li class="ask"><a href="http://ask.qyer.com" data-bn-ipg="leftnav-ask"><span class="title fontYaHei">问答</span><span class="text">248404个旅行问题</span></a></li>
        <li class="plan"><a href="http://plan.qyer.com" data-bn-ipg="leftnav-plan"><span class="title fontYaHei">行程助手</span><span class="text">旅行计划工具</span></a></li>
      </ul>
      <div class="ind_app clearfix" id="_jsiconrand">

      </div>
    </div>
    <div class="cb"></div>
  </div>
</div>

<div class="ind_main">
<div class="ind_content">
<div>
  <div class="ind_title">
    <span class="ind_guidedown">立即下载&nbsp;&nbsp;<a href="http://app.qyer.com/guide/"  data-bn-ipg='guide-app'>穷游锦囊应用</a></span><h2 class="ind_title_name">热门下载锦囊</h2>
    <a href="http://guide.qyer.com" class="ind_title_more" title="更多穷游锦囊" data-bn-ipg="guide-more">更多</a><span class="ind_title_slogan">全世界中国旅行者为你撰写的旅行指南 - 原创 实用 快速更新</span>
  </div>
  <ul class="ind_guidelist clearfix">


    <li>
      <p class="pic"><a href="http://guide.qyer.com/malta/" data-bn-ipg="guide-1-2" target="_blank"><img src="http://site.qyer.com/uploadfile/2013/0529/20130529044944810.jpg" width="100" height="150" alt="马耳他穷游锦囊" title="马耳他穷游锦囊" /><span class="new"></span></a></p>
      <p class="title"><a href="http://guide.qyer.com/malta/" title="马耳他"  data-bn-ipg="guide-1-1" target="_blank">马耳他</a></p>
      <p class="time">2013-05-29</p>
    </li>


    <li>
      <p class="pic"><a href="http://guide.qyer.com/taste-of-italy/" data-bn-ipg="guide-2-2" target="_blank"><img src="http://site.qyer.com/uploadfile/2013/0523/20130523032325624.jpg" width="100" height="150" alt="意大利美食穷游锦囊" title="意大利美食穷游锦囊" /><span class="new"></span></a></p>
      <p class="title"><a href="http://guide.qyer.com/taste-of-italy/" title="意大利美食"  data-bn-ipg="guide-2-1" target="_blank">意大利美食</a></p>
      <p class="time">2013-05-23</p>
    </li>


    <li>
      <p class="pic"><a href="http://guide.qyer.com/nha-trang/" data-bn-ipg="guide-3-2" target="_blank"><img src="http://site.qyer.com/uploadfile/2013/0522/20130522064018296.jpg" width="100" height="150" alt="芽庄穷游锦囊" title="芽庄穷游锦囊" /><span class="new"></span></a></p>
      <p class="title"><a href="http://guide.qyer.com/nha-trang/" title="芽庄"  data-bn-ipg="guide-3-1" target="_blank">芽庄</a></p>
      <p class="time">2013-05-22</p>
    </li>


    <li>
      <p class="pic"><a href="http://guide.qyer.com/hoi-an/" data-bn-ipg="guide-4-2" target="_blank"><img src="http://site.qyer.com/uploadfile/2013/0517/20130517074835476.jpg" width="100" height="150" alt="会安穷游锦囊" title="会安穷游锦囊" /><span class="new"></span></a></p>
      <p class="title"><a href="http://guide.qyer.com/hoi-an/" title="会安"  data-bn-ipg="guide-4-1" target="_blank">会安</a></p>
      <p class="time">2013-05-17</p>
    </li>


    <li>
      <p class="pic"><a href="http://guide.qyer.com/buenos-aires/" data-bn-ipg="guide-5-2" target="_blank"><img src="http://site.qyer.com/uploadfile/2013/0517/20130517053413189.jpg" width="100" height="150" alt="布宜诺斯艾利斯穷游锦囊" title="布宜诺斯艾利斯穷游锦囊" /><span class="new"></span></a></p>
      <p class="title"><a href="http://guide.qyer.com/buenos-aires/" title="布宜诺斯艾利斯"  data-bn-ipg="guide-5-1" target="_blank">布宜诺斯艾利斯</a></p>
      <p class="time">2013-5-17</p>
    </li>

  </ul>
</div>
<div class="ind_sldline2"></div>

<div id="indbbs">
  <div class="ind_title">
    <h2 class="ind_title_name">游记攻略</h2>
    <a href="http://bbs.qyer.com" class="ind_title_more" title="更多游记攻略" data-bn-ipg="traveltip-more">更多</a>
  </div>
  <div id="indbbslist">
    <ul class="ind_bbslist clearfix" >
      <li class="clearfix first">
        <div class="pic"><a href="http://bbs.qyer.com/thread-803266-1.html" target="_blank" data-bn-ipg="traveltip-essence-1-5"><img src="http://pic.qyer.com/album/user/395/16/QkBQQxwOYg/index/200x133" width="200" height="133" alt="巴黎之行告诉我的十件事" /><span class="elite">精华</span></a></a></div>
        <div class="cnt">
          <div class="top">
            <p class="face"><a href="http://user.qyer.com/user_uid_1613664" data-bn-ipg="traveltip-essence-1-2"><img src="http://static.qyer.com/data/avatar/001/61/36/64_avatar_middle.jpg" width="48" height="48" alt="贺兰牛" /></a></p>
            <h3 class="title">
              <a href="http://bbs.qyer.com/thread-803266-1.html" title="巴黎之行告诉我的十件事" target="_blank" data-bn-ipg="traveltip-essence-1-1">巴黎之行告诉我的十件事</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>							</h3>
            <div>
              <p class="fr"><span class="time">2013-05-27</span><span class="bbsview" title="浏览">2011</span><span class="bbsreply" title="回复">42</span><span class="bbslike" title="喜欢">4</span></p>
              <span>作者：<a href="http://user.qyer.com/user_uid_1613664" data-bn-ipg="traveltip-essence-1-3">贺兰牛</a></span>
            </div>
          </div>
          <p class="bbstext">
            本帖最后由 贺兰牛 于 2013-5-30 06:12 编辑 巴黎之行告诉我的十件事
            1.巴黎人的英语目测和天朝差不多，老一辈的大多直接不会，只能肢体眼神意念交流，年轻人很热心能说几句，他们当这是锻炼口语的机会，但多数纠缠..							</p>
          <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-14-1.html" title="法国/摩纳哥" data-bn-ipg="traveltip-essence-1-4">法国/摩纳哥</a> 版</p>
        </div>
      </li>
      <li class="clearfix ">
        <div class="pic"><a href="http://bbs.qyer.com/thread-802401-1.html" target="_blank" data-bn-ipg="traveltip-average-2-5"><img src="http://pic.qyer.com/album/user/393/46/QkBWRhwEZw/index/200x133" width="200" height="133" alt="更新中，和父母游大马，如何网上购买巴士票，萤火虫，马六甲，槟城，热浪岛，吉隆坡" /></a></a></div>
        <div class="cnt">
          <div class="top">
            <p class="face"><a href="http://user.qyer.com/user_uid_2241186" data-bn-ipg="traveltip-average-2-2"><img src="http://static.qyer.com/data/images/noavatar_middle.gif" width="48" height="48" alt="一路走着2012" /></a></p>
            <h3 class="title">
              <a href="http://bbs.qyer.com/thread-802401-1.html" title="更新中，和父母游大马，如何网上购买巴士票，萤火虫，马六甲，槟城，热浪岛，吉隆坡" target="_blank" data-bn-ipg="traveltip-average-2-1">更新中，和父母游大马，如何网上购买巴士票，萤火虫，马六甲，槟城，热浪岛，吉隆坡</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>							</h3>
            <div>
              <p class="fr"><span class="time">2013-05-24</span><span class="bbsview" title="浏览">1276</span><span class="bbsreply" title="回复">50</span><span class="bbslike" title="喜欢">1</span></p>
              <span>作者：<a href="http://user.qyer.com/user_uid_2241186" data-bn-ipg="traveltip-average-2-3">一路走着2012</a></span>
            </div>
          </div>
          <p class="bbstext">
            本帖最后由 一路走着2012 于 2013-5-29 22:13 编辑 很早之前就开始筹备大马游了，在这里要感谢所有穷游儿们的信息。下载了穷游锦囊，很有用！现在回来了，也准备写游记来回馈给穷游儿们~
            因为这次除了我和老公，还..							</p>
          <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-108-1.html" title="新加坡/马来西亚/文莱" data-bn-ipg="traveltip-average-2-4">新加坡/马来西亚/文莱</a> 版</p>
        </div>
      </li>
      <li class="clearfix ">
        <div class="pic"><a href="http://bbs.qyer.com/thread-798912-1.html" target="_blank" data-bn-ipg="traveltip-average-3-5"><img src="http://pic.qyer.com/album/user/386/69/QkFTRBMHaA/index/200x133" width="200" height="133" alt="【秘鲁你好】—— 在南美跟旧的自己说再见 （全文完）" /></a></a></div>
        <div class="cnt">
          <div class="top">
            <p class="face"><a href="http://user.qyer.com/user_uid_1391729" data-bn-ipg="traveltip-average-3-2"><img src="http://static.qyer.com/data/avatar/001/39/17/29_avatar_middle.jpg" width="48" height="48" alt="杨小塔爱张起灵" /></a></p>
            <h3 class="title">
              <a href="http://bbs.qyer.com/thread-798912-1.html" title="【秘鲁你好】—— 在南美跟旧的自己说再见 （全文完）" target="_blank" data-bn-ipg="traveltip-average-3-1">【秘鲁你好】—— 在南美跟旧的自己说再见 （全文完）</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>							</h3>
            <div>
              <p class="fr"><span class="time">2013-05-18</span><span class="bbsview" title="浏览">1843</span><span class="bbsreply" title="回复">37</span><span class="bbslike" title="喜欢">4</span></p>
              <span>作者：<a href="http://user.qyer.com/user_uid_1391729" data-bn-ipg="traveltip-average-3-3">杨小塔爱张起灵</a></span>
            </div>
          </div>
          <p class="bbstext">
            本帖最后由 杨小塔爱张起灵 于 2013-5-29 12:07 编辑 It's the possibility of having a dream come true that makes life interesting.
            -- by..							</p>
          <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-55-1.html" title="拉丁美洲/南极" data-bn-ipg="traveltip-average-3-4">拉丁美洲/南极</a> 版</p>
        </div>
      </li>
      <li class="clearfix ">
        <div class="pic"><a href="http://bbs.qyer.com/thread-798554-1.html" target="_blank" data-bn-ipg="traveltip-average-4-5"><img src="http://pic.qyer.com/album/user/386/59/QkFTRxMAYw/index/200x133" width="200" height="133" alt="玩在温哥华(以当地人的角度，而非走马观花)" /></a></div>
        <div class="cnt">
          <div class="top">
            <p class="face"><a href="http://user.qyer.com/user_uid_1264642" data-bn-ipg="traveltip-average-4-2"><img src="http://static.qyer.com/data/avatar/001/26/46/42_avatar_middle.jpg" width="48" height="48" alt="magicpeach" /></a></p>
            <h3 class="title">
              <a href="http://bbs.qyer.com/thread-798554-1.html" title="玩在温哥华(以当地人的角度，而非走马观花)" target="_blank" data-bn-ipg="traveltip-average-4-1">玩在温哥华(以当地人的角度，而非走马观花)</a>							</h3>
            <div>
              <p class="fr"><span class="time">2013-05-13</span><span class="bbsview" title="浏览">8267</span><span class="bbsreply" title="回复">141</span><span class="bbslike" title="喜欢">17</span></p>
              <span>作者：<a href="http://user.qyer.com/user_uid_1264642" data-bn-ipg="traveltip-average-4-3">magicpeach</a></span>
            </div>
          </div>
          <p class="bbstext">
            本帖最后由 magicpeach 于 2013-5-29 06:12 编辑 注：我的weibo是:http://weibo.com/colorfulcloud，有什么关于温哥华的问题可以随时问我
            来温哥华上学已经半年多了，估计一年之后就要离开温哥华了，所以准备开个帖..							</p>
          <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-54-1.html" title="加拿大" data-bn-ipg="traveltip-average-4-4">加拿大</a> 版</p>
        </div>
      </li>
      <li class="clearfix ">
        <div class="pic"><a href="http://bbs.qyer.com/thread-801649-1.html" target="_blank" data-bn-ipg="traveltip-essence-5-5"><img src="http://pic.qyer.com/album/user/395/37/QkBQQR0BYg/index/200x133" width="200" height="133" alt="2013年5月摩洛哥12天旅行总结（含自驾攻略）" /><span class="elite">精华</span></a></a></div>
        <div class="cnt">
          <div class="top">
            <p class="face"><a href="http://user.qyer.com/user_uid_43310" data-bn-ipg="traveltip-essence-5-2"><img src="http://static.qyer.com/data/images/noavatar_middle.gif" width="48" height="48" alt="kangdingqg" /></a></p>
            <h3 class="title">
              <a href="http://bbs.qyer.com/thread-801649-1.html" title="2013年5月摩洛哥12天旅行总结（含自驾攻略）" target="_blank" data-bn-ipg="traveltip-essence-5-1">2013年5月摩洛哥12天旅行总结（含自驾攻略）</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>							</h3>
            <div>
              <p class="fr"><span class="time">2013-05-24</span><span class="bbsview" title="浏览">1105</span><span class="bbsreply" title="回复">33</span><span class="bbslike" title="喜欢">4</span></p>
              <span>作者：<a href="http://user.qyer.com/user_uid_43310" data-bn-ipg="traveltip-essence-5-3">kangdingqg</a></span>
            </div>
          </div>
          <p class="bbstext">
            本人一贯的发帖风格，只写文字干货，请各位见谅了，有什么需要交流的，欢迎回帖或者站内信。


            我们整个团队2男3女，在摩洛哥一共待了11天多，第一天下午从西班牙的Tarifa坐船到Tangier，从Tangier坐CTM大巴到Tetou..							</p>
          <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-86-1.html" title="北非" data-bn-ipg="traveltip-essence-5-4">北非</a> 版</p>
        </div>
      </li>
      <li class="clearfix ">
        <div class="pic"><a href="http://bbs.qyer.com/thread-801465-1.html" target="_blank" data-bn-ipg="traveltip-essence-6-5"><img src="http://pic.qyer.com/album/user/392/11/QkBXQxsDYw/index/200x133" width="200" height="133" alt="1抹绿，2杯酒，3重弯-心醉在意大利的托斯卡纳（含1千公里自驾心得+路线+美图）完工！" /><span class="elite">精华</span></a></a></div>
        <div class="cnt">
          <div class="top">
            <p class="face"><a href="http://user.qyer.com/user_uid_1091154" data-bn-ipg="traveltip-essence-6-2"><img src="http://static.qyer.com/data/avatar/001/09/11/54_avatar_middle.jpg" width="48" height="48" alt="pinglemonster" /></a></p>
            <h3 class="title">
              <a href="http://bbs.qyer.com/thread-801465-1.html" title="1抹绿，2杯酒，3重弯-心醉在意大利的托斯卡纳（含1千公里自驾心得+路线+美图）完工！" target="_blank" data-bn-ipg="traveltip-essence-6-1">1抹绿，2杯酒，3重弯-心醉在意大利的托斯卡纳（含1千公里自驾心得+路线+美图）完工！</a>							</h3>
            <div>
              <p class="fr"><span class="time">2013-05-22</span><span class="bbsview" title="浏览">2051</span><span class="bbsreply" title="回复">60</span><span class="bbslike" title="喜欢">16</span></p>
              <span>作者：<a href="http://user.qyer.com/user_uid_1091154" data-bn-ipg="traveltip-essence-6-3">pinglemonster</a></span>
            </div>
          </div>
          <p class="bbstext">
            本帖最后由 pinglemonster 于 2013-5-27 07:16 编辑 7天托斯卡纳自驾已经全部更新完毕。。。主贴从1楼到9楼~喜欢的朋友别忘记支持LZ，在右上角点击：~喜欢~哦1楼：行程+住宿总结2楼：自驾总结3楼：比萨到Levanto, ..							</p>
          <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-13-1.html" title="意大利/梵蒂冈/圣马力诺" data-bn-ipg="traveltip-essence-6-4">意大利/梵蒂冈/圣马力诺</a> 版</p>
        </div>
      </li>
      <li class="clearfix ">
        <div class="pic"><a href="http://bbs.qyer.com/thread-802895-1.html" target="_blank" data-bn-ipg="traveltip-average-7-5"><img src="http://pic.qyer.com/album/user/394/96/QkBRSxwFaQ/index/200x133" width="200" height="133" alt="土耳其游记（攻略为主）" /></a></a></div>
        <div class="cnt">
          <div class="top">
            <p class="face"><a href="http://user.qyer.com/user_uid_1023535" data-bn-ipg="traveltip-average-7-2"><img src="http://static.qyer.com/data/avatar/001/02/35/35_avatar_middle.jpg" width="48" height="48" alt="卿飒飒" /></a></p>
            <h3 class="title">
              <a href="http://bbs.qyer.com/thread-802895-1.html" title="土耳其游记（攻略为主）" target="_blank" data-bn-ipg="traveltip-average-7-1">土耳其游记（攻略为主）</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>							</h3>
            <div>
              <p class="fr"><span class="time">2013-05-26</span><span class="bbsview" title="浏览">2429</span><span class="bbsreply" title="回复">55</span><span class="bbslike" title="喜欢">6</span></p>
              <span>作者：<a href="http://user.qyer.com/user_uid_1023535" data-bn-ipg="traveltip-average-7-3">卿飒飒</a></span>
            </div>
          </div>
          <p class="bbstext">
            刚刚从土国回来，迫不及待的把一些东西分享给大家，因为在这个论坛上看到的信息为我的这次旅行提供了许多帮助，首先要感谢卡帕MM，地址：http://bbs.qyer.com/viewthread.php?from=notice&amp;tid=467926&amp;rf=a..							</p>
          <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-26-1.html" title="希腊/土耳其/塞浦路斯/马耳他" data-bn-ipg="traveltip-average-7-4">希腊/土耳其/塞浦路斯/马耳他</a> 版</p>
        </div>
      </li>
      <li class="clearfix ">
        <div class="pic"><a href="http://bbs.qyer.com/thread-802914-1.html" target="_blank" data-bn-ipg="traveltip-average-8-5"><img src="http://pic.qyer.com/album/user/394/43/QkBRRhkBZA/index/200x133" width="200" height="133" alt="“泰热”四人吃货之旅：十二天暴走清迈-苏梅-曼谷~更新曼谷旅店地图，具体行程更新中" /></a></div>
        <div class="cnt">
          <div class="top">
            <p class="face"><a href="http://user.qyer.com/user_uid_701393" data-bn-ipg="traveltip-average-8-2"><img src="http://static.qyer.com/data/avatar/000/70/13/93_avatar_middle.jpg" width="48" height="48" alt="hearmoon" /></a></p>
            <h3 class="title">
              <a href="http://bbs.qyer.com/thread-802914-1.html" title="“泰热”四人吃货之旅：十二天暴走清迈-苏梅-曼谷~更新曼谷旅店地图，具体行程更新中" target="_blank" data-bn-ipg="traveltip-average-8-1">“泰热”四人吃货之旅：十二天暴走清迈-苏梅-曼谷~更新曼谷旅店地图，具体行程更新中</a><img src="http://static.qyer.com/images/www/index/bbs_route.png" width="16" height="16" alt="行程单" title="行程单"/>							</h3>
            <div>
              <p class="fr"><span class="time">2013-05-26</span><span class="bbsview" title="浏览">2133</span><span class="bbsreply" title="回复">51</span><span class="bbslike" title="喜欢">5</span></p>
              <span>作者：<a href="http://user.qyer.com/user_uid_701393" data-bn-ipg="traveltip-average-8-3">hearmoon</a></span>
            </div>
          </div>
          <p class="bbstext">
            本帖最后由 hearmoon 于 2013-5-29 23:36 编辑 开始增加电梯：
            三地预告片行前准备（机票+电话卡+飞机餐等）
            清迈酒店
            苏梅酒店曼谷家庭旅店
            第一天北京-HK-清迈

            关于此次出行的废话：

            这几年自助游大多受益于穷..							</p>
          <p class="comefrom">来自：<a target="_blank" href="http://bbs.qyer.com/forum-106-1.html" title="泰国" data-bn-ipg="traveltip-average-8-4">泰国</a> 版</p>
        </div>
      </li>


    </ul>
    <p class="ind_bbsbtns"><span class="prev-null"></span><span class="next" page="2" onclick="ajaxIndexTravels(this)" data-bn-ipg="traveltip-forword"></span></p>
  </div>
</div>
<div class="ind_sldline2"></div>

<div>
  <div class="ind_title">
    <h2 class="ind_title_name">旅行相册</h2>
    <a href="http://www.qyer.com/postcards/" class="ind_title_more" title="POSTCARDS" data-bn-ipg='album-discover'>POSTCARDS</a><span class="ind_title_slogan">一张照片, 一个瞬间, 在这里发现一个更美好的世界。</span>
  </div>
  <div class="ind_photolist_fix">
    <ul class="ind_photolist clearfix">

      <li>
        <p class="pic"><a href="http://user.qyer.com/album_action_view_albumid_136352_photo_3924870" data-bn-ipg="album-1-1" target="_blank"><img src="http://pic.qyer.com/album/user/392/48/QkBXRhIAYA/index/200x133" width="200"  alt="Honeymoon@Prague" /></a></p>
        <div class="foot">
          <p class="face"><a href="http://user.qyer.com/user_uid_1259729" data-bn-ipg="album-1-2" title="赵晓照"  target="_blank"><img src="http://static.qyer.com/data/avatar/001/25/97/29_avatar_big.jpg" width="30" height="30" alt="赵晓照" /></a></p>

          <p class="writer"><a href="http://user.qyer.com/album_action_view_albumid_136352_photo_3924870" data-bn-ipg="album-1-3" title="Honeymoon@Prague" target="_blank">Honeymoon@Prague</a></p>
          <p class="num"><span class="picnum" title="照片">46</span><span class="viewnum" title="浏览">1955</span></p>
        </div>
      </li>


      <li>
        <p class="pic"><a href="http://user.qyer.com/album_action_view_albumid_135608_photo_3925144" data-bn-ipg="album-2-1" target="_blank"><img src="http://pic.qyer.com/album/user/392/51/QkBXRxsDZA/index/200x133" width="200"  alt="默认相册" /></a></p>
        <div class="foot">
          <p class="face"><a href="http://user.qyer.com/user_uid_2178702" data-bn-ipg="album-2-2" title="czr918"  target="_blank"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="30" height="30" alt="czr918" /></a></p>

          <p class="writer"><a href="http://user.qyer.com/album_action_view_albumid_135608_photo_3925144" data-bn-ipg="album-2-3" title="默认相册" target="_blank">默认相册</a></p>
          <p class="num"><span class="picnum" title="照片">300</span><span class="viewnum" title="浏览">2092</span></p>
        </div>
      </li>


      <li>
        <p class="pic"><a href="http://user.qyer.com/album_action_view_albumid_135055_photo_3954752" data-bn-ipg="album-3-1" target="_blank"><img src="http://pic.qyer.com/album/user/395/47/QkBQRh0CYg/index/200x133" width="200"  alt="至美挪威" /></a></p>
        <div class="foot">
          <p class="face"><a href="http://user.qyer.com/user_uid_1179030" data-bn-ipg="album-3-2" title="偎灶依灶游世界"  target="_blank"><img src="http://static.qyer.com/data/avatar/001/17/90/30_avatar_big.jpg" width="30" height="30" alt="偎灶依灶游世界" /></a></p>

          <p class="writer"><a href="http://user.qyer.com/album_action_view_albumid_135055_photo_3954752" data-bn-ipg="album-3-3" title="至美挪威" target="_blank">至美挪威</a></p>
          <p class="num"><span class="picnum" title="照片">58</span><span class="viewnum" title="浏览">3994</span></p>
        </div>
      </li>

    </ul>
  </div>
</div>
<div class="ind_sldline2"></div>

<div>
  <div class="ind_title">
    <h2 class="ind_title_name">论坛热门版块</h2>
    <a href="http://bbs.qyer.com" class="ind_title_more" title="更多论坛版块" data-bn-ipg="traveltip-more">更多</a>
  </div>
  <ul class="ind_bbsplate clearfix">


    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-106-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/tg.jpg" width="48" height="48" alt="泰国" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-106-1.html" title="泰国" data-bn-ipg="bbs-{j}-2">泰国</a></p>
      <p>冬荫功汤、四面佛和国王</p>
      <p>20169个主题</p>
    </li>
    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-53-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/mg.jpg" width="48" height="48" alt="美国" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-53-1.html" title="美国" data-bn-ipg="bbs-{j}-2">美国</a></p>
      <p>多元、都市和自然</p>
      <p>25992个主题</p>
    </li>
    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-108-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xjp.jpg" width="48" height="48" alt="新加坡/马来西亚/文莱" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-108-1.html" title="新加坡/马来西亚/文莱" data-bn-ipg="bbs-{j}-2">新加坡/马来西亚/文莱</a></p>
      <p>狮身鱼尾、肉骨茶和双子塔</p>
      <p>18037个主题</p>
    </li>
    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-52-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/xgam.jpg" width="48" height="48" alt="香港/澳门/台湾" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-52-1.html" title="香港/澳门/台湾" data-bn-ipg="bbs-{j}-2">香港/澳门/台湾</a></p>
      <p>明珠、明珠还是明珠</p>
      <p>10033个主题</p>
    </li>
    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-16-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ygael.jpg" width="48" height="48" alt="英国/爱尔兰" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-16-1.html" title="英国/爱尔兰" data-bn-ipg="bbs-{j}-2">英国/爱尔兰</a></p>
      <p>Fish&amp;Chips or U2</p>
      <p>13562个主题</p>
    </li>
    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-13-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/ydl.jpg" width="48" height="48" alt="意大利/梵蒂冈/圣马力诺" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-13-1.html" title="意大利/梵蒂冈/圣马力诺" data-bn-ipg="bbs-{j}-2">意大利/梵蒂冈/圣马力诺</a></p>
      <p>爱速度还是爱披萨？</p>
      <p>29047个主题</p>
    </li>
    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-12-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/dg.jpg" width="48" height="48" alt="德国" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-12-1.html" title="德国" data-bn-ipg="bbs-{j}-2">德国</a></p>
      <p>穷游诞生地！</p>
      <p>27036个主题</p>
    </li>
    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-110-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/flb.jpg" width="48" height="48" alt="菲律宾/关岛/塞班/天宁" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-110-1.html" title="菲律宾/关岛/塞班/天宁" data-bn-ipg="bbs-{j}-2">菲律宾/关岛/塞班/天宁</a></p>
      <p>海岛海岛好多海岛</p>
      <p>6033个主题</p>
    </li>
    <li>
      <p class="pic"><a href="http://bbs.qyer.com/forum-57-1.html" data-bn-ipg="bbs-{j}-1"><img src="http://bbs.qyer.com/images/go2eu/bbsicon/rb.jpg" width="48" height="48" alt="日本/韩国/朝鲜" /></a></p>
      <p class="title"><a href="http://bbs.qyer.com/forum-57-1.html" title="日本/韩国/朝鲜" data-bn-ipg="bbs-{j}-2">日本/韩国/朝鲜</a></p>
      <p>樱花、泡菜和领袖</p>
      <p>9059个主题</p>
    </li>
  </ul>
</div>
<div class="ind_sldline2"></div>
</div>
<div class="ind_sidebar">
  <div class="mb30">
    <div class="ind_title">
      <h2 class="ind_title_name">特价酒店预订</h2>
    </div>
    <style>
            /*酒店预订*/
        .side_booking_con { padding:20px 10px 26px; border-radius:1px; box-shadow:0 0 4px #ddd; background:#edf5fa;}
        #searchboxInc label { float:left; margin-right:5px; line-height:22px;}
        #searchboxInc .ui_input{float:right;width:176px;background:#fff url(http://static.qyer.com/images/common/booking/booking_input_bg.png) no-repeat right top;padding-right:20px;}
        #searchboxInc #inout .ui_input{background:#fff url(http://static.qyer.com/images/common/booking/booking_input_bg.png) no-repeat right bottom;}
        #searchboxInc .but { padding-top:12px; line-height:28px;}
        #inout div.clearfix{margin-top:12px;}
        .side_booking_placehot{position:absolute;z-index:9;right:0;top:24px;width:201px;border:1px solid #ccc;border-top:0;background:#fff;box-shadow:0 0 1px rgba(0, 0, 0, 0.3);display:none;}
        .side_booking_placehot h4{border-bottom:1px solid #ededed;line-height:32px;font-weight:700;text-indent:10px;color:#636363;}
        .side_booking_placehot ul{padding:5px;overflow:hidden;zoom:1;}
        .side_booking_placehot ul li{width:50%;float:left;line-height:24px;text-indent:5px;}
        .side_booking_placehot ul li a{display:block;color:#077345;}
        .side_booking_placehot ul li a:hover{background:#e6f4d9;text-decoration:none;}
        .side_booking_srchdrop {position:absolute;z-index:9; right:0; top:24px; width:201px; border:1px solid #ccc;border-top:0;background-color:#fff; box-shadow:0 0 1px  rgba(0, 0, 0, 0.3);}
        .side_booking_srchdrop .related {font-weight:bold; color:#007345;}
        .side_booking_srchdrop_list { width:100%; overflow:hidden;}
        .side_booking_srchdrop_list li { border-bottom:1px solid #ebebeb;}
        .side_booking_srchdrop_list li a { display:block;padding:6px 5px 6px 10px; color:#323232;}
        .side_booking_srchdrop_list li a:hover { background-color:#e6f4d9; text-decoration:none; color:#323232;}
        .side_booking_srchdrop_list li .title_cn, .side_booking_srchdrop_list li .title_en {display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
        .side_booking_srchdrop_list li .title_en { color:#959595;}
        .side_booking_srchdrop_more { border-top:1px solid #ebebeb; margin-top:-1px;}
        .side_booking_srchdrop_more a { display:block; padding:6px 0; color:#323232; text-align:center; color:#323232;}
        .side_booking_srchdrop_more a:hover { background-color:#e6f4d9; text-decoration:none; color:#323232;}
        .side_booking_srchdrop_null { text-align:center; line-height:32px;}
    </style>
    <div class="side_booking_con">
      <!-- start copy sourcecode from here -->
      <div id="searchboxInc">
        <form id="frm" name="frm" action="http://www.booking.com/searchresults.html" method="get" target="_blank">
          <fieldset>
            <span data-flag="2" class="icon_error js_poi_error" style="display:none;"></span>
            <div id="destinationSearch" class="clearfix pr js_poi_input_div" style="z-index:9;">
              <label for="destination" class="fl">目的地:</label>
              <input class="ui_input" type="text" id="js_form_poi" name="ss" value="" title="城市, 区域, 国家, 地标, 酒店, 区" placeholder="输入城市" />
              <!--热门城市 -->
              <div class="side_booking_placehot  js_hot_poi_menu">
                <h4>热门目的地</h4>
                <ul>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">巴黎</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">曼谷</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">清迈</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">佛罗伦萨</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">罗马</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">巴塞罗那</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">威尼斯</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">伦敦</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">香港</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">慕尼黑</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">洛杉矶</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">苏黎世</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">阿姆斯特丹</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">雅典</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">吉隆坡</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">米兰</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">新加坡</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">法兰克福</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">纽约</a></li>
                  <li class="js_hot_poi_li"><a href="javascript:void(0);">悉尼</a></li>
                </ul>
              </div>					</div>
            <div id="inout">
              <div id="homein" class="clearfix">
                <label for="from" class="fl">入住日:</label>
                <input type="text"  id="from" name="from" class="ui_input" placeholder="入住日期" value="" onclick="$('.js_poi_error').html('').hide();$('.js_date_error').html('').hide();" onkeyup="VDate(this)"/>
              </div>
              <div id="homeout" class="clearfix">
                <label for="to" class="fl">退房日:</label>
                <input type="text" id="to" name="to" class="ui_input" placeholder="退房日期" value="" onclick="$('.js_poi_error').html('').hide();$('.js_date_error').html('').hide();" onkeyup="VDate(this)"/>
              </div>
            </div>
            <div class="hotel_input_web" style="display:none;">
              <strong class="fl fb cGray pl20">提供酒店的网站：</strong>
              <div class="hotel_input_web_list">
                <input type="checkbox" checked="checked" id="js_site1"/>
                <label>Booking.com</label>
                <input type="checkbox" id="js_site2"/>
                <label>Agoda.com</label>
                <input type="checkbox" id="js_site3" style="display:none;"/>
              </div>
            </div>
            <div class="but">
              <button type="button" id="js_search_button" class="ui_buttonB fr" data-bn-ipg="leftnav-booksearch">搜索</button>
              <span class="cGreen">前台现付&nbsp;&nbsp;免预订费&nbsp;&nbsp;免费取消预订</span></div>
          </fieldset>
        </form>
      </div>
      <!-- end copy sourcecode until here -->
    </div>
  </div>
  <div>
    <div class="ind_title">
      <h2 class="ind_title_name">穷游折扣</h2>
      <a class="ind_title_more" href="http://www.qyer.com/lastminute/" data-bn-ipg="lm-more" title="更多穷游折扣">更多</a>
    </div>
    <ul class="ind_crebate">
      <li>
        <p class="tit"><a href="http://www.qyer.com/lastminute/deal/1113/" title="东航杭州往返曼谷特价机票" target="_blank" data-bn-ipg="lm-1">东航杭州往返曼谷特价机票</a></p>
        <p class="prices"><em>1780</em>元</p>
      </li>
      <li>
        <p class="tit"><a href="http://www.qyer.com/lastminute/deal/1118/" title="港龙航空正十一国内多城市往返台北机票特价" target="_blank" data-bn-ipg="lm-2">港龙航空正十一国内多城市往返台北机票特价</a></p>
        <p class="prices"><em>2005</em>元起</p>
      </li>
    </ul>
  </div>
  <div class="ind_sldline2"></div>

  <div>
    <div class="ind_title">
      <h2 class="ind_title_name">穷游活动</h2>
    </div>
    <div><iframe id='a63818f0' name='a63818f0' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=27&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='270' height='186'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a0f1a1b0&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=27&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a0f1a1b0' border='0' alt='' /></a></iframe></div>
  </div>
  <div class="ind_sldline2"></div>
  <div>
    <div class="ind_title">
      <h2 class="ind_title_name">每日光荣榜</h2>
    </div>
    <div class="ind_honortit"><span class="explain">贡献值最高</span><span class="title">贡献最多者</span></div>
    <ul class="ind_honorlist clearfix">
      <li><a href="http://user.qyer.com/user_uid_593091"  data-bn-ipg="honor-contri-1" title="wangapo"><img src="http://static.qyer.com/data/images/noavatar_middle.gif" width="48" height="48" alt="wangapo"></a></li>
      <li><a href="http://user.qyer.com/user_uid_319596"  data-bn-ipg="honor-contri-2" title="anleo"><img src="http://static.qyer.com/data/avatar/000/31/95/96_avatar_middle.jpg" width="48" height="48" alt="anleo"></a></li>
      <li><a href="http://user.qyer.com/user_uid_1650504"  data-bn-ipg="honor-contri-3" title="sean3076"><img src="http://static.qyer.com/data/avatar/001/65/05/04_avatar_middle.jpg" width="48" height="48" alt="sean3076"></a></li>
      <li><a href="http://user.qyer.com/user_uid_1710181"  data-bn-ipg="honor-contri-4" title="luiszhangxu"><img src="http://static.qyer.com/data/avatar/001/71/01/81_avatar_middle.jpg" width="48" height="48" alt="luiszhangxu"></a></li>
      <li><a href="http://user.qyer.com/user_uid_164029"  data-bn-ipg="honor-contri-5" title="njyinhc"><img src="http://static.qyer.com/data/images/noavatar_middle.gif" width="48" height="48" alt="njyinhc"></a></li>
    </ul>
    <div class="ind_honortit"><span class="explain">游记被回复最多</span><span class="title">最佳写作者</span></div>
    <ul class="ind_honorlist clearfix">
      <li><a href="http://user.qyer.com/user_uid_177463"  data-bn-ipg="honor-writer-1" title="皮皮看灰机"><img src="http://static.qyer.com/data/avatar/000/17/74/63_avatar_middle.jpg" width="48" height="48" alt="皮皮看灰机"></a></li>
      <li><a href="http://user.qyer.com/user_uid_1385379"  data-bn-ipg="honor-writer-2" title="穷游活动君"><img src="http://static.qyer.com/data/avatar/001/38/53/79_avatar_middle.jpg" width="48" height="48" alt="穷游活动君"></a></li>
      <li><a href="http://user.qyer.com/user_uid_899033"  data-bn-ipg="honor-writer-3" title="少儿不遗"><img src="http://static.qyer.com/data/avatar/000/89/90/33_avatar_middle.jpg" width="48" height="48" alt="少儿不遗"></a></li>
      <li><a href="http://user.qyer.com/user_uid_1750114"  data-bn-ipg="honor-writer-4" title="nikolausatp"><img src="http://static.qyer.com/data/images/noavatar_middle.gif" width="48" height="48" alt="nikolausatp"></a></li>
      <li><a href="http://user.qyer.com/user_uid_458481"  data-bn-ipg="honor-writer-5" title="思而行远"><img src="http://static.qyer.com/data/images/noavatar_middle.gif" width="48" height="48" alt="思而行远"></a></li>

    </ul>
    <div class="ind_honortit"><span class="explain">回答问题最多</span><span class="title">最乐于助人</span></div>
    <ul class="ind_honorlist clearfix">
      <li><a href="http://user.qyer.com/user_uid_319596" data-bn-ipg="honor-helper-1" title="anleo"><img src="http://static.qyer.com/data/avatar/000/31/95/96_avatar_middle.jpg" width="48" height="48" alt="anleo"></a></li>
      <li><a href="http://user.qyer.com/user_uid_1504166" data-bn-ipg="honor-helper-2" title="fionayyfiona"><img src="http://static.qyer.com/data/avatar/001/50/41/66_avatar_middle.jpg" width="48" height="48" alt="fionayyfiona"></a></li>
      <li><a href="http://user.qyer.com/user_uid_730302" data-bn-ipg="honor-helper-3" title="小9"><img src="http://static.qyer.com/data/avatar/000/73/03/02_avatar_middle.jpg" width="48" height="48" alt="小9"></a></li>
      <li><a href="http://user.qyer.com/user_uid_228304" data-bn-ipg="honor-helper-4" title="visa007"><img src="http://static.qyer.com/data/avatar/000/22/83/04_avatar_middle.jpg" width="48" height="48" alt="visa007"></a></li>
      <li><a href="http://user.qyer.com/user_uid_1258398" data-bn-ipg="honor-helper-5" title="if衣服if"><img src="http://static.qyer.com/data/avatar/001/25/83/98_avatar_middle.jpg" width="48" height="48" alt="if衣服if"></a></li>
    </ul>
  </div>
  <div class="ind_sldline2"></div>
  <div class="mt30"><iframe id='a88d21e1' name='a88d21e1' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=28&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='270' height='80'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a7451bc3&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=28&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a7451bc3' border='0' alt='' /></a></iframe></div>
  <div class="mt30"><iframe id='a362a1fa' name='a362a1fa' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=183&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='270' height='215'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a87230cc&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=183&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a87230cc' border='0' alt='' /></a></iframe></div>

  <div class="mt30">
    <div class="ind_title">
      <h2 class="ind_title_name">邮件订阅</h2>
    </div>
    <div class="ind_emailyd">
      <p class="title">QYER Newsletter</p>
      <p class="text">获得定期的内容更新，产品功能发布和独特的优惠信息，立刻订阅穷游邮件！</p>
      <div class="btn clearfix"><form action='http://user.qyer.com/subscibe.php' method='get'><input type="text" name="email" value="" placeholder="输入E-mail地址" class="ui_input" /><input type="submit" value="订阅" class="ui_buttonB" data-bn-ipg="leftnav-mailsubscribe"/></form></div>
    </div>
  </div>
  <div class="ind_sldline2"></div>
  <div>
    <h2 class="ind_weibotit fontYaHei">在新浪微博关注穷游网</h2>
    <ul class="ind_weibolist">
      <li><a href="http://weibo.com/go2eu" target="_blank" rel="nofollow" data-bn-ipg="weibo-1">@穷游网</a> - 官方微博</li>
      <li><a href="http://weibo.com/going2eu" target="_blank" rel="nofollow" data-bn-ipg="weibo-2">@穷游锦囊</a> - 出境旅行指南</li>
      <li><a href="http://weibo.com/qyask" target="_blank" rel="nofollow" data-bn-ipg="weibo-3">@穷游问答</a> - 旅行问答君</li>
      <li><a href="http://weibo.com/lastminuteexpress" target="_blank" rel="nofollow" data-bn-ipg="weibo-4">@穷游折扣</a> - 全球打折优惠</li>
    </ul>
  </div>
</div>
<div class="cb"></div>
</div>

<div class="ind_partner_bg">
  <div class="ind_partner"><img src="http://static.qyer.com/images/www/index/ind_partner.png" alt="" width="500" height="80" border="0" usemap="#indpartner">
    <map name="indpartner" id="indpartner">
      <area shape="rect" coords="33,16,125,63" href="http://www.airasia.com/cn/zh/home.page" target="_blank" rel="nofollow" alt="亚航" title="亚航" data-bn-ipg="bottom-1" />
      <area shape="rect" coords="154,20,298,58" href="http://www.booking.com/index.html?aid=336174" target="_blank" rel="nofollow" alt="Booking" title="Booking" data-bn-ipg="bottom-2" />
      <area shape="rect" coords="328,19,393,62" href="http://bbs.qyer.com/forum-100-1.html" target="_blank" alt="境外使用银联卡" title="境外使用银联卡" data-bn-ipg="bottom-3" />
      <area shape="rect" coords="423,20,497,60" href="http://bx.qyer.com/" target="_blank" alt="境外旅游保险" title="境外旅游保险" data-bn-ipg="bottom-4" />
    </map>
  </div>
</div>
<script src="http://static.qyer.com/js/common/slides.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    setTimeout('loadjscssfile("http://static.qyer.com/js/common/beforelogin.js","js")',1000);
</script>
<div class="qyer_footer">
  <div class="qyer_footerBox">
    <ul class="qyer_footer_about">
      <li>
        <dl>
          <dt>关于我们</dt>
          <dd><a href="http://www.qyer.com/htmlpages/about.html" target="_blank" rel="nofollow" data-bn-ipg="foot-about-1">穷游简介</a></dd>
          <dd><a href="http://www.qyer.com/htmlpages/contact.html" target="_blank" rel="nofollow" data-bn-ipg="foot-about-2">联系我们</a></dd>
          <dd><a href="http://www.qyer.com/partner/" target="_blank" rel="nofollow" data-bn-ipg="foot-about-3">合作伙伴</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>加入穷游</dt>
          <dd><a href="http://www.qyer.com/job/" target="_blank" rel="nofollow" data-bn-ipg="foot-join-1">招聘职位</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>网站条款</dt>
          <dd><a href="http://www.qyer.com/htmlpages/member.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-1">会员条款</a></dd>
          <dd><a href="http://www.qyer.com/htmlpages/bbsguide.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-2">社区指南</a></dd>
          <dd><a href="http://www.qyer.com/htmlpages/copyright.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-3">版权声明</a></dd>
          <dd><a href="http://www.qyer.com/htmlpages/exemption.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-4">免责声明</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>帮助中心</dt>
          <dd><a href="http://site.qyer.com/tyro/" target="_blank" rel="nofollow" data-bn-ipg="foot-help-1">新手上路</a></dd>
          <dd><a href="http://bbs.qyer.com/faq.php" target="_blank" rel="nofollow" data-bn-ipg="foot-help-2">使用帮助</a></dd>
          <dd><a href="http://www.surveygizmo.com/s3/465989/289a6cfbafa6" target="_blank" rel="nofollow" data-bn-ipg="foot-help-3">建议和投诉</a></dd>
          <dd><a href="http://www.qyer.com/sitemap.html" target="_blank" data-bn-ipg="foot-help-4">网站地图</a></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>关注我们</dt>
          <dd class="qyer_footer_attention"><img src="http://static.qyer.com/images/common/icon_attention.png" alt="" width="80" height="50" border="0" usemap="#Map_go2att" />
            <map name="Map_go2att" id="Map_go2att">
              <area shape="rect" coords="0,0,20,20" href="http://t.sina.com.cn/go2eu" target="_blank" rel="nofollow" alt="穷游网@新浪微博" title="穷游网@新浪微博" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','weibo',1]);" data-bn-ipg="foot-concern-1" />
              <area shape="rect" coords="30,0,50,20" href="http://www.flickr.com/photos/go2eu" target="_blank" rel="nofollow" alt="穷游网@flickr" title="穷游网@flickr" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','flickr',1]);" data-bn-ipg="foot-concern-2" />
              <area shape="rect" coords="60,0,80,20" href="http://page.renren.com/600986584" target="_blank" rel="nofollow" alt="穷游网@人人" title="穷游网@人人" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','renren',1]);" data-bn-ipg="foot-concern-3" />
              <area shape="rect" coords="0,30,20,50" href="http://site.douban.com/go2eu" target="_blank" rel="nofollow" alt="穷游网@豆瓣" title="穷游网@豆瓣" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','douban',1]);" data-bn-ipg="foot-concern-4" />
              <area shape="rect" coords="30,30,50,50" href="http://www.facebook.com/#!/qiongyou" target="_blank" rel="nofollow" alt="穷游网@facebook" title="穷游网@facebook" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','facebook',1]);" data-bn-ipg="foot-concern-5" />
              <area shape="rect" coords="60,30,82,50" href="http://twitter.com/go2eucom" target="_blank" rel="nofollow" alt="穷游网@twitter" title="穷游网@twitter" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','twitter',1]);" data-bn-ipg="foot-concern-6" />
            </map>
          </dd>
        </dl>
      </li>
    </ul>
    <div class="qyer_footer_appStore"><a href="http://itunes.apple.com/cn/artist/qyer/id492202235" target="_blank" rel="nofollow" data-bn-ipg="foot-appstore"><img src="http://static.qyer.com/images/common/appstore.png" width="118" height="39" alt="穷游网@App Store" title="穷游网@App Store" /></a></div>
    <div class="qyer_footer_copyright"><a href="http://www.qyer.com/" rel="nofollow" data-bn-ipg="foot-logo"><img src="http://static.qyer.com/images/common/foot_logo.png" width="100" height="30" alt="穷游网" /></a>
      <p>2004-2013 &copy; 穷游网&trade; qyer.com All rights reserved. Version v4.11&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备12003524号</a>&nbsp;&nbsp;京公网安备11010502023470</p>
      <p>穷游网为旅行者提供原创实用的出境游旅行指南和旅游攻略、旅行社区和问答交流平台，并提供签证、保险、机票、酒店预订、租车等服务。</p>
    </div>

    <dl class="ind_links">
      <dt>友情链接：</dt>
      <dd><a href="http://trip.elong.com/" target="_blank"  data-bn-ipg="foot-hand-1">艺龙旅游指南</a></dd>
      <dd><a href="http://www.etpass.com" target="_blank"  data-bn-ipg="foot-hand-2">快乐e行</a></dd>
      <dd><a href="http://place.qyer.com/" target="_blank"  data-bn-ipg="foot-hand-3">旅游指南</a></dd>
      <dd><a href="http://www.jiasule.com/" target="_blank"  data-bn-ipg="foot-hand-4">加速乐</a></dd>
      <dd><a href="http://guide.qyer.com/" target="_blank"  data-bn-ipg="foot-hand-5">自助游攻略</a></dd>
      <dd><a href="http://bbs.qyer.com/" target="_blank"  data-bn-ipg="foot-hand-6">旅行社区</a></dd>
      <dd><a href="http://vacations.ctrip.com " target="_blank"  data-bn-ipg="foot-hand-7">携程旅游网</a></dd>
      <dd><a href="http://www.8264.com" target="_blank"  data-bn-ipg="foot-hand-8">户外资料网</a></dd>

    </dl>


  </div>
</div><script type="text/javascript" src="http://static.qyer.com/js/www/index_subjoin.js"></script>
</body>
</html>