<div class="bbs_listtop clearfix">
  <p class="pic"><img src="<%= @forum.ico_path %>" width="60" height="60" alt="加拿大"></p>
  <div class="info">
    <h2 class="title fontYaHei"><%= @forum.name %></h2>
    <p class="text">本版欢迎加拿大有关的旅行话题，关于加拿大的游记、讨论和经验分享都可以发在本版。发帖规则见我们的<a href="http://www.qyer.com/htmlpages/bbsguide.html" target="_blank"><font color="darkgreen">社区指南</font></a></p></div>

  <div class="moderators">
    <dl class="moderator">
      <dt>版主</dt>
      <dd><a href="http://user.qyer.com/user_uid_121066" data-bn-ipg="board-host-1-1"><img src="http://static.qyer.com/data/avatar/000/12/10/66_avatar_big.jpg" width="30" height="30" alt="raynor_y"><span>raynor_y</span></a></dd>
    </dl>
  </div>
</div>

<div class="bbs_sldline2"></div>