<div class="cb"></div>
<div class="bbs_sldline2"></div>
<div class="bbs_btmlists clearfix">

  <div class="bbs_btmlist">
    <h3 class="title">穷游美洲相关版块</h3>

    <div class="lists">
      <ul class="list" style="width:200px;">

        <li><a href="http://bbs.qyer.com/forum-53-1.html" title="美国" data-bn-ipg="board-bottom-board-1">美国</a></li>


        <li><a href="http://bbs.qyer.com/forum-55-1.html" title="拉丁美洲/南极" data-bn-ipg="board-bottom-board-2">拉丁美洲/南极</a></li>


      </ul>
    </div>
  </div>

  <div class="bbs_btmlist">
    <h3 class="title">加拿大热门旅行目的地</h3>

    <div class="lists">

      <ul class="list">

        <li><a href="http://place.qyer.com/canada/" title="加拿大旅游攻略" data-bn-ipg="board-bottom-hotplace-1">加拿大</a></li>
        <li><a href="http://place.qyer.com/toronto/" title="多伦多旅游攻略" data-bn-ipg="board-bottom-hotplace-2">多伦多</a></li>
        <li><a href="http://place.qyer.com/vancouver/" title="温哥华旅游攻略" data-bn-ipg="board-bottom-hotplace-3">温哥华</a></li>
        <li><a href="http://place.qyer.com/niagara-falls-canada/" title="尼亚加拉瀑布城旅游攻略" data-bn-ipg="board-bottom-hotplace-4">尼亚加拉瀑布城</a></li>
        <li><a href="http://place.qyer.com/montreal/" title="蒙特利尔旅游攻略" data-bn-ipg="board-bottom-hotplace-5">蒙特利尔</a></li>
        <li><a href="http://place.qyer.com/ottawa/" title="渥太华旅游攻略" data-bn-ipg="board-bottom-hotplace-6">渥太华</a></li>
        <li><a href="http://place.qyer.com/quebec-city/" title="魁北克市旅游攻略" data-bn-ipg="board-bottom-hotplace-7">魁北克市</a></li>
        <li><a href="http://place.qyer.com/banff-town/" title="班夫镇旅游攻略" data-bn-ipg="board-bottom-hotplace-8">班夫镇</a></li>
        <li><a href="http://place.qyer.com/banff-national-park/" title="班夫国家公园旅游攻略" data-bn-ipg="board-bottom-hotplace-9">班夫国家公园</a></li>
        <li><a href="http://place.qyer.com/ontario/" title="安大略旅游攻略" data-bn-ipg="board-bottom-hotplace-10">安大略</a></li>
        <li><a href="http://place.qyer.com/calgary/" title="卡尔加里旅游攻略" data-bn-ipg="board-bottom-hotplace-11">卡尔加里</a></li>
        <li><a href="http://place.qyer.com/niagara-on-the-lake/" title="尼亚加拉湖边小镇旅游攻略" data-bn-ipg="board-bottom-hotplace-12">尼亚加拉湖边小镇</a></li>
        <li><a href="http://place.qyer.com/glacier-national-park-canada/" title="加拿大冰川国家公园旅游攻略" data-bn-ipg="board-bottom-hotplace-13">加拿大冰川国家公园</a></li>
        <li><a href="http://place.qyer.com/victoria-canada/" title="维多利亚市旅游攻略" data-bn-ipg="board-bottom-hotplace-14">维多利亚市</a></li>
        <li><a href="http://place.qyer.com/kingston-canada/" title="金斯顿旅游攻略" data-bn-ipg="board-bottom-hotplace-15">金斯顿</a></li>
      </ul>

      <ul class="list">

        <li><a href="http://place.qyer.com/edmonton/" title="埃德蒙顿旅游攻略" data-bn-ipg="board-bottom-hotplace-16">埃德蒙顿</a></li>
        <li><a href="http://place.qyer.com/whistler/" title="惠斯勒旅游攻略" data-bn-ipg="board-bottom-hotplace-17">惠斯勒</a></li>
        <li><a href="http://place.qyer.com/halifax/" title="哈利法克斯旅游攻略" data-bn-ipg="board-bottom-hotplace-18">哈利法克斯</a></li>
        <li><a href="http://place.qyer.com/yoho-national-park/" title="幽鹤国家公园旅游攻略" data-bn-ipg="board-bottom-hotplace-19">幽鹤国家公园</a></li>
        <li><a href="http://place.qyer.com/windsor/" title="温莎旅游攻略" data-bn-ipg="board-bottom-hotplace-20">温莎</a></li>
        <li><a href="http://place.qyer.com/new-brunswick/" title="新不伦瑞克旅游攻略" data-bn-ipg="board-bottom-hotplace-21">新不伦瑞克</a></li>
        <li><a href="http://place.qyer.com/winnipeg/" title="温尼伯旅游攻略" data-bn-ipg="board-bottom-hotplace-22">温尼伯</a></li>
        <li><a href="http://place.qyer.com/canmore/" title="坎莫尔旅游攻略" data-bn-ipg="board-bottom-hotplace-23">坎莫尔</a></li>
        <li><a href="http://place.qyer.com/kamloops/" title="坎卢普斯旅游攻略" data-bn-ipg="board-bottom-hotplace-24">坎卢普斯</a></li>
        <li><a href="http://place.qyer.com/kelowna/" title="基洛纳旅游攻略" data-bn-ipg="board-bottom-hotplace-25">基洛纳</a></li>
        <li><a href="http://place.qyer.com/charlottetown/" title="夏洛特敦旅游攻略" data-bn-ipg="board-bottom-hotplace-26">夏洛特敦</a></li>
        <li><a href="http://place.qyer.com/moncton/" title="蒙克顿旅游攻略" data-bn-ipg="board-bottom-hotplace-27">蒙克顿</a></li>
        <li><a href="http://place.qyer.com/yukon-territory/" title="育空地区旅游攻略" data-bn-ipg="board-bottom-hotplace-28">育空地区</a></li>
        <li><a href="http://place.qyer.com/prince-george/" title="乔治王子村旅游攻略" data-bn-ipg="board-bottom-hotplace-29">乔治王子村</a></li>
        <li><a href="http://place.qyer.com/kootenay-national-park/" title="库特内国家公园旅游攻略" data-bn-ipg="board-bottom-hotplace-30">库特内国家公园</a></li>
      </ul>
    </div>
  </div>
  <div class="bbs_btmlist">
    <h3 class="title">加拿大热门旅行目的地游记</h3>

    <div class="lists">
      <ul class="list" style="width:200px;">
        <li><a href="http://place.qyer.com/canada/travel-notes/" title="加拿大游记攻略" data-bn-ipg="board-bottom-travelnotes-1">加拿大游记</a></li>
        <li><a href="http://place.qyer.com/toronto/travel-notes/" title="多伦多游记攻略" data-bn-ipg="board-bottom-travelnotes-2">多伦多游记</a></li>
        <li><a href="http://place.qyer.com/vancouver/travel-notes/" title="温哥华游记攻略" data-bn-ipg="board-bottom-travelnotes-3">温哥华游记</a></li>
        <li><a href="http://place.qyer.com/niagara-falls-canada/travel-notes/" title="尼亚加拉瀑布城游记攻略" data-bn-ipg="board-bottom-travelnotes-4">尼亚加拉瀑布城游记</a></li>
        <li><a href="http://place.qyer.com/montreal/travel-notes/" title="蒙特利尔游记攻略" data-bn-ipg="board-bottom-travelnotes-5">蒙特利尔游记</a></li>
        <li><a href="http://place.qyer.com/ottawa/travel-notes/" title="渥太华游记攻略" data-bn-ipg="board-bottom-travelnotes-6">渥太华游记</a></li>
        <li><a href="http://place.qyer.com/quebec-city/travel-notes/" title="魁北克市游记攻略" data-bn-ipg="board-bottom-travelnotes-7">魁北克市游记</a></li>
        <li><a href="http://place.qyer.com/banff-town/travel-notes/" title="班夫镇游记攻略" data-bn-ipg="board-bottom-travelnotes-8">班夫镇游记</a></li>
        <li><a href="http://place.qyer.com/banff-national-park/travel-notes/" title="班夫国家公园游记攻略" data-bn-ipg="board-bottom-travelnotes-9">班夫国家公园游记</a></li>
        <li><a href="http://place.qyer.com/ontario/travel-notes/" title="安大略游记攻略" data-bn-ipg="board-bottom-travelnotes-10">安大略游记</a></li>
        <li><a href="http://place.qyer.com/calgary/travel-notes/" title="卡尔加里游记攻略" data-bn-ipg="board-bottom-travelnotes-11">卡尔加里游记</a></li>
        <li><a href="http://place.qyer.com/niagara-on-the-lake/travel-notes/" title="尼亚加拉湖边小镇游记攻略" data-bn-ipg="board-bottom-travelnotes-12">尼亚加拉湖边小镇游记</a></li>
        <li><a href="http://place.qyer.com/glacier-national-park-canada/travel-notes/" title="加拿大冰川国家公园游记攻略" data-bn-ipg="board-bottom-travelnotes-13">加拿大冰川国家公园游记</a></li>
        <li><a href="http://place.qyer.com/victoria-canada/travel-notes/" title="维多利亚市游记攻略" data-bn-ipg="board-bottom-travelnotes-14">维多利亚市游记</a></li>
        <li><a href="http://place.qyer.com/kingston-canada/travel-notes/" title="金斯顿游记攻略" data-bn-ipg="board-bottom-travelnotes-15">金斯顿游记</a></li>
      </ul>
      <ul class="list" style="width:200px;">
        <li><a href="http://place.qyer.com/edmonton/travel-notes/" title="埃德蒙顿游记攻略" data-bn-ipg="board-bottom-travelnotes-16">埃德蒙顿游记</a></li>
        <li><a href="http://place.qyer.com/whistler/travel-notes/" title="惠斯勒游记攻略" data-bn-ipg="board-bottom-travelnotes-17">惠斯勒游记</a></li>
        <li><a href="http://place.qyer.com/halifax/travel-notes/" title="哈利法克斯游记攻略" data-bn-ipg="board-bottom-travelnotes-18">哈利法克斯游记</a></li>
        <li><a href="http://place.qyer.com/yoho-national-park/travel-notes/" title="幽鹤国家公园游记攻略" data-bn-ipg="board-bottom-travelnotes-19">幽鹤国家公园游记</a></li>
        <li><a href="http://place.qyer.com/windsor/travel-notes/" title="温莎游记攻略" data-bn-ipg="board-bottom-travelnotes-20">温莎游记</a></li>
        <li><a href="http://place.qyer.com/new-brunswick/travel-notes/" title="新不伦瑞克游记攻略" data-bn-ipg="board-bottom-travelnotes-21">新不伦瑞克游记</a></li>
        <li><a href="http://place.qyer.com/winnipeg/travel-notes/" title="温尼伯游记攻略" data-bn-ipg="board-bottom-travelnotes-22">温尼伯游记</a></li>
        <li><a href="http://place.qyer.com/canmore/travel-notes/" title="坎莫尔游记攻略" data-bn-ipg="board-bottom-travelnotes-23">坎莫尔游记</a></li>
        <li><a href="http://place.qyer.com/kamloops/travel-notes/" title="坎卢普斯游记攻略" data-bn-ipg="board-bottom-travelnotes-24">坎卢普斯游记</a></li>
        <li><a href="http://place.qyer.com/kelowna/travel-notes/" title="基洛纳游记攻略" data-bn-ipg="board-bottom-travelnotes-25">基洛纳游记</a></li>
        <li><a href="http://place.qyer.com/charlottetown/travel-notes/" title="夏洛特敦游记攻略" data-bn-ipg="board-bottom-travelnotes-26">夏洛特敦游记</a></li>
        <li><a href="http://place.qyer.com/moncton/travel-notes/" title="蒙克顿游记攻略" data-bn-ipg="board-bottom-travelnotes-27">蒙克顿游记</a></li>
        <li><a href="http://place.qyer.com/yukon-territory/travel-notes/" title="育空地区游记攻略" data-bn-ipg="board-bottom-travelnotes-28">育空地区游记</a></li>
        <li><a href="http://place.qyer.com/prince-george/travel-notes/" title="乔治王子村游记攻略" data-bn-ipg="board-bottom-travelnotes-29">乔治王子村游记</a></li>
        <li><a href="http://place.qyer.com/kootenay-national-park/travel-notes/" title="库特内国家公园游记攻略" data-bn-ipg="board-bottom-travelnotes-30">库特内国家公园游记</a></li>
      </ul>
    </div>
  </div>
</div>