<% content_for:head do %>
    <link rel="stylesheet" href="/css/forum/text.css"/>
    <link rel="stylesheet" href="/css/forum/travel.css"/>
    <link rel="stylesheet" href="/css/forum/common.css"/>
<% end %>

<div class="qyer_head_crumbg" id="nav">
  <div class="qyer_head_crumb">
    <a href="http://www.qyer.com" data-bn-ipg="3-1">首页</a>&nbsp;&gt;&nbsp;
    <a href="/" id="fjump" onmouseover="showMenu({'ctrlid':this.id})" class="dropmenu" data-bn-ipg="3-2">论坛</a>
    &nbsp;&gt;&nbsp;<a href="forum-20-1.html" data-bn-ipg="3-3">海阔天空</a>&nbsp;&gt;&nbsp;#接龙分享#旅行中的强迫症——这不是病！</div>
</div>
<div class="bbs_titboxs">
  <div class="bbs_titbox">
    <h1 class="bbs_titbox_title fontYaHei qyer_spam_text_filter">#接龙分享#旅行中的强迫症——这不是病！</h1>

    <div class="bbs_titbox_info">
      <p class="fr modact">
      </p>
      <div class="infos">
        <a href="http://user.qyer.com/user_uid_1385379" class="ml10" data-bn-ipg="4-2">穷游活动君</a>
        <span class="ml15 mr15">|</span>
        发表于 2013-06-20 12:01:06                    <span class="ml15 mr15">|</span>
        <span class="views">2997</span>
        <span class="sum">87</span>
        <span class="like">3</span>
        <span class="ml15 mr15">|</span>
      </div>

    </div>
  </div>
</div>

<div id="wrap" class="wrap s_clear threadfix">

<div class="bbs_forumcontrol clearfix">
  <div class="pages"><strong>1</strong><a href="thread-811217-2.html" data-bn-ipg="pages-3">2</a><a href="thread-811217-3.html" data-bn-ipg="pages-3">3</a><a href="thread-811217-4.html" data-bn-ipg="pages-3">4</a><a href="thread-811217-5.html" data-bn-ipg="pages-3">5</a><a href="thread-811217-6.html" data-bn-ipg="pages-3">6</a><a href="thread-811217-2.html" class="next" data-bn-ipg="pages-5">下一页</a></div><span class="pageback" id="visitedforums" style="float:right;"><a href="forum-20-1.html" rel="nofollow" data-bn-ipg="7-1">返回列表</a></span>

  <div title="跳转到指定页数" class="rpostno">跳转到 <input type="text" onkeydown="if(event.keyCode==13) {$('rpostnobtn').click();return false;}" class="ui_input" size="3" id="rpostnovalue"> 页 <span onclick="window.location='viewthread.php?tid=811217&amp;extra=&amp;page='+$('rpostnovalue').value+''" id="rpostnobtn">»</span></div>


            <span prompt="post_reply" id="post_reply" class="replybtn fl mr10">
                <a href="post.php?action=reply&amp;fid=20&amp;tid=811217" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" class="ui_button" rel="nofollow" data-bn-ipg="5">回复</a>
            </span>

  <span class="postbtn fl" id="newspecial" prompt="post_newthread" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"><a href="javascript:void(0);" onclick="if(QYER.uid&gt;0){showWindow('newthread', 'post.php?action=newthread&amp;fid=20');}else{ajaxlogin(0,'','bbsajax.php','pagereload');}" class="ui_buttonA" rel="nofollow" data-bn-ipg="6">发新帖</a></span>
</div>

<div id="postlist" class="mainbox viewthread bbs_viewthread">


<script language="javascript">
    <!--
    jQuery("#_jstravelslidedown").click(function(){
        jQuery("#_jstravelmoreslide").slideDown() ;
        jQuery(this).hide() ;
        jQuery("#_jstravelslideup").show() ;
    })

    jQuery("#_jstravelslideup").click(function(){
        jQuery("#_jstravelmoreslide").slideUp() ;
        jQuery(this).hide() ;
        jQuery("#_jstravelslidedown").show() ;
    })

    -->
</script>

















































<div id="post_7561541" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7561541" summary="pid7561541">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="1385379" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_1385379" target="_blank" data-bn-ipg="8-1-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=1385379&amp;size=middle" alt="穷游活动君">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7561541" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/viewthread.php?tid=811217', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-1-5"><span>1</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_1385379" target="_blank" data-bn-ipg="8-1-2">穷游活动君</a>&nbsp;&nbsp;
      <span class="cGray">记者</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7561541">发表于 2013-6-20 12:01</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=1385379" rel="nofollow" data-bn-ipg="8-1-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7561541"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7561541">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          <i class="pstatus"> 本帖最后由 穷游活动君 于 2013-6-20 15:11 编辑 </i><font size="4">


          <div>
                <span class="aimgbox" data-pid="4114387">
                	<div style="position:relative">
                      <a href="http://user.qyer.com/album_action_view_photo_4114387" target="_blank" title="#接龙分享#旅行中的强迫症——这不是病！" alt="#接龙分享#旅行中的强迫症——这不是病！">
                        <img border="0" src="http://pic.qyer.com/album/user/411/43/RUhURhkPZw/index/670" id="aimg_3224986">
                      </a>

                    </div>

                    <span class="bbstext_photo" style="display: none;">
                        <a class="bbstext_photo_zoombig" target="_blank" href="http://user.qyer.com/album_action_viewindex_photo_4114387">原图</a>
                        <a class="bbstext_photo_like " onclick="addclass(this);" data-pid="4114387" href="javascript:void(0);">喜欢</a>
                        <span class="bbstext_photo_sharetit">分享到</span>
                        <span class="jiathis_style_24x24 fl _js_jiathis_style_share" data-title="#穷游美图#发现一张超赞的照片：来自穷游活动君。赶紧来围观！点这里看大图&gt;&gt;" data-summary=" " data-pic="http://pic.qyer.com/album/user/411/43/RUhURhkPZw/index/670" data-url="campaign=weibo_share&amp;category=bbs_read_pic">
                        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
                        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
                        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
                        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
                        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
                        </span>
                    </span>
                </span>
          </div>



        </font><font size="4">不管去哪里旅行，若是有些事没能完成，就会陷入遗憾或不安……<br>
          他们说这叫 #旅途中的强迫症#<br>
          比如要喝一罐旅行地的可乐，要吃一顿旅行地的麦当劳，要寄一张明信片给自己，还要顺手剩下一些硬币带回家……<br>
          <br>
          ——这才不是病！！！</font><font size="4"><br>
          ——而是我们在用自己的方式，留下关于旅途的美好记忆。<br>
          <br>
          你也有哪些旅行中的强迫症吗？<br>
          记住，这不是病！</font>
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7561541&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7561541&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7561541" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友穷游活动君分享： 本帖最后由 穷游活动君 于 2013-6-20 15:11 编辑



    ...，点这里看原帖&gt;&gt;" data-summary=" " data-pic="http://pic.qyer.com/album/user/411/43/RUhURhkPZw/index/670" data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

  <div id="ad_interthread"></div>        	</div>
<div id="post_7561759" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7561759" summary="pid7561759">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="1807237" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_1807237" target="_blank" data-bn-ipg="8-2-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=1807237&amp;size=middle" alt="賤人">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7561759" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7561759', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-2-5"><span>2</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_1807237" target="_blank" data-bn-ipg="8-2-2">賤人</a>&nbsp;&nbsp;
      <span class="cGray">2袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7561759">发表于 2013-6-20 12:52</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=1807237" rel="nofollow" data-bn-ipg="8-2-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7561759"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7561759">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          有可能的话尽量吃一碗当地的方便面...这看起来比吃麦当劳还惨呢!!!<br>
          哦对，要去麦当劳肯德基就一定会点在国内没有的尝尝味道，虽然大多数都....TT TT~
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7561759&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7561759&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7561759" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友賤人分享：有可能的话尽量吃一碗当地的方便面...这看起来比吃麦当劳还惨呢!!!
哦对，要去麦当劳肯德基就一定会点在国...，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7561764" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7561764" summary="pid7561764">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="1807212" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_1807212" target="_blank" data-bn-ipg="8-3-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=1807212&amp;size=middle" alt="流星划过的夜空">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7561764" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7561764', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-3-5"><span>3</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_1807212" target="_blank" data-bn-ipg="8-3-2">流星划过的夜空</a>&nbsp;&nbsp;
      <span class="cGray">2袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7561764">发表于 2013-6-20 12:53</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=1807212" rel="nofollow" data-bn-ipg="8-3-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7561764"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7561764">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          会把当地的硬币和放在LP上合影~下次也放在穷游锦囊上拍一下~~~
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7561764&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7561764&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7561764" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友流星划过的夜空分享：会把当地的硬币和放在LP上合影~下次也放在穷游锦囊上拍一下~~~，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562183" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562183" summary="pid7562183">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="200576" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_200576" target="_blank" data-bn-ipg="8-4-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=200576&amp;size=middle" alt="啦啦呜">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562183" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562183', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-4-5"><span>4</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_200576" target="_blank" data-bn-ipg="8-4-2">啦啦呜</a>&nbsp;&nbsp;
      <span class="cGray">4袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562183">发表于 2013-6-20 14:15</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=200576" rel="nofollow" data-bn-ipg="8-4-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562183"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562183">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          MS没有哎
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562183&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562183&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562183" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友啦啦呜分享：MS没有哎，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562337" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562337" summary="pid7562337">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="2333284" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_2333284" target="_blank" data-bn-ipg="8-5-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=2333284&amp;size=middle" alt="ccynthia">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562337" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562337', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-5-5"><span>5</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_2333284" target="_blank" data-bn-ipg="8-5-2">ccynthia</a>&nbsp;&nbsp;
      <span class="cGray">2袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562337">发表于 2013-6-20 14:38</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=2333284" rel="nofollow" data-bn-ipg="8-5-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562337"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562337">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          去星巴克买城市杯...呵呵...然后再塞上一张盖有当地邮戳的明信片..<br>
          就这样"到此一游"..O(∩_∩)O~
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562337&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562337&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562337" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友ccynthia分享：去星巴克买城市杯...呵呵...然后再塞上一张盖有当地邮戳的明信片..
就这样&quot;到此一游&quot;..O(∩_∩)O...，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562473" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562473" summary="pid7562473">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="136361" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_136361" target="_blank" data-bn-ipg="8-6-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=136361&amp;size=middle" alt="joyzhu26">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562473" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562473', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-6-5"><span>6</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_136361" target="_blank" data-bn-ipg="8-6-2">joyzhu26</a>&nbsp;&nbsp;
      <span class="cGray">15袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562473">发表于 2013-6-20 15:01</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=136361" rel="nofollow" data-bn-ipg="8-6-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562473"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562473">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          一定要寄明信片！<br>
          如果有地图图案的明信片一定要买！<br>
          一定要看日落！
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562473&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562473&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562473" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友joyzhu26分享：一定要寄明信片！
如果有地图图案的明信片一定要买！
一定要看日落！，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562622" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562622" summary="pid7562622">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="2369258" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_2369258" target="_blank" data-bn-ipg="8-7-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=2369258&amp;size=middle" alt="奋斗不息">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562622" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562622', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-7-5"><span>7</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_2369258" target="_blank" data-bn-ipg="8-7-2">奋斗不息</a>&nbsp;&nbsp;
      <span class="cGray">新进弟子</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562622">发表于 2013-6-20 15:26</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=2369258" rel="nofollow" data-bn-ipg="8-7-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562622"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562622">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          收藏钱币这是必须的
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562622&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562622&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562622" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友奋斗不息分享：收藏钱币这是必须的，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562623" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562623" summary="pid7562623">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="2369258" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_2369258" target="_blank" data-bn-ipg="8-8-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=2369258&amp;size=middle" alt="奋斗不息">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562623" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562623', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-8-5"><span>8</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_2369258" target="_blank" data-bn-ipg="8-8-2">奋斗不息</a>&nbsp;&nbsp;
      <span class="cGray">新进弟子</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562623">发表于 2013-6-20 15:26</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=2369258" rel="nofollow" data-bn-ipg="8-8-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562623"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562623">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          收藏钱币这是必须的
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562623&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562623&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562623" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友奋斗不息分享：收藏钱币这是必须的，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562793" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562793" summary="pid7562793">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="1175834" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_1175834" target="_blank" data-bn-ipg="8-9-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=1175834&amp;size=middle" alt="gaose">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562793" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562793', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-9-5"><span>9</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_1175834" target="_blank" data-bn-ipg="8-9-2">gaose</a>&nbsp;&nbsp;
      <span class="cGray">2袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562793">发表于 2013-6-20 15:50</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=1175834" rel="nofollow" data-bn-ipg="8-9-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562793"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562793">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          购物强迫症，没有买满46公斤的托运行李和10公斤的随身行李，哥是不会登机回国的
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562793&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562793&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562793" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友gaose分享：购物强迫症，没有买满46公斤的托运行李和10公斤的随身行李，哥是不会登机回国的，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562824" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562824" summary="pid7562824">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="1945986" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_1945986" target="_blank" data-bn-ipg="8-10-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=1945986&amp;size=middle" alt="Akila">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562824" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562824', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-10-5"><span>10</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_1945986" target="_blank" data-bn-ipg="8-10-2">Akila</a>&nbsp;&nbsp;
      <span class="cGray">3袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562824">发表于 2013-6-20 15:56</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=1945986" rel="nofollow" data-bn-ipg="8-10-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562824"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562824">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          <div class="quote"><blockquote>购物强迫症，没有买满46公斤的托运行李和10公斤的随身行李，哥是不会登机回国的 ...<br>
            <font size="2"><font color="#999999">gaose 发表于 2013-6-20 07:50</font> <a href="http://bbs.qyer.com/redirect.php?goto=findpost&amp;pid=7562793&amp;ptid=811217" target="_blank" rel="nofollow"><img src="http://c.qyer.com/imageback.php?url=http%3A%2F%2Fbbs.qyer.com%2Fimages%2Fcommon%2Fback.gif" onload="thumbImg(this)" alt="" width="13" height="13"></a></font></blockquote></div><br>
          这真是个一般人有不起的强迫症啊...给您跪了！
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562824&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562824&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562824" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友Akila分享：购物强迫症，没有买满46公斤的托运行李和10公斤的随身行李，哥是不会登机回国的 ...
gaose 发表于 2013-6-2...，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562880" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562880" summary="pid7562880">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="1807260" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_1807260" target="_blank" data-bn-ipg="8-11-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=1807260&amp;size=middle" alt="自作孽照样活">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562880" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562880', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-11-5"><span>11</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_1807260" target="_blank" data-bn-ipg="8-11-2">自作孽照样活</a>&nbsp;&nbsp;
      <span class="cGray">1袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562880">发表于 2013-6-20 16:04</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=1807260" rel="nofollow" data-bn-ipg="8-11-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562880"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562880">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          一定要找到当地人逛的超市去...能看超久，看同样的品牌包装是不是一样，价钱哪边比较合适，还有当地有啥国内从来没见过的牌子~~
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562880&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562880&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562880" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友自作孽照样活分享：一定要找到当地人逛的超市去...能看超久，看同样的品牌包装是不是一样，价钱哪边比较合适，还有当地有啥国...，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7562959" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7562959" summary="pid7562959">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="306638" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_306638" target="_blank" data-bn-ipg="8-12-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=306638&amp;size=middle" alt="foxincherry">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7562959" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7562959', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-12-5"><span>12</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_306638" target="_blank" data-bn-ipg="8-12-2">foxincherry</a>&nbsp;&nbsp;
      <span class="cGray">1袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7562959">发表于 2013-6-20 16:13</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=306638" rel="nofollow" data-bn-ipg="8-12-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7562959"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7562959">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          同一家餐厅一般不吃第二遍，实在没得选，同样的菜也不点第二遍。。。
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7562959&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7562959&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7562959" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友foxincherry分享：同一家餐厅一般不吃第二遍，实在没得选，同样的菜也不点第二遍。。。，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7563148" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7563148" summary="pid7563148">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="1807218" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_1807218" target="_blank" data-bn-ipg="8-13-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=1807218&amp;size=middle" alt="哼着我们爱调调">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7563148" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7563148', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-13-5"><span>13</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_1807218" target="_blank" data-bn-ipg="8-13-2">哼着我们爱调调</a>&nbsp;&nbsp;
      <span class="cGray">2袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7563148">发表于 2013-6-20 16:45</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=1807218" rel="nofollow" data-bn-ipg="8-13-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7563148"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7563148">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          <div class="quote"><blockquote>同一家餐厅一般不吃第二遍，实在没得选，同样的菜也不点第二遍。。。<br>
            <font size="2"><font color="#999999">foxincherry 发表于 2013-6-20 16:13</font> <a href="http://bbs.qyer.com/redirect.php?goto=findpost&amp;pid=7562959&amp;ptid=811217" target="_blank" rel="nofollow"><img src="http://c.qyer.com/imageback.php?url=http%3A%2F%2Fbbs.qyer.com%2Fimages%2Fcommon%2Fback.gif" onload="thumbImg(this)" alt="" width="13" height="13"></a></font></blockquote></div><br>
          病友握手！所以回忆起来那些特别喜欢的美食，都是在很短的时间里挣扎去吃了第二次的店呢~临走前绝不能放弃的最后一顿...
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7563148&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7563148&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7563148" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友哼着我们爱调调分享：同一家餐厅一般不吃第二遍，实在没得选，同样的菜也不点第二遍。。。
foxincherry 发表于 2013-6-20 16:13 ...，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7563752" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7563752" summary="pid7563752">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="310282" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_310282" target="_blank" data-bn-ipg="8-14-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=310282&amp;size=middle" alt="yuhan1030">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7563752" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7563752', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-14-5"><span>14</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_310282" target="_blank" data-bn-ipg="8-14-2">yuhan1030</a>&nbsp;&nbsp;
      <span class="cGray">6袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7563752">发表于 2013-6-20 19:47</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=310282" rel="nofollow" data-bn-ipg="8-14-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7563752"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7563752">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          Jogging and swimming (if possible)!
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7563752&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7563752&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7563752" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display: none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友yuhan1030分享：Jogging and swimming (if possible)!，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<div id="post_7564143" class="bbs_postview">
  <div class="bbs_txttop clearfix" style="position:relative;" id="pid7564143" summary="pid7564143">
    <div class="floor_arrow"></div>
    <div type="bbsusercard" alt="1199829" class="avatar ui_headPort">
      <a href="http://user.qyer.com/user_uid_1199829" target="_blank" data-bn-ipg="8-15-1">
        <img src="http://qycenter.qyer.com/avatar.php?uid=1199829&amp;size=middle" alt="kekebing">                </a>
    </div>
    <div class="bbs_floor">
      <a title="复制本帖链接" id="postnum7564143" href="javascript:;" onclick="setCopy('http://bbs.qyer.com/redirect.php?goto=findpost&amp;ptid=811217&amp;pid=7564143', '帖子地址已经复制到剪贴板')" class="num" data-bn-ipg="8-15-5"><span>15</span>楼</a>
    </div>
    <div class="userinfo">
      <a href="http://user.qyer.com/user_uid_1199829" target="_blank" data-bn-ipg="8-15-2">kekebing</a>&nbsp;&nbsp;
      <span class="cGray">2袋长老</span>&nbsp;&nbsp;

    </div>

    <div class="authorinfo">
      <em id="authorposton7564143">发表于 2013-6-20 21:04</em>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="viewthread.php?tid=811217&amp;page=1&amp;authorid=1199829" rel="nofollow" data-bn-ipg="8-15-4">只看此用户</a>
    </div>
    <dl class="gradelay" id="gradelay-7564143"></dl>
  </div>

  <div class="bbs_txtbox t_msgfontfix" id="postmessage_7564143">
    <table width="100%" cellspacing="0" cellpadding="0" class="bbs_txtbox_table">
      <tbody><tr>
        <td class="qyer_spam_text_filter">


          给爸爸买地图
        </td>
      </tr>
      </tbody></table>
  </div>



  <div class="bbs_txtbtm postactions clearfix">
        <span class="fr">

    	<a class="fastreply mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;reppost=7564143&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">回复</a>
    	<a class="repquote mr15" href="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;repquote=7564143&amp;extra=pageD1&amp;page=1" onclick="if(QYER.uid&gt;0){showWindow('reply', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}return false;" rel="nofollow">引用</a>
    	<a href="misc.php?action=report&amp;fid=20&amp;tid=811217&amp;pid=7564143" onclick="if(QYER.uid&gt;0){showWindow('report', this.href);}else{ajaxlogin(0,'','bbsajax.php','pagereload');doane(event);}doane(event);" rel="nofollow">举报</a>
    </span>

    <span class="fr" style="margin-right:15px;">


            </span>
    <script>
        jQuery(function($){
            $("#postlist").on("mouseenter",".bbs_postview",function(){
                $(this).find(".bbs_txtbtm_share").show();
            }).on("mouseleave",".bbs_postview",function(){
                        $(this).find(".bbs_txtbtm_share").hide();
                    });
        });
    </script>
    <div class="fr bbs_txtbtm_share" style="display:none;"><span class="fl jiathis_style_title">分享到</span>
        <span class="jiathis_style fl _js_jiathis_style_share" data-title="#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】穷游网友kekebing分享：给爸爸买地图，点这里看原帖&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_floor">
        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
        </span>
      <span class="gap">|</span>
    </div>
  </div>

</div>
<script language="javascript">
    spam_text_filter();
</script>
<div id="postlistreply" class="mainbox viewthread"><div id="post_new" class="viewthread_table" style="display: none"></div></div>
</div>



<div class="forumcontrol clearfix mt10">
  <div class="pages"><strong>1</strong><a href="thread-811217-2.html" data-bn-ipg="pages-3">2</a><a href="thread-811217-3.html" data-bn-ipg="pages-3">3</a><a href="thread-811217-4.html" data-bn-ipg="pages-3">4</a><a href="thread-811217-5.html" data-bn-ipg="pages-3">5</a><a href="thread-811217-6.html" data-bn-ipg="pages-3">6</a><a href="thread-811217-2.html" class="next" data-bn-ipg="pages-5">下一页</a></div><span class="pageback" id="visitedforums"><a href="forum-20-1.html" rel="nofollow" data-bn-ipg="9-1">返回列表</a></span>
</div>


<script type="text/javascript">
    var postminchars = parseInt('8');
    var postmaxchars = parseInt('15000');
    var disablepostctrl = parseInt('0');
</script>

<div id="f_post" class="mainbox viewthread" style="margin-top:20px;">
  <form method="post" id="fastpostform" action="post.php?action=reply&amp;fid=20&amp;tid=811217&amp;extra=pageD1&amp;replysubmit=yes&amp;infloat=yes&amp;handlekey=fastpost" onsubmit="return fastpostvalidate(this)">
    <div class="f14 fb mb10">快速回复</div>
    <div class="clearfix">
      <div class="postauthor" style="float:left;">
        <div class="avatar"><img src="http://qycenter.qyer.com/avatar.php?uid=2314143&amp;size=middle" alt=""></div>            </div>
      <div class="postcontent" style="float:right;">
        <input type="hidden" name="formhash" value="28de3260">
        <input type="hidden" name="subject" value="">
        <input type="hidden" name="usesig" value="0">
        <div class="mod_discuss_cnt_triangle"></div>
        <div class="editor_tb">

<span class="right">
<a href="post.php?action=reply&amp;fid=20&amp;tid=811217" rel="nofollow" onclick="return switchAdvanceMode(this.href)" data-bn-ipg="11-1">高级模式</a>
<span class="pipe" style="display:none;">|</span>
<span id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})" style="display:none;"><a href="post.php?action=newthread&amp;fid=20" onclick="showWindow('newthread', this.href);return false;">发新话题</a></span>
</span><!--link rel="stylesheet" type="text/css" href="forumdata/cache/style_8_seditor.css?XD7" /-->
          <style type="text/css">
              .smilieslist { padding: 10px; border: 1px solid #636363; background: #FEFEFE; }
              .smilieslist td { padding: 8px; border: none; cursor: pointer; }
              .smilieslist_page {*float:left; text-align: right; }
              .smilieslist_page a { margin-right: 5px; color: #005826; text-decoration: underline; }
              .pags_act { float: left; }
              .smilies_preview { margin-top: 5px; padding: 8px; background: #f5f4f0; border: 1px solid #636363; }
              .smiliesgroup { height: 33px; *height:34px;overflow: hidden; width:expression(this.parentNode.offsetWidth);}
              .smiliesgroup ul, .imguptype { margin: 6px 0; padding: 0 0 26px 8px; border-bottom: 1px solid #d7d7d7; }
              .smiliesgroup li, .imguptype li { display: inline; }
              * html .smiliesgroup li, * html .imguptype li { line-height: 18px; }
              .smiliesgroup li a, .imguptype li a { float: left; margin: 2px 6px 0 0; padding: 2px 10px; height: 19px; border: 1px solid #d7d7d7; color: #005826; text-decoration: none; }
              .smiliesgroup li a:focus, .imguptype li a:focus { outline: none; }
              .smiliesgroup li a.current, .imguptype li a.current { border-bottom-color: #FEFEFE; font-weight: 700; color: #252525; }
          </style>
          <div style="float:left;padding:4px 0 0 6px;">
            <a href="javascript:;" class="tb_smilies" id="fastpostsmilies" onclick="showMenu({'ctrlid':this.id,'evt':'click','layer':2});return false" style="padding:1px 0 1px 20px; background:url(http://static.qyer.com/images/bbs/icon_phiz.png) no-repeat;">添加表情</a>
            <script src="forumdata/cache/smilies_var.js?XD7" type="text/javascript" reload="1"></script>
            <script type="text/javascript" reload="1">smilies_show('fastpostsmiliesdiv', 10, 'fastpost');</script>
          </div></div>
        <textarea rows="5" cols="80" name="message" id="fastpostmessage" onkeydown="seditor_ctlent(event, 'fastpostvalidate($(\'fastpostform\'))');" tabindex="4" class="txtarea"></textarea>
        <div id="fastpostreturn" style="margin-top:10px;"></div>



        <button type="submit" name="replysubmit" id="fastpostsubmit" value="replysubmit" tabindex="5" class="ui_button fr" data-bn-ipg="11-2">回复</button>
        <div class="fastcheck" style="margin-top:10px;"><input name="seccodeverify" id="seccodeverify_viewthread" type="text" autocomplete="off" style="width:50px" value="验证码" class="txt" href="ajax.php?action=updateseccode" tabindex="1">
          <a href="javascript:;" onclick="updateseccode();doane(event);">换一个</a>
          <span id="checkseccodeverify_viewthread"><img src="images/common/none.gif" width="16" height="16"></span>

          <script type="text/javascript" reload="1">
              var profile_seccode_invalid = '验证码输入错误，请重新填写。';
              var profile_secanswer_invalid = '验证问答回答错误，请重新填写。';
              var lastseccode = lastsecanswer = secfocus ='';
              var secanswerObj = $('secanswer');
              var seccodeObj = $('seccodeverify_viewthread');
              var secstatus = {'secanswer':0,'seccodeverify_viewthread':0};

              if(secanswerObj) {
                  secanswerObj.onclick = secanswerObj.onfocus = showIdentifying;
                  secanswerObj.onblur = function(e) {if(!secfocus) $('secanswer_menu').style.display='none';checksecanswer();doane(e);};
              }

              if(seccodeObj) {
                  seccodeObj.onclick = seccodeObj.onfocus = showIdentifying;
                  seccodeObj.onblur = function(e) {if(!secfocus) $('seccodeverify_viewthread_menu').style.display='none';checkseccode();doane(e);};
              }

              function showIdentifying(e) {
                  var obj = BROWSER.ie ? event.srcElement : e.target;
                  if(!$(obj.id + '_menu')) {
                      obj.value = '';
                      ajaxmenu($(obj.id), 0, 1, 3, '12', function() {
                          secstatus[obj.id] = 1;
                          $(obj.id + '_menu').onmouseover = function() { secfocus = 1; }
                          $(obj.id + '_menu').onmouseout = function() { secfocus = '';$(obj.id).focus(); }
                      });
                  } else if(secstatus[obj.id] == 1) {
                      $(obj.id + '_menu').style.display = '';
                  }
                  obj.unselectable = 'off';
                  obj.focus();
                  doane(e);
              }

              function updateseccode(op) {
                  if(isUndefined(op)) {
                      ajaxget('ajax.php?action=updateseccode', seccodeObj.id + '_menu', 'ajaxwaitid', '', '', '$(seccodeObj.id + \'_menu\').style.display = \'\'');
                  } else {
                      window.document.seccodeplayer.SetVariable("isPlay", "1");
                  }
                  seccodeObj.focus();
              }

              function checkseccode() {
                  var seccodeverify = seccodeObj.value;
                  if(seccodeverify == lastseccode) {
                      return;
                  } else {
                      lastseccode = seccodeverify;
                  }
                  var cs = $('checkseccodeverify_viewthread');
                  if(!(/[0-9A-Za-z]{4}/.test(seccodeverify))) {
                      warning(cs, profile_seccode_invalid);
                      return;
                  }
                  ajaxresponse('checkseccodeverify_viewthread', 'action=checkseccode&seccodeverify=' + (BROWSER.ie && document.charset == 'utf-8' ? encodeURIComponent(seccodeverify) : seccodeverify));
              }

              function checksecanswer() {
                  var secanswer = secanswerObj.value;
                  if(secanswer == lastsecanswer) {
                      return;
                  } else {
                      lastsecanswer = secanswer;
                  }
                  ajaxresponse('checksecanswer', 'action=checksecanswer&secanswer=' + (BROWSER.ie && document.charset == 'utf-8' ? encodeURIComponent(secanswer) : secanswer));
              }

              function ajaxresponse(objname, data) {
                  var x = new Ajax('XML', objname);
                  x.get('ajax.php?inajax=1&' + data, function(s){
                      var obj = $(objname);
                      if(s.substr(0, 7) == 'succeed') {
                          obj.style.display = '';
                          obj.innerHTML = '<img src="images/go2eu/check_right.gif" width="16" height="16" />';
                          obj.className = "warning";
                      } else {
                          warning(obj, s);
                      }
                  });
              }

              function warning(obj, msg) {
                  if((ton = obj.id.substr(5, obj.id.length)) != 'password2') {
                      $(ton).select();
                  }
                  obj.style.display = '';
                  obj.innerHTML = '<img src="images/go2eu/check_error.gif" width="16" height="16" />';
                  obj.className = "warning";
              }
          </script></div>

        <p style="display: none;"><input id="fastpostrefresh" type="checkbox"> <label for="fastpostrefresh">回帖后跳转到最后一页</label></p><script type="text/javascript">if(getcookie('discuz_fastpostrefresh') == 1) {$('fastpostrefresh').checked=true;}</script>
      </div>
    </div>
  </form>
</div>


<div class="bbs_sidebar">
  <div class="bbs_toolbox">


    <div id="bbs_tools_wrap" style="height:52px;">
      <div class="bbs_tools" style="position: relative; left: 0px; top: 0px;">
        <a href="javascript:;" id="share" class="share" rel="nofollow" data-bn-ipg="22">分享</a>
        <a href="javascript:;" onclick="if(QYER.uid&gt;0){showDialog($('favoritewin').innerHTML, 'info', '收藏/关注');}else{ajaxlogin(0,'','bbsajax.php','pagereload');}" class="collect" rel="nofollow" data-bn-ipg="21">收藏</a>
        <a id="recommend_add" style="" data-tid="811217" href="misc.php?action=recommend&amp;do=add&amp;tid=811217" onclick="if(QYER.uid&gt;0){ajaxmenu(this, 3000, 1, 0, '43', 'recommendupdate(1)');}else{ajaxlogin(0,'','bbsajax.php','pagereload');};doane(event);" class="like" rel="nofollow" data-bn-ipg="20">喜欢</a>
        <div class="bbs_tools_sharelay" style="display: none;">
          <div class="sharelay_top"></div>
          <!-- JiaThis Button BEGIN jiathis_style_24x24  jiathis_style-->

                        <span class="jiathis_style_24x24 fl _js_jiathis_style_share" data-title="跟各位分享一篇#穷游好贴#【#接龙分享#旅行中的强迫症——这不是病！】。超级干货有木有！ 赶紧来围观！帖子地址&gt;&gt;" data-summary=" " data-url="campaign=weibo_share&amp;category=bbs_read_bbs">
                        	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
                        	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
                        	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
                        	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
                        	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
                        </span>
          <!-- JiaThis Button END -->
        </div>
      </div>
    </div>
  </div>


  <!--右侧标签-->
  <!--div class="bbs_txttag_box mb10">
<h3 class="bbs_txttit"><span class="fb f14">标签</span></h3>
<div class="bbs_txttag_list"><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a><a href="#" class="ask_tag"><strong class="ask_tag_strong">尼泊尔</strong></a></div>
<div class="tr mt5"><a href="javascript:void(0);" id="txttag_show">全部展开</a><a href="javascript:void(0);" id="txttag_hide" style="display:none;">收缩</a></div>
</div-->




  <div class="mb20">
    <div class="ad_pip" id="ad_thread3_0"><iframe id="ab4e6280" name="ab4e6280" src="http://ad.qyer.com/www/delivery/afr.php?zoneid=327&amp;cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="270" height="170">&lt;a href='http://ad.qyer.com/www/delivery/ck.php?n=a0a75c9c&amp;amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'&gt;&lt;img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=327&amp;amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;amp;n=a0a75c9c' border='0' alt='' /&gt;&lt;/a&gt;</iframe>
    </div>        </div>


</div>
<div class="cb"></div>
</div>