*.rbc
.un~
/Gemfile.lock
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
*.orig
rerun.txt
pickle-email-*.html
.project
.idea
node_modules
*.DS_Store
*.build
dist
*.swp
.build
