<table cellpadding="0" cellspacing="0" style="table-layout:fixed;width:100%;*width:auto;">
  <tbody>
  <tr>
    <td width="20" class="txt_center">
      <img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/spacer104474.gif" class="ico_reads" style="width:16px;height:16px;margin:2px 0 0;*margin-bottom:3px;_margin-bottom:5px;">
    </td>
    <td class="txtflow" width="99%" style="padding:0 5px;">
      <span class="gray">欢迎加入穷游大家庭，享受一段美好的旅途吧！</span><span class="graytext"> - Hi seeyoup，恭喜你，穷游网帐号已成功注册！ 你的穷游网个人中心地址为：http://user.qyer.com/user_uid</span>&nbsp;
    </td>
    <td style="width:140px;text-align:right;padding-right:5px;" class="txtflow">昨天<span style="font-size:6px">&nbsp;</span>18:06
    </td>
  </tr>
  </tbody>
</table>