<div class="qyer_head_crumbg">
  <div class="qyer_head_crumb">
    <span class="text"><a href="/">首页</a></span>
    <span class="space">&gt;</span>
    <span class="text"><a href="/album">评论</a></span>
    <span class="space">&gt;</span>

    <h1 class="current">上传照片</h1>
  </div>
</div>
<%= comment_list  %>