<div class="qyer_head_crumbg">
  <div class="qyer_head_crumb">
    <span class="text"><a href="http://www.qyer.com" data-bn-ipg="3-1">首页</a></span>
    <span class="space">&gt;</span>
    <span class="text"><a href="http://ask.qyer.com" data-bn-ipg="3-2">骑趣问答</a></span>
    <span class="space">&gt;</span>
    <h1 class="current">热门问题</h1>
  </div>
</div>

<div class="main">
<!--问答首页 start-->
<div class="ask_wp">

<div class="ask_top_detail">
  <h2><a href="/" data-bn-ipg="5-1"><img src="http://static.qyer.com/images/ask/ask_title_txt.png" alt="骑趣问答" title="骑趣问答"></a></h2>
  <p><strong class="fb">欢迎来到骑趣问答！</strong>关于旅行，你和其他每一位骑趣er都可能会遇到各种的问题，无论你是新手上路，还是骑趣高手，提出你的问题，分享你的答案，在这里让我们大家帮助大家。 先来看看<a rel="nofollow" title="如何使用骑趣问答" target="_blank" href="http://bbs.qyer.com/faq.php?action=faq&amp;id=80" data-bn-ipg="5-2">如何使用骑趣问答</a>吧 </p>
</div>

<div class="ask_search">
  <div class="ask_search_main">
    <div class="ask_search_text">
      <input id="type" name="type" type="hidden" value="index">
      <form action="/search" method="get" id="formsearch">
        <input id="keyword" name="q" type="text" style="width:600px;" value="" placeholder="提问前请先搜索，看看你的问题其他骑趣er是否已经问过" class="ui_input" autocomplete="off" style="border-width: 0;height: 30px">
        <input type="button" value=" " onclick="if($.trim($('#keyword').val())!='' &amp;&amp; $.trim($('#keyword').val())!='提问前请先搜索，看看你的问题其他骑趣er是否已经问过'){$('#formsearch').submit();}" class="ask_button" >
      </form>
      <div id="search_menu"></div>
    </div>		</div>
  <div class="ask_askhelp_btn">
    <a rel="nofollow" title="我要提问" href="/addquestion" data-bn-ipg="20"><img src="http://static.qyer.com/images/ask/ask_addask_btn.png" width="147" height="40" alt="我要提问"></a>
  </div>
</div>
<div class="ask_item" style="margin-top:-32px;">
<div class="ask_item_main fl">
<h3 class="fb f14 cGray">
  <span class="cGray" data-bn-ipg="6-1">最新问题</span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/question/hot/" data-bn-ipg="6-2">热门问题</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/question/unanswered/" data-bn-ipg="6-3">待回答问题</a>
</h3>
<div class="ask_item_main_item">
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-1-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496325.html" title="a平顶山市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-1-2" class="qyer_spam_text_filter">a平顶山市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">平顶山市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-1-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-1-4">dhedhee</a> | 10分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-2-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496324.html" title="a荥阳市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-2-2" class="qyer_spam_text_filter">a荥阳市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">荥阳市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-2-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-2-4">dhedhee</a> | 10分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-3-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496323.html" title="a汝州市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-3-2" class="qyer_spam_text_filter">a汝州市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">汝州市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-3-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-3-4">dhedhee</a> | 11分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-4-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496322.html" title="a项城市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-4-2" class="qyer_spam_text_filter">a项城市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">项城市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-4-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-4-4">dhedhee</a> | 12分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-5-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496321.html" title="a林州市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-5-2" class="qyer_spam_text_filter">a林州市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">林州市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-5-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-5-4">dhedhee</a> | 12分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-6-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496320.html" title="a义马市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-6-2" class="qyer_spam_text_filter">a义马市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">义马市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-6-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-6-4">dhedhee</a> | 13分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-7-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496319.html" title="a永城市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-7-2" class="qyer_spam_text_filter">a永城市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">永城市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-7-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-7-4">dhedhee</a> | 15分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-8-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496318.html" title="a巩义市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-8-2" class="qyer_spam_text_filter">a巩义市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">巩义市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-8-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-8-4">dhedhee</a> | 15分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-9-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496317.html" title="a禹州市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-9-2" class="qyer_spam_text_filter">a禹州市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">禹州市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-9-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-9-4">dhedhee</a> | 16分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="ask_item_main_item_list clearfix">
    <div class="fl ui_headPort" alt="2464965">
      <a href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-10-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/002/46/49/65_avatar_small.jpg" class="ui_headPort_img" alt="dhedhee"></a>
    </div>
    <div class="fr ask_item_main_item_list_content">
      <div class="ask_item_main_item_list_icon"></div>
      <h4 class="ask_item_main_item_list_title"><a href="/question/496316.html" title="a新郑市哪里有找美女特殊服务" target="_blank" data-bn-ipg="6-1-10-2" class="qyer_spam_text_filter">a新郑市哪里有找美女特殊服务</a></h4>
      <blockquote class="qyer_spam_text_filter">新郑市哪里有找美女特殊服务【186.140.66633莎莎】【186.140.66633莎莎】186.140.66633莎莎一个微笑，一声问候，让您纷扰的心身慢慢沉淀，186.140.66633莎莎186.140.66633莎莎186.140.66633莎莎重新找...</blockquote>
      <div class="ask_item_main_item_list_tab">
        <a href="/tag/a" class="ask_tag" target="_blank" data-bn-ipg="6-1-10-3"><strong class="ask_tag_strong">a</strong></a>
      </div>
      <div class="clearfix">
        <span class="fl cGray"><a class="fn" href="http://user.qyer.com/user_uid_2464965" target="_blank" data-bn-ipg="6-1-10-4">dhedhee</a> | 17分钟前</span>
        <span class="fr"><span>回答 0</span>　<span>同问 1</span></span>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="fr mt10 ask_item_main_item_more js_morepage"><div data-bn-ipg="6-1-0" id="0" alt="10" class="ui_remore js_index_more">显示更多</div></div>
  <div class="clear"></div>
  <script type="text/javascript">
      $(function(){
          //显示更多控件
          $(".ui_remore").live("mouseover",function(){$(this).addClass("ui_remore_hover");});
          $(".ui_remore").live("mouseout",function(){$(this).removeClass("ui_remore_hover");});
      });
  </script>
</div>
</div>

<div class="ask_sidebar fr">

<div class="ask_sidebar_all f14">
  共 <strong class="fb">259168</strong> 个问题，<strong class="fb">193513</strong> 人参与
</div>

<div class="ask_sidebar_star mt10">
  <h4 class="f14 fb cGray">热心骑趣er</h4>
  <div class="ui_tab">
    <div class="ui_tab_trigger clearfix">
      <ul>
        <li class="ui_tab_trigger_item ui_tab_trigger_item_current js_top_user"><a href="javascript:void(0);" data-bn-ipg="21-1">上周排行</a></li>
        <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
        <li class="ui_tab_trigger_item js_top_user"><a href="javascript:void(0);" data-bn-ipg="21-2">总排行</a></li>
      </ul>
    </div>
    <div class="ui_tab_cnt">
      <div class="ui_tab_cnt_item ui_tab_cnt_item_current js_top_user_last">
        <ul>
          <li class="ask_sidebar_star_current">
            <strong class="fl">1</strong>
            <a href="http://user.qyer.com/user_uid_734348" class="fl" target="_blank" data-bn-ipg="21-1-1-1"><img width="48" height="48" alt="zha__li" title="zha__li" src="http://static.qyer.com/data/avatar/000/73/43/48_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_734348" target="_blank" data-bn-ipg="21-1-1-2">zha__li</a><p><a href="http://user.qyer.com/ask_m_answer_uid_734348" target="_blank" data-bn-ipg="21-1-1-3">回答 211</a>　有用 39</p></div>
          </li>
          <li class="ask_sidebar_star_current">
            <strong class="fl">2</strong>
            <a href="http://user.qyer.com/user_uid_2107701" class="fl" target="_blank" data-bn-ipg="21-1-2-1"><img width="48" height="48" alt="charmingpass" title="charmingpass" src="http://static.qyer.com/data/avatar/002/10/77/01_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_2107701" target="_blank" data-bn-ipg="21-1-2-2">charmingpass</a><p><a href="http://user.qyer.com/ask_m_answer_uid_2107701" target="_blank" data-bn-ipg="21-1-2-3">回答 78</a>　有用 30</p></div>
          </li>
          <li class="ask_sidebar_star_current">
            <strong class="fl">3</strong>
            <a href="http://user.qyer.com/user_uid_2273182" class="fl" target="_blank" data-bn-ipg="21-1-3-1"><img width="48" height="48" alt="BlueCAMEL" title="BlueCAMEL" src="http://static.qyer.com/data/avatar/002/27/31/82_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_2273182" target="_blank" data-bn-ipg="21-1-3-2">BlueCAMEL</a><p><a href="http://user.qyer.com/ask_m_answer_uid_2273182" target="_blank" data-bn-ipg="21-1-3-3">回答 100</a>　有用 12</p></div>
          </li>
          <li>
            <strong class="fl">4</strong>
            <a href="http://user.qyer.com/user_uid_139577" class="fl" target="_blank" data-bn-ipg="21-1-4-1"><img width="24" height="24" alt="Charlemagn" title="Charlemagn" src="http://static.qyer.com/data/avatar/000/13/95/77_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_139577" target="_blank" data-bn-ipg="21-1-4-2">Charlemagn</a><p><a href="http://user.qyer.com/ask_m_answer_uid_139577" target="_blank" data-bn-ipg="21-1-4-3">回答 70</a>　有用 22</p></div>
          </li>
          <li>
            <strong class="fl">5</strong>
            <a href="http://user.qyer.com/user_uid_1849470" class="fl" target="_blank" data-bn-ipg="21-1-5-1"><img width="24" height="24" alt="勇气过境hei" title="勇气过境hei" src="http://static.qyer.com/data/images/noavatar_middle.gif"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_1849470" target="_blank" data-bn-ipg="21-1-5-2">勇气过境hei</a><p><a href="http://user.qyer.com/ask_m_answer_uid_1849470" target="_blank" data-bn-ipg="21-1-5-3">回答 87</a>　有用 15</p></div>
          </li>
          <li>
            <strong class="fl">6</strong>
            <a href="http://user.qyer.com/user_uid_1437701" class="fl" target="_blank" data-bn-ipg="21-1-6-1"><img width="24" height="24" alt="dorland" title="dorland" src="http://static.qyer.com/data/avatar/001/43/77/01_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_1437701" target="_blank" data-bn-ipg="21-1-6-2">dorland</a><p><a href="http://user.qyer.com/ask_m_answer_uid_1437701" target="_blank" data-bn-ipg="21-1-6-3">回答 74</a>　有用 14</p></div>
          </li>
          <li>
            <strong class="fl">7</strong>
            <a href="http://user.qyer.com/user_uid_297090" class="fl" target="_blank" data-bn-ipg="21-1-7-1"><img width="24" height="24" alt="nelucifer" title="nelucifer" src="http://static.qyer.com/data/avatar/000/29/70/90_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_297090" target="_blank" data-bn-ipg="21-1-7-2">nelucifer</a><p><a href="http://user.qyer.com/ask_m_answer_uid_297090" target="_blank" data-bn-ipg="21-1-7-3">回答 66</a>　有用 16</p></div>
          </li>
          <li>
            <strong class="fl">8</strong>
            <a href="http://user.qyer.com/user_uid_1376641" class="fl" target="_blank" data-bn-ipg="21-1-8-1"><img width="24" height="24" alt="欧阳矿泉水" title="欧阳矿泉水" src="http://static.qyer.com/data/avatar/001/37/66/41_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_1376641" target="_blank" data-bn-ipg="21-1-8-2">欧阳矿泉水</a><p><a href="http://user.qyer.com/ask_m_answer_uid_1376641" target="_blank" data-bn-ipg="21-1-8-3">回答 80</a>　有用 8</p></div>
          </li>
          <li>
            <strong class="fl">9</strong>
            <a href="http://user.qyer.com/user_uid_158466" class="fl" target="_blank" data-bn-ipg="21-1-9-1"><img width="24" height="24" alt="billydog" title="billydog" src="http://static.qyer.com/data/avatar/000/15/84/66_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_158466" target="_blank" data-bn-ipg="21-1-9-2">billydog</a><p><a href="http://user.qyer.com/ask_m_answer_uid_158466" target="_blank" data-bn-ipg="21-1-9-3">回答 69</a>　有用 11</p></div>
          </li>
          <li>
            <strong class="fl">10</strong>
            <a href="http://user.qyer.com/user_uid_1419406" class="fl" target="_blank" data-bn-ipg="21-1-10-1"><img width="24" height="24" alt="熊顺" title="熊顺" src="http://static.qyer.com/data/avatar/001/41/94/06_avatar_middle.jpg"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_1419406" target="_blank" data-bn-ipg="21-1-10-2">熊顺</a><p><a href="http://user.qyer.com/ask_m_answer_uid_1419406" target="_blank" data-bn-ipg="21-1-10-3">回答 64</a>　有用 8</p></div>
          </li>
        </ul>
      </div>
      <div class="ui_tab_cnt_item js_top_user_all">
        <ul>
          <li class="ask_sidebar_star_current">
            <strong class="fl">1</strong>
            <a href="http://user.qyer.com/user_uid_1650504" class="fl" target="_blank" data-bn-ipg="21-2-1-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/001/65/05/04_avatar_middle.jpg" alt="sean3076" title="sean3076"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_1650504" target="_blank" data-bn-ipg="21-2-1-2">sean3076</a><p><a href="http://user.qyer.com/ask_m_answer_uid_1650504" target="_blank" data-bn-ipg="21-2-1-3">回答 4019</a>　有用 3113</p></div>
          </li>
          <li class="ask_sidebar_star_current">
            <strong class="fl">2</strong>
            <a href="http://user.qyer.com/user_uid_1710181" class="fl" target="_blank" data-bn-ipg="21-2-2-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/001/71/01/81_avatar_middle.jpg" alt="luiszhangxu" title="luiszhangxu"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_1710181" target="_blank" data-bn-ipg="21-2-2-2">luiszhangxu</a><p><a href="http://user.qyer.com/ask_m_answer_uid_1710181" target="_blank" data-bn-ipg="21-2-2-3">回答 2459</a>　有用 2027</p></div>
          </li>
          <li class="ask_sidebar_star_current">
            <strong class="fl">3</strong>
            <a href="http://user.qyer.com/user_uid_139577" class="fl" target="_blank" data-bn-ipg="21-2-3-1"><img width="48" height="48" src="http://static.qyer.com/data/avatar/000/13/95/77_avatar_middle.jpg" alt="Charlemagn" title="Charlemagn"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_139577" target="_blank" data-bn-ipg="21-2-3-2">Charlemagn</a><p><a href="http://user.qyer.com/ask_m_answer_uid_139577" target="_blank" data-bn-ipg="21-2-3-3">回答 4088</a>　有用 1354</p></div>
          </li>
          <li>
            <strong class="fl">4</strong>
            <a href="http://user.qyer.com/user_uid_470879" class="fl" target="_blank" data-bn-ipg="21-2-4-1"><img width="24" height="24" src="http://static.qyer.com/data/avatar/000/47/08/79_avatar_middle.jpg" alt="waituback" title="waituback"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_470879" target="_blank" data-bn-ipg="21-2-4-2">waituback</a><p><a href="http://user.qyer.com/ask_m_answer_uid_470879" target="_blank" data-bn-ipg="21-2-4-3">回答 2418</a>　有用 1496</p></div>
          </li>
          <li>
            <strong class="fl">5</strong>
            <a href="http://user.qyer.com/user_uid_297090" class="fl" target="_blank" data-bn-ipg="21-2-5-1"><img width="24" height="24" src="http://static.qyer.com/data/avatar/000/29/70/90_avatar_middle.jpg" alt="nelucifer" title="nelucifer"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_297090" target="_blank" data-bn-ipg="21-2-5-2">nelucifer</a><p><a href="http://user.qyer.com/ask_m_answer_uid_297090" target="_blank" data-bn-ipg="21-2-5-3">回答 2807</a>　有用 1319</p></div>
          </li>
          <li>
            <strong class="fl">6</strong>
            <a href="http://user.qyer.com/user_uid_593091" class="fl" target="_blank" data-bn-ipg="21-2-6-1"><img width="24" height="24" src="http://static.qyer.com/data/avatar/000/59/30/91_avatar_middle.jpg" alt="wangapo" title="wangapo"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_593091" target="_blank" data-bn-ipg="21-2-6-2">wangapo</a><p><a href="http://user.qyer.com/ask_m_answer_uid_593091" target="_blank" data-bn-ipg="21-2-6-3">回答 2750</a>　有用 946</p></div>
          </li>
          <li>
            <strong class="fl">7</strong>
            <a href="http://user.qyer.com/user_uid_59276" class="fl" target="_blank" data-bn-ipg="21-2-7-1"><img width="24" height="24" src="http://static.qyer.com/data/avatar/000/05/92/76_avatar_middle.jpg" alt="jonesasm" title="jonesasm"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_59276" target="_blank" data-bn-ipg="21-2-7-2">jonesasm</a><p><a href="http://user.qyer.com/ask_m_answer_uid_59276" target="_blank" data-bn-ipg="21-2-7-3">回答 2888</a>　有用 581</p></div>
          </li>
          <li>
            <strong class="fl">8</strong>
            <a href="http://user.qyer.com/user_uid_1419406" class="fl" target="_blank" data-bn-ipg="21-2-8-1"><img width="24" height="24" src="http://static.qyer.com/data/avatar/001/41/94/06_avatar_middle.jpg" alt="熊顺" title="熊顺"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_1419406" target="_blank" data-bn-ipg="21-2-8-2">熊顺</a><p><a href="http://user.qyer.com/ask_m_answer_uid_1419406" target="_blank" data-bn-ipg="21-2-8-3">回答 2465</a>　有用 577</p></div>
          </li>
          <li>
            <strong class="fl">9</strong>
            <a href="http://user.qyer.com/user_uid_237896" class="fl" target="_blank" data-bn-ipg="21-2-9-1"><img width="24" height="24" src="http://static.qyer.com/data/avatar/000/23/78/96_avatar_middle.jpg" alt="yangjun0" title="yangjun0"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_237896" target="_blank" data-bn-ipg="21-2-9-2">yangjun0</a><p><a href="http://user.qyer.com/ask_m_answer_uid_237896" target="_blank" data-bn-ipg="21-2-9-3">回答 1622</a>　有用 495</p></div>
          </li>
          <li>
            <strong class="fl">10</strong>
            <a href="http://user.qyer.com/user_uid_1284819" class="fl" target="_blank" data-bn-ipg="21-2-10-1"><img width="24" height="24" src="http://static.qyer.com/data/avatar/001/28/48/19_avatar_middle.jpg" alt="胡尕峰" title="胡尕峰"></a>
            <div class="fl"><a href="http://user.qyer.com/user_uid_1284819" target="_blank" data-bn-ipg="21-2-10-2">胡尕峰</a><p><a href="http://user.qyer.com/ask_m_answer_uid_1284819" target="_blank" data-bn-ipg="21-2-10-3">回答 1184</a>　有用 612</p></div>
          </li>
        </ul>
      </div>
      <script type="text/javascript">
          $(function(){
              $(".ui_tab_cnt_item").find("li:gt(2)").hover(
                      function(){
                          $(this).addClass("ask_sidebar_star_current");
                          //$(this).find("img").attr("src","http://static.qyer.com/images/ask/temp/ask_photo_48x48.png");
                          $(this).find("img").width(48).height(48);
                      },function(){
                          $(this).removeClass("ask_sidebar_star_current");
                          //$(this).find("img").attr("src","http://static.qyer.com/images/ask/temp/touxiang24.jpg");
                          $(this).find("img").width(24).height(24);
                      }
              );
          });
      </script>
    </div>
  </div>
</div>

<div class="ask_sidebar_tag mt10">
  <h4 class="f14 fb cGray">热门标签</h4>
  <h5>目的地</h5>
  <div class="ask_sidebar_tag_list">
    <a href="/tag/美国" class="ask_tag" data-bn-ipg="22-1-1"><strong class="ask_tag_strong">美国</strong></a>
    <a href="/tag/泰国" class="ask_tag" data-bn-ipg="22-1-2"><strong class="ask_tag_strong">泰国</strong></a>
    <a href="/tag/马来西亚" class="ask_tag" data-bn-ipg="22-1-3"><strong class="ask_tag_strong">马来西亚</strong></a>
    <a href="/tag/印尼" class="ask_tag" data-bn-ipg="22-1-4"><strong class="ask_tag_strong">印尼</strong></a>
    <a href="/tag/越南" class="ask_tag" data-bn-ipg="22-1-5"><strong class="ask_tag_strong">越南</strong></a>
    <a href="/tag/法国" class="ask_tag" data-bn-ipg="22-1-6"><strong class="ask_tag_strong">法国</strong></a>
    <a href="/tag/香港" class="ask_tag" data-bn-ipg="22-1-7"><strong class="ask_tag_strong">香港</strong></a>
    <a href="/tag/新加坡" class="ask_tag" data-bn-ipg="22-1-8"><strong class="ask_tag_strong">新加坡</strong></a>
    <a href="/tag/暹粒" class="ask_tag" data-bn-ipg="22-1-9"><strong class="ask_tag_strong">暹粒</strong></a>
    <a href="/tag/意大利" class="ask_tag" data-bn-ipg="22-1-10"><strong class="ask_tag_strong">意大利</strong></a>
    <a href="/tag/澳门" class="ask_tag" data-bn-ipg="22-1-11"><strong class="ask_tag_strong">澳门</strong></a>
    <a href="/tag/巴黎" class="ask_tag" data-bn-ipg="22-1-12"><strong class="ask_tag_strong">巴黎</strong></a>
    <a href="/tag/澳大利亚" class="ask_tag" data-bn-ipg="22-1-13"><strong class="ask_tag_strong">澳大利亚</strong></a>
    <a href="/tag/新西兰" class="ask_tag" data-bn-ipg="22-1-14"><strong class="ask_tag_strong">新西兰</strong></a>
    <a href="/tag/台湾" class="ask_tag" data-bn-ipg="22-1-15"><strong class="ask_tag_strong">台湾</strong></a>
    <a href="/tag/罗马" class="ask_tag" data-bn-ipg="22-1-16"><strong class="ask_tag_strong">罗马</strong></a>
    <a href="/tag/曼谷" class="ask_tag" data-bn-ipg="22-1-17"><strong class="ask_tag_strong">曼谷</strong></a>
    <a href="/tag/伦敦" class="ask_tag" data-bn-ipg="22-1-18"><strong class="ask_tag_strong">伦敦</strong></a>
    <a href="/tag/吉隆坡" class="ask_tag" data-bn-ipg="22-1-19"><strong class="ask_tag_strong">吉隆坡</strong></a>
  </div>
  <h5>指南信息</h5>
  <div class="ask_sidebar_tag_list">
    <a href="/tag/签证" class="ask_tag" data-bn-ipg="22-2-1"><strong class="ask_tag_strong">签证</strong></a>
    <a href="/tag/机票" class="ask_tag" data-bn-ipg="22-2-2"><strong class="ask_tag_strong">机票</strong></a>
    <a href="/tag/行程" class="ask_tag" data-bn-ipg="22-2-3"><strong class="ask_tag_strong">行程</strong></a>
    <a href="/tag/住宿" class="ask_tag" data-bn-ipg="22-2-4"><strong class="ask_tag_strong">住宿</strong></a>
    <a href="/tag/旅行时间" class="ask_tag" data-bn-ipg="22-2-5"><strong class="ask_tag_strong">旅行时间</strong></a>
    <a href="/tag/落地签" class="ask_tag" data-bn-ipg="22-2-6"><strong class="ask_tag_strong">落地签</strong></a>
    <a href="/tag/银联" class="ask_tag" data-bn-ipg="22-2-7"><strong class="ask_tag_strong">银联</strong></a>
    <a href="/tag/信用卡" class="ask_tag" data-bn-ipg="22-2-8"><strong class="ask_tag_strong">信用卡</strong></a>
    <a href="/tag/购物" class="ask_tag" data-bn-ipg="22-2-9"><strong class="ask_tag_strong">购物</strong></a>
    <a href="/tag/优惠卡" class="ask_tag" data-bn-ipg="22-2-10"><strong class="ask_tag_strong">优惠卡</strong></a>
    <a href="/tag/廉航" class="ask_tag" data-bn-ipg="22-2-11"><strong class="ask_tag_strong">廉航</strong></a>
    <a href="/tag/欧洲铁路" class="ask_tag" data-bn-ipg="22-2-12"><strong class="ask_tag_strong">欧洲铁路</strong></a>
    <a href="/tag/打折" class="ask_tag" data-bn-ipg="22-2-13"><strong class="ask_tag_strong">打折</strong></a>
    <a href="/tag/电话卡" class="ask_tag" data-bn-ipg="22-2-14"><strong class="ask_tag_strong">电话卡</strong></a>
    <a href="/tag/租车" class="ask_tag" data-bn-ipg="22-2-15"><strong class="ask_tag_strong">租车</strong></a>
    <a href="/tag/国际学生证" class="ask_tag" data-bn-ipg="22-2-16"><strong class="ask_tag_strong">国际学生证</strong></a>
  </div>
  <h5>旅行主题</h5>
  <div class="ask_sidebar_tag_list">
    <a href="/tag/蜜月" class="ask_tag" data-bn-ipg="22-3-1"><strong class="ask_tag_strong">蜜月</strong></a>
    <a href="/tag/自驾" class="ask_tag" data-bn-ipg="22-3-2"><strong class="ask_tag_strong">自驾</strong></a>
    <a href="/tag/亲子游" class="ask_tag" data-bn-ipg="22-3-3"><strong class="ask_tag_strong">亲子游</strong></a>
    <a href="/tag/徒步" class="ask_tag" data-bn-ipg="22-3-4"><strong class="ask_tag_strong">徒步</strong></a>
    <a href="/tag/潜水" class="ask_tag" data-bn-ipg="22-3-5"><strong class="ask_tag_strong">潜水</strong></a>
    <a href="/tag/温泉" class="ask_tag" data-bn-ipg="22-3-6"><strong class="ask_tag_strong">温泉</strong></a>
    <a href="/tag/美食" class="ask_tag" data-bn-ipg="22-3-7"><strong class="ask_tag_strong">美食</strong></a>
    <a href="/tag/摄影" class="ask_tag" data-bn-ipg="22-3-8"><strong class="ask_tag_strong">摄影</strong></a>
    <a href="/tag/休闲" class="ask_tag" data-bn-ipg="22-3-9"><strong class="ask_tag_strong">休闲</strong></a>
    <a href="/tag/历史" class="ask_tag" data-bn-ipg="22-3-10"><strong class="ask_tag_strong">历史</strong></a>
  </div>
  <div class="tr mt5"><a title="全部问答标签" href="/tags/" data-bn-ipg="22-0">全部问答标签</a></div>            </div>
</div>

<div class="clear"></div>
</div>

</div>
<!--问答首页 end--></div>