.form_list .aform{ width: 245px; float: left;padding-left:60px; line-height:1.4em}
.form_list .aform img{margin-left: -60px; float: left}
.form_list .aform h2 a{font-size: 14px; font-weight: bold}
.form_list .dashed_line{margin: 16px 0; height: 15px}
.user