<div class="reg_main">
  <div class="f14 mt-5 cGray">验证邮件已发送到您的邮箱：<span class="fontArial"><%= @email %></span><br>请点击邮件中的确认链接完成验证</div>
  <div class="tc mt15"><a target="_blank" href="http://<%= @mail_domain %>" class="btn btn-mint ui_btn_big fontYaHei">前往邮箱</a></div>
  <div class="email_tips cGray">
    <h4 class="f16 fontYaHei">没有收到验证邮件？</h4>
    <p>1. 电子邮件偶尔会有延时状况，请耐心等待</p>
    <p>2. 尝试到垃圾邮件里找找看</p>
    <p>3. 如果仍然没有邮件：<span id="resentcode"><a id="codedata" href="javascript:;" to="<%= @email %>">重新发送验证邮件</a></span></p>
    <p>4. 邮件地址写错了？<a href="<%= register_path %>">重新注册</a></p>
  </div>
</div>