body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after {
    content: "";
}

abbr,acronym {
    border: 0;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #959595;
}

input:-moz-placeholder,textarea:-moz-placeholder {
    color: #959595;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #959595;
}

.qyer_header_fixed {
    height: 40px;
}

.qyer_header_bg {
    z-index: 999;
    _position: static;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 960px;
    border-bottom: 2px solid #72b088;
    background: #147850;
    text-align: left;
    font-size:12px;
    font-family: 'YaHei Consolas Hybrid','Microsoft YaHei';
    color: #323232;
    clear: both;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.qyer_header {
    width: 960px;
    height: 38px;
    margin: 0
    auto;
}

.qyer_header
a {
    text-decoration: none;
    color: #0073b6;
}

.qyer_header a:hover {
    text-decoration: underline;
}

.qyer_head_logo {
    float: left;
    width: 110px;
}

.qyer_head_nav {
    float: left;
    width: 440px;
}

.qyer_head_nav_item {
    float: left;
    margin-top: 2px;
}

.qyer_head_nav_item_tit {
    display: block;
    width: 56px;
    height: 34px;
    line-height: 220px;
    background: url(/static/media/head_nav3.png) no-repeat 0 0;
    overflow: hidden;
}

.qyer_head_nav_item_home {
    width: 52px;
    background-position: -440px -2px;
}

.qyer_head_nav_item_home:hover {
    background-position: -440px -102px;
    border-bottom: 2px solid #74b089;
}

.qyer_head_nav_item_raiders {
    width: 52px;
    background-position: -300px -2px;
}

.qyer_head_nav_item_raiders:hover {
    background-position: -300px -102px;
    border-bottom: 2px solid #74b089;
}


.qyer_head_nav_item_place {
    width: 64px;
    background-position: -3px -2px;
}

.qyer_head_nav_item_place:hover {
    background-position: -3px -102px;
    border-bottom: 2px solid #74b089;
}


.qyer_head_nav_item_guide {
    width: 52px;
    background-position: -67px -2px;
}

.qyer_head_nav_item_bbs {
    width: 49px;
    background-position: -119px -2px;
}

.qyer_head_nav_item_ask {
    width: 50px;
    background-position: -168px -2px;
}

.qyer_head_nav_item_lastm {
    width: 74px;
    background-position: -218px -2px;
}

.qyer_head_nav_item_hotel {
    width: 49px;
    background-position: -302px -2px;
}

.qyer_head_nav_item_yd {
    width: 65px;
    background-position: -358px -2px;
}



.qyer_head_nav_item_guide:hover {
    background-position: -67px -102px;
    border-bottom: 2px solid #74b089;
}

.qyer_head_nav_item_bbs:hover {
    background-position: -119px -102px;
    border-bottom: 2px solid #74b089;
}

.qyer_head_nav_item_ask:hover {
    background-position: -168px -102px;
    border-bottom: 2px solid #74b089;
}

.qyer_head_nav_item_lastm:hover {
    background-position: -218px -102px;
    border-bottom: 2px solid #74b089;
}

.qyer_head_nav_item_hotel:hover {
    background-position: -302px -102px;
    border-bottom: 2px solid #74b089;
}

.qyer_head_nav_item_this
.qyer_head_nav_item_tit {
    border-bottom: 2px solid #74b089;
}

.qyer_head_nav_item_this
.qyer_head_nav_item_place {
    background-position: -3px -102px;
}

.qyer_head_nav_item_this
.qyer_head_nav_item_guide {
    background-position: -67px -102px;
}

.qyer_head_nav_item_this
.qyer_head_nav_item_bbs {
    background-position: -119px -102px;
}

.qyer_head_nav_item_this
.qyer_head_nav_item_ask {
    background-position: -168px -102px;
}

.qyer_head_nav_item_this
.qyer_head_nav_item_lastm {
    background-position: -218px -102px;
}

.qyer_head_nav_item_this
.qyer_head_nav_item_hotel {
    background-position: -302px -102px;
}

.qyer_head_nav_item_this
.qyer_head_nav_item_yd {
    background-position: -358px -102px;
}

.qyer_head_nav_item_current {
    position: relative;
    z-index: 999;
}

.qyer_head_nav_item_current
.qyer_head_nav_item_yd {
    background-position: -358px -202px;
}

.qyer_head_subnav_bg {
    display: none;
    width: 142px;
    position: absolute;
    right: 1px;
    top: 34px;
    background: #fff;
    border: 1px
    solid #d9d9d9;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
}

.qyer_head_subnav_top {
    position: absolute;
    top: -2px;
    right: -1px;
    width: 61px;
    height: 5px;
    overflow: hidden;
    background: #fff;
    border-right: 1px solid #d9d9d9;
}

.qyer_head_subnav_list {
    padding: 8px;
}

.qyer_head_subnav_list
li {
    font-size: 14px;
}

.qyer_head_subnav_list
a {
    display: block;
    height: 30px;
    padding-left: 39px;
    line-height: 30px;
    color: #147850;
    background-image: url(/static/media/head_ydnav2.png);
    background-repeat: no-repeat;
    border-radius: 2px;
}

.qyer_head_subnav_list a:hover {
    background-color: #74b089;
    color: #fff;
    text-decoration: none;
}

.qyer_head_nav_item_plane {
    background-position: 8px 0;
}

.qyer_head_nav_item_insure {
    background-position: 8px -30px;
}

.qyer_head_nav_item_visa {
    background-position: 8px -60px;
}

.qyer_head_nav_item_hoteldeal {
    background-position: 8px -90px;
}

.qyer_head_nav_item_shop {
    background-position: 8px -120px;
}

.qyer_head_nav_item_liner {
    background-position: 8px -150px;
}

.qyer_head_nav_item_car {
    background-position: 8px -180px;
}

.qyer_head_nav_item_plane:hover {
    background-position: -269px 0;
}

.qyer_head_nav_item_insure:hover {
    background-position: -269px -30px;
}

.qyer_head_nav_item_visa:hover {
    background-position: -269px -60px;
}

.qyer_head_nav_item_hoteldeal:hover {
    background-position: -269px -90px;
}

.qyer_head_nav_item_shop:hover {
    background-position: -269px -120px;
}

.qyer_head_nav_item_liner:hover {
    background-position: -269px -150px;
}

.qyer_head_nav_item_car:hover {
    background-position: -269px -180px;
}

.qyer_head_search {
    position: relative;
    z-index: 998;
    float: right;
    width: 206px;
    height: 28px;
    margin-top: 5px;
    background: #fff;
}

.qyer_head_search_input {
    float: left;
    width: 162px;
    height: 18px;
    padding: 5px
    8px;
    border: none;
    background: transparent;
    font-size: 12px;
    line-height: 18px;
}

.qyer_head_search_btn {
    float: left;
    width: 28px;
    height: 28px;
    border: 0;
    background: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: -100px;
    background: url(/static/media/head_search.png) no-repeat 0 0;
    background: url(/static/media/head_search_small.png) no-repeat 0 0\9;
    background-size: 28px 28px;
}

.qyer_head_search_btn:hover {
    background: url(/static/media/head_search_hv.png) no-repeat 0 0;
    background: url(/static/media/head_search_small_hv.png) no-repeat 0 0\9;
    background-size: 28px 28px;
}

.qyer_head_search_drop {
    display: none;
    position: absolute;
    left: 0;
    top: 28px;
    width: 312px;
    border: 1px
    solid #ccc;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.qyer_head_search_drop
.related {
    font-weight: bold;
    color: #007345;
}

.qyer_head_search_drop_list {
    width: 100%;
    overflow: hidden;
}

.qyer_head_search_drop_list
dt {
    float: left;
    display: inline;
    width: 44px;
    padding-top: 6px;
    text-align: right;
    color: #959595;
}

.qyer_head_search_drop_list
dd {
    float: right;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.qyer_head_search_drop_list dd
a {
    display: block;
    width: 242px;
    padding: 6px
    5px 6px 10px;
    color: #323232;
}

.qyer_head_search_drop_list dd a:hover {
    background-color: #e6f4d9;
    text-decoration: none;
    color: #323232;
}

.qyer_head_search_drop_list dd
.title_cn {
    display: block;
}

.qyer_head_search_drop_list dd
.title_en {
    display: block;
    color: #959595;
}

.qyer_head_search_drop_list_place dd .title_cn, .qyer_head_search_drop_list_place dd
.title_en {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qyer_head_search_drop_list_ask dd
a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qyer_head_search_drop_more {
    border-top: 1px solid #ebebeb;
    margin-top: -1px;
}

.qyer_head_search_drop_more
a {
    display: block;
    width: 100%;
    padding: 6px
    0;
    color: #323232;
    text-align: center;
    color: #323232;
}

.qyer_head_search_drop_more a:hover {
    background-color: #e6f4d9;
    text-decoration: none;
    color: #323232;
}

.qyer_head_search_drop_null {
    text-align: center;
    line-height: 32px;
}

.qyer_head_login {
    float: right;
    width: 185px;
    padding-top: 4px;
}

.qyer_head_login_entry {
    padding-top: 7px;
    height: 16px;
    line-height: 16px;
    color: #fff;
}

.qyer_head_login_entry
li {
    float: right;
    margin-left: 10px;
}

.qyer_head_login_entry li
img {
    display: block;
}

.qyer_head_login_entry
a {
    color: #fff;
}

.qyer_head_login_entry a:hover {
    color: #e0f1df;
    text-decoration: none;
}

.qyer_head_new {
    float: right;
    position: relative;
    z-index: 998;
    width: 18px;
    height: 30px;
    margin-left: 20px;
}

.qyer_head_new_icon {
    display: block;
    height: 30px;
    background: url(/static/media/head_new.png) no-repeat 0 6px;
    overflow: hidden;
    text-indent: -200px;
    cursor: pointer;
}

.qyer_head_new_icon:hover {
    background-position: 0 -24px;
}

.qyer_head_new_drop {
    display: none;
    position: absolute;
    right: -8px;
    top: 30px;
    width: 89px;
}

.qyer_head_new_drop_arrow {
    width: 100%;
    height: 5px;
    overflow: hidden;
    background: url(/static/media/head_new_arrow.png) no-repeat;
}

.qyer_head_new_drop_list {
    border: 1px
    solid #c0c0c0;
    border-top: none;
    background-color: #fff;
}

.qyer_head_new_drop_list
li {
    border-top: 1px dotted #ccc;
}

.qyer_head_new_drop_list
.qyer_head_new_drop_bbs {
    border-top: none;
}

.qyer_head_new_drop_list
a {
    display: block;
    height: 34px;
    padding-left: 36px;
    font-size: 14px;
    line-height: 34px;
    background: url(/static/media/head_new_icon.png) no-repeat;
}

.qyer_head_new_drop_list a:hover {
    background-color: #ececec;
    text-decoration: none;
}

.qyer_head_new_drop_bbs
a {
    background-position: 10px 9px;
}

.qyer_head_new_drop_photo
a {
    background-position: 10px -26px;
}

.qyer_head_new_drop_plan
a {
    background-position: 10px -61px;
}

.qyer_head_new_drop_ask
a {
    background-position: 10px -96px;
}

.qyer_head_login_user {
    float: right;
    position: relative;
    z-index: 997;
}

.qyer_head_login_user
a.qyer_head_login_hotspot {
    float: right;
    height: 30px;
    cursor: pointer;
}

.qyer_head_login_user a.qyer_head_login_hotspot:hover {
    text-decoration: none;
}

.qyer_head_login_face {
    position: relative;
    float: right;
}

.qyer_head_login_face
img {
    display: block;
    width: 26px;
    height: 26px;
    padding: 2px;
}

.qyer_head_login_face
em {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url(/static/media/head_user_round.png) no-repeat;
}

.qyer_head_login_name {
    float: right;
    padding-right: 10px;
    text-align: right;
    line-height: 30px;
    color: #fff;
}

.qyer_head_login_user_current
.qyer_head_login_name {
    color: #e3f2e2;
}

.qyer_head_login_message {
    position: absolute;
    right: -12px;
    top: 7px;
    z-index: 40;
    width: 24px;
    height: 16px;
    background: url(/static/media/head_user_message.png) no-repeat 0 0;
    overflow: hidden;
}

.qyer_head_login_drop {
    position: absolute;
    right: 0;
    top: 30px;
    width: 200px;
    color: #636363;
    background: url(/images/common/transparent.png);
}

.qyer_head_login_drop_trigon {
    width: 100%;
    height: 6px;
    position: relative;
    z-index: 9999;
}

.qyer_head_login_drop_trigon
span {
    display: block;
    width: 12px;
    height: 6px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    right: 9px;
    background: url(/static/media/head_user_trigon.png) no-repeat 0 0;
}

.qyer_head_login_dropbox {
    position: relative;
    width: 198px;
    border: 1px
    solid #c0c0c0;
    background: #fff;
}

.qyer_head_login_dropbox_inform {
    padding-left: 5px;
    overflow: hidden;
    _zoom: 1;
}

.qyer_head_login_dropbox_inform
li {
    float: left;
    display: inline;
    width: 83px;
    height: 24px;
    line-height: 24px;
    padding: 4px
    0;
}

.qyer_head_login_dropbox_inform li
a {
    color: #636363;
    display: block;
    padding-left: 5px;
}

.qyer_head_login_dropbox_inform li a:hover {
    color: #006aad;
    background: #ececec;
    text-decoration: none;
}

.qyer_head_login_dropbox_close {
    position: absolute;
    right: 11px;
    top: 12px;
    width: 8px;
    height: 8px;
    background: url(/static/media/head_user_close.png) no-repeat 0 0;
    cursor: pointer;
}

.qyer_head_login_dropbox_list {
    padding: 5px
    0 5px 5px;
    overflow: hidden;
    _zoom: 1;
    border-top: 1px solid #e8e5de;
    border-bottom: 1px solid #e8e5de;
}

.qyer_head_login_dropbox_list
li {
    float: left;
    display: inline;
    width: 83px;
    height: 24px;
    line-height: 24px;
}

.qyer_head_login_dropbox_list li
a {
    padding: 0
    5px;
    display: block;
    color: #636363;
}

.qyer_head_login_dropbox_list li a:hover {
    color: #006aad;
    background: #ececec;
    text-decoration: none;
}

#qyer_head_login_drop {
    display: none;
}

.go2eu_header_crumbBg {
    width: 100%;
    min-width: 960px;
    font: 12px/14px \5b8b\4f53,sans-serif;
    margin: 20px
    0;
}

.go2eu_header_crumbBox {
    width: 960px;
    height: 14px;
    margin: 0
    auto;
    color: #636363;
}

.go2eu_header_crumbBox
h1 {
    display: inline;
    font-weight: normal;
}

.go2eu_header_crumbBox
a {
    font-weight: bold;
    color: #0073b6;
    text-decoration: none;
}

.go2eu_header_crumbBox a:hover {
    color: #0073b6;
    text-decoration: underline;
}

.qyer_head_crumbg {
    width: 100%;
    min-width: 960px;
    font: 12px/14px \5b8b\4f53,sans-serif;
    margin: 20px
    0;
    text-align: left;
}

.qyer_head_crumb {
    width: 960px;
    height: 14px;
    margin: 0
    auto;
    color: #636363;
}

.qyer_head_crumb
.text {
    float: left;
    display: inline;
    position: relative;
}

.qyer_head_crumb
.space {
    float: left;
    display: inline;
    padding: 0
    7px;
}

.qyer_head_crumb
.drop {
    padding-right: 12px;
}

.qyer_head_crumb
em.arrow {
    position: absolute;
    top: 2px;
    right: 0;
    height: 9px;
    width: 9px;
    background: url(/static/media/crumb_arrow.png) no-repeat 0 0;
}

.qyer_head_crumb
em.hover {
    background-position: 0 -14px;
}

.qyer_head_crumb
.current {
    display: inline;
    font-weight: normal;
}

.qyer_head_crumb
a {
    font-weight: bold;
    color: #0073b6;
    text-decoration: none;
}

.qyer_head_crumb a:hover {
    color: #0073b6;
    text-decoration: underline;
}

.qyer_head_crumb_pulldown {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 320px;
    padding: 5px;
    background-color: #fff;
    border: 1px
    solid #c2c2c2;
}

.qyer_head_crumb_pulldown
ul {
    float: left;
    width: 160px;
}

.qyer_head_crumb_pulldown ul
li {
    line-height: 24px;
}

.qyer_head_crumb_pulldown ul
a {
    display: block;
    color: #636363;
    padding: 0
    5px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qyer_head_crumb_pulldown ul a:hover {
    text-decoration: none;
    background-color: #ececec;
    color: #0073b6;
}

.qyer_head_crumb_pulldown
.more {
    display: block;
    padding-right: 5px;
    line-height: 24px;
    text-align: right;
}

.qyer_footer {
    width: 100%;
    min-width: 960px;
    text-align: left;
    background: #363636 url(/static/media/foot_bg.png) repeat-x 0 top;
    font: 12px/1.5 helvetica,arial,"hiragino sans gb","\5b8b\4f53",sans-serif;
    color: #959595;
    clear: both;
}

.qyer_footer
a {
    text-decoration: none;
    color: #959595;
}

.qyer_footer a:hover {
    text-decoration: underline;
    color: #959595;
}

.qyer_footerBox {
    width: 960px;
    margin: 0
    auto;
    padding: 20px
    0;
    overflow: hidden;
}

.qyer_footer_about {
    float: left;
    padding-top: 3px;
}

.qyer_footer_about
li {
    float: left;
    width: 140px;
    line-height: 24px;
}

.qyer_footer_about li
dt {
    font-weight: bold;
    color: #c2c2c2;
}

.qyer_footer_attention {
    padding-top: 7px;
}

.qyer_footer_appStore {
    float: right;
    padding-top: 10px;
}

.qyer_footer_copyright {
    clear: left;
    width: 100%;
    padding: 20px
    0 0 110px;
    overflow: hidden;
    _zoom: 1;
}

.qyer_footer_copyright
img {
    float: left;
    margin: 5px
    0 0 -110px;
}


.ui_page {
    float: right;
    margin-top: 7px;
    height: 22px;
    line-height: 22px;
    padding-right:5px;
}

.ui_page a,.ui_page em,.ui_page span{
    float: left;
    display: inline;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    border: 1px solid #ccc;
    margin-left: 2px;
    color: #063;
}
.ui_page .disabled{
    background: #eee;
    color: #c5c5c5;
    box-shadow: none;
    border: 1px solid #E2E2E2;
}
.ui_page em{
    background-color: #063;
    color: #fff;
    text-decoration: none;
    border-color: #063;
    cursor: default;
}
.ui_page a:hover{
    background-color: #063;
    color: #fff;
    border-color: #063;
    text-decoration: none;
}

.qyer_head_logo img{
    width: 85px;
}
