<div class="qyer_footer" id="qyer_footer">
    <div class="qyer_footerBox">
        <ul class="qyer_footer_about">
            <li>
                <dl>
                    <dt>关于我们</dt>
                    <dd>
                        <a href="/htmlpages/about.html" target="_blank" rel="nofollow" data-bn-ipg="foot-about-1">骑趣简介</a>
                    </dd>
                    <dd>
                        <a href="/htmlpages/contact.html" target="_blank" rel="nofollow" data-bn-ipg="foot-about-2">联系我们</a>
                    </dd>
                    <dd><a href="/partner/" target="_blank" rel="nofollow" data-bn-ipg="foot-about-3">合作伙伴</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>加入骑趣</dt>
                    <dd><a href="/job/" target="_blank" rel="nofollow" data-bn-ipg="foot-join-1">招聘职位</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>网站条款</dt>
                    <dd>
                        <a href="/htmlpages/member.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-1">会员条款</a>
                    </dd>
                    <dd>
                        <a href="/htmlpages/bbsguide.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-2">社区指南</a>
                    </dd>
                    <dd>
                        <a href="/htmlpages/copyright.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-3">版权声明</a>
                    </dd>
                    <dd>
                        <a href="/htmlpages/exemption.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-4">免责声明</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="http://site.qyer.com/tyro/" target="_blank" rel="nofollow" data-bn-ipg="foot-help-1">新手上路</a>
                    </dd>
                    <dd><a href="http://bbs.qyer.com/faq.php" target="_blank" rel="nofollow" data-bn-ipg="foot-help-2">使用帮助</a>
                    </dd>
                    <dd>
                        <a href="http://www.surveygizmo.com/s3/465989/289a6cfbafa6" target="_blank" rel="nofollow" data-bn-ipg="foot-help-3">建议和投诉</a>
                    </dd>
                    <dd><a href="/sitemap.html" target="_blank" data-bn-ipg="foot-help-4">网站地图</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>关注我们</dt>
                    <dd class="qyer_footer_attention">
                        <img src="/static/media/icon_attention.png" alt="" width="80" height="50" border="0" usemap="#Map_go2att"/>
                        <map name="Map_go2att" id="Map_go2att">
                            <area shape="rect" coords="0,0,20,20" href="http://t.sina.com.cn/go2eu" target="_blank" rel="nofollow" alt="骑趣网@新浪微博" title="骑趣网@新浪微博"
                                  onclick="_gaq.push(['_trackEvent','outlink','buttomlink','weibo',1]);" data-bn-ipg="foot-concern-1"/>
                            <area shape="rect" coords="30,0,50,20" href="http://www.flickr.com/photos/go2eu" target="_blank" rel="nofollow" alt="骑趣网@flickr" title="骑趣网@flickr"
                                  onclick="_gaq.push(['_trackEvent','outlink','buttomlink','flickr',1]);" data-bn-ipg="foot-concern-2"/>
                            <area shape="rect" coords="60,0,80,20" href="http://page.renren.com/600986584" target="_blank" rel="nofollow" alt="骑趣网@人人" title="骑趣网@人人"
                                  onclick="_gaq.push(['_trackEvent','outlink','buttomlink','renren',1]);" data-bn-ipg="foot-concern-3"/>
                            <area shape="rect" coords="0,30,20,50" href="http://site.douban.com/go2eu" target="_blank" rel="nofollow" alt="骑趣网@豆瓣" title="骑趣网@豆瓣"
                                  onclick="_gaq.push(['_trackEvent','outlink','buttomlink','douban',1]);" data-bn-ipg="foot-concern-4"/>
                            <area shape="rect" coords="30,30,50,50" href="http://www.facebook.com/#!/qiongyou" target="_blank" rel="nofollow" alt="骑趣网@facebook" title="骑趣网@facebook"
                                  onclick="_gaq.push(['_trackEvent','outlink','buttomlink','facebook',1]);" data-bn-ipg="foot-concern-5"/>
                            <area shape="rect" coords="60,30,82,50" href="http://twitter.com/go2eucom" target="_blank" rel="nofollow" alt="骑趣网@twitter" title="骑趣网@twitter"
                                  onclick="_gaq.push(['_trackEvent','outlink','buttomlink','twitter',1]);" data-bn-ipg="foot-concern-6"/>
                        </map>
                    </dd>
                </dl>
            </li>
        </ul>
        <div class="qyer_footer_appStore">
            <a href="http://itunes.apple.com/cn/artist/qyer/id492202235" target="_blank" rel="nofollow" data-bn-ipg="foot-appstore"><img src="/static/media/appstore.png" width="118" height="39" alt="骑趣网@App Store"
                                                                                                                                         title="骑趣网@App Store"/></a>
        </div>
        <div class="qyer_footer_copyright">
            <a href="http://gobiker.cn:82/" rel="nofollow" data-bn-ipg="foot-logo"><img src="/static/media/foot_logo.png" width="100" height="30" alt="骑趣网"/></a>

            <p>2004-2013 &copy; 骑趣网&trade; gobiker.cn All rights reserved. Version
               v4.11&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">浙ICP备13037136号</a>&nbsp;&nbsp;
            </p>

            <p>ss骑趣网为旅行者提供原创实用的出境游旅行指南和旅游攻略、旅行社区和问答交流平台，并提供签证、保险、机票、酒店预订、租车等服务。</p>
        </div>
    </div>
</div>

<a id="go2top" class="go2top" href="#header" style="display:none;"><span class="go2top-inner"></span></a>