<div class="qyer_header_fixed">
  <div class="qyer_header_bg" style="position: fixed;">
    <div class="qyer_header">
      <div class="qyer_head_logo">
        <a href="/"><img src="/images/qiqulogo.png" alt="骑趣网" title="骑趣网 - 旅途永无穷尽" /></a>
      </div>
      <ul class="qyer_head_nav">
        <li class="qyer_head_nav_item ">
          <a href="/" class="qyer_head_nav_item_tit qyer_head_nav_item_home">首页</a>
        </li>
        <li class="qyer_head_nav_item">
          <a href="/places" class="qyer_head_nav_item_tit qyer_head_nav_item_place" >目的地</a>
        </li>
        <li class="qyer_head_nav_item">
          <a href="/guides/" class="qyer_head_nav_item_tit qyer_head_nav_item_raiders" >攻略</a>
        </li>
        <li class="qyer_head_nav_item">
          <a href="/forums/" class="qyer_head_nav_item_tit qyer_head_nav_item_bbs" >论坛</a>
        </li>
        <li class="qyer_head_nav_item">
          <a href="/asks/" class="qyer_head_nav_item_tit qyer_head_nav_item_ask" >问答</a>
        </li>
        <li class="qyer_head_nav_item">
          <a href="/lastminute/" class="qyer_head_nav_item_tit qyer_head_nav_item_lastm">穷游折扣</a>
        </li>

        <li class="qyer_head_nav_item " id="qyer_head_nav_item_yd">
          <span class="qyer_head_nav_item_tit qyer_head_nav_item_yd">品牌</span>

          <div class="qyer_head_subnav_bg">
            <div class="qyer_head_subnav_top"></div>
            <ul class="qyer_head_subnav_list">
              <li><a href="/v1" class="qyer_head_nav_item_plane" >首页版式11</a>
              </li>
              <li><a href="/photos/new" class="qyer_head_nav_item_insure" >添加照片</a>
              </li>
              <li><a href="/comments/" class="qyer_head_nav_item_visa">评论</a></li>
              <li>
                <a href="/user/logout" class="qyer_head_nav_item_hoteldeal">退出登录</a>
              </li>
              <li>
                <a href="http://www.qyer.com/shop/" class="qyer_head_nav_item_shop">华人旅馆</a>
              </li>
              <li>
                <a href="/goto.php?url=http://www.tapotiexie.com" target="_blank" class="qyer_head_nav_item_liner" data-bn-ipg="head-nav-liner">邮轮</a>
              </li>
              <li><a href="http://car.qyer.com/" class="qyer_head_nav_item_car" >租车2</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="qyer_head_login" id="asynclogininfo">
      </div>

<div class="qyer_head_search" id="searchdiv">
	<form action="http://search.qyer.com/index?" method="get" target="_blank">
		<input id="qyer_head_search_input" name="wd" autocomplete="off" class="qyer_head_search_input" type="text" value="" placeholder="搜索目的地/结伴/攻略">
		<input type="submit" value="搜索" class="qyer_head_search_btn" onclick="return checksearch();" data-bn-ipg="1014">
	</form>
	<div class="qyer_head_search_drop" id="qyer_head_search_drop">
	</div>
</div>

    </div>
  </div>
</div>
