<ul class="lmsales clearfix">
  <li>
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1257/" data-bn-ipg="top-rec-1-1" target="_blank"><img src="http://static.qyer.com/upload/lastminute/main/54/e7/54e7acc5002640b9259b9c89f8e36446_275" width="275" height="183" alt="上海直飞马尔代夫美人蕉4晚6天潜水套餐"></a></p>
    <div class="price"><p class="fontYaHei"><em>8780</em>元起</p><p class="arrow"></p></div>
    <div class="infobox">
      <p class="sale"><img src="http://static.qyer.com/images/lm/icon_alone.png" width="60" height="88" alt="穷游er独享"></p>
      <h2 class="title"><a href="http://www.qyer.com/lastminute/deal/1257/" title="上海直飞马尔代夫美人蕉4晚6天潜水套餐" data-bn-ipg="top-rec-1-2" class="fontYaHei" target="_blank">上海直飞马尔代夫美人蕉4晚6天潜水套餐</a></h2>
      <p class="text">上海直飞马尔代夫美人蕉4晚6天潜水套餐，穷游er独享价8780元/人含税，两人起订，价格含上海马尔代夫直飞往返机票，马尔代夫潜水A类度假村“蓝色美人蕉Thulhagiri Island Resort&amp;Spa”4晚Deluxe Room豪华沙滩（含度假村内自助早餐，自助晚餐，含机场至度假村往返快艇接送）。增加700元/人可升级为2晚豪华沙滩屋2晚水上别墅。

        另有套餐B：7天5晚 5晚Deluxe Room豪华沙滩屋 穷游独享价 9480元/人含税，增加700元/人可升级为3晚豪华沙滩屋 2晚水上别墅。

        旅行时间：
        1、出发日期：6天4晚  8月27,29日   9月3,5日
        7天5晚  8月30日
        2、美佳航空参考航班：
        第一天：上海浦东-马累 5M199  07:05-12:50
        第五天：马累-上海浦东 5M198  18:20-05:00   </p>
    </div>
  </li>
  <li>
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1164/" data-bn-ipg="top-rec-2-1" target="_blank"><img src="http://static.qyer.com/upload/lastminute/main/3f/72/3f720b2c605667692a47aaf9a57026c2_275" width="275" height="183" alt="伊朗马汉航空广州/上海直飞德黑兰往返含税机票+签证"></a></p>
    <div class="price"><p class="fontYaHei"><em>4799</em>元起</p><p class="arrow"></p></div>
    <div class="infobox">
      <p class="sale"><img src="http://static.qyer.com/images/lm/icon_alone.png" width="60" height="88" alt="穷游er独享"></p>
      <h2 class="title"><a href="http://www.qyer.com/lastminute/deal/1164/" title="伊朗马汉航空广州/上海直飞德黑兰往返含税机票+签证" data-bn-ipg="top-rec-2-2" class="fontYaHei" target="_blank">伊朗马汉航空广州/上海直飞德黑兰往返含税机票+签证</a></h2>
      <p class="text">广州/上海直飞德黑兰往返税后机票+签证6999元/人(30天内自由来回)，6人起结伴同行6499元/人，团购同行5999元/人。穷游er独享15天自由行价格为5799元/人！

        上海新增航班有礼，新增8月4日出发15日上海往返德黑兰穷游er独享4799元特价(含税机票+签证)，还可+1元送德黑兰飞设拉子单程机票一张！

        凭折扣代码享受穷游er独享价。
        客服QQ：1452233832 / 2328972560</p>
    </div>
  </li>
  <li>
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1333/" data-bn-ipg="top-avg-3-1" target="_blank"><img src="http://static.qyer.com/upload/lastminute/main/68/02/68028d83aff43de75d959211992e58a0_275" width="275" height="183" alt="南航国际机票年中大促"></a></p>
    <div class="price"><p class="fontYaHei"><em>100</em>元起</p><p class="arrow"></p></div>
    <h2 class="title"><a href="http://www.qyer.com/lastminute/deal/1333/" title="南航国际机票年中大促" data-bn-ipg="top-avg-3-2" class="fontYaHei" target="_blank">南航国际机票年中大促</a></h2>
    <p class="text">南方航空网站推出国际机票年中大促销，旅游旺季暑假、国庆和春节期间国际机票特别优惠，低至100元，仅限3天购买。

      暑期广州往返马尼拉500元起/吉隆坡880元/新加坡490元，汕头往返曼谷700元，长春往返香港860元，长沙往返首尔1090元；

      国庆期间广州飞曼谷单程300元/德里,吉隆坡,槟城400元/往返台北990元，上海往返台北990元；

      春节期间北京/上海往返首尔690元，广州飞马尼拉单程100元/吴哥窟,仰光,德里单程200元。

      更多价格可以参阅详情图片</p>
  </li>
</ul>
<p class="solid2" id="deallist"></p>
