<div class="qyer_head_crumbg">
  <div class="qyer_head_crumb">
    <span class="text"><a href="http://www.qyer.com/">首页</a></span>
    <span class="space">&gt;</span>
    <h1 class="current">活动</h1>
  </div>
</div>

<div class="toptitle">
  <div class="box clearfix">
    <h2 class="title fontYaHei">穷游折扣</h2>
    <p class="text fontYaHei">海内外旅行折扣精选，荟萃全球机票、酒店、邮轮等出境游特价折扣</p>
  </div>
</div>

<div class="wrap">
<%#render 'inc_recommend' %>
<div class="left">
<div class="lmsifts">
  <div class="lmsift">
    <dl class="clearfix pd-type">
      <dt>折扣类型：</dt>
      <dd><a href="#" class="current">全部</a></dd>
      <dd><a href="#" data="1016">机票</a></dd>
      <dd><a href="#" data="1017">酒店</a></dd>
      <dd><a href="#" data="1018">机加酒</a></dd>
      <dd><a href="#" data="1021">租车</a></dd>
      <dd><a href="#" data="1049">保险</a></dd>
      <dd><a href="#" data="1050">其它</a></dd>
    </dl>
    <dl class="clearfix pr travel-date">
      <dt>旅行时间：</dt>
      <dd><a href="#" class="current">全部</a></dd>
      <dd><a href="#" data="1">1个月内</a></dd>
      <dd><a href="#" data="2">1-3个月</a></dd>
      <dd><a href="#" data="3">3-6个月</a></dd>
      <dd><a href="#" data="4">6个月以后</a></dd>
      <dd class="cl"><a href="#" data="NewYear">新年</a></dd>
      <dd><a href="#" data="SpringFestival">春节</a></dd>
      <dd><a href="#" data="QingMing">清明</a></dd>
      <dd><a href="#" data="Worker">劳动</a></dd>
      <dd><a href="#" data="MidAutumn">中秋</a></dd>
      <dd><a href="#" data="National">国庆</a></dd>
      <dd class="month">
        <a href="javascript:void(0);" class="openup" id="selectmonth">选择月份</a>
      </dd>
    </dl>
    <div class="monthlist" id="selectmonth_lay" style="display:none;">
      <p class="arrow"></p>
      <p><span>2013</span><a href="#" data="201307">七月</a><a href="#" data="201308">八月</a><a href="#" data="201309">九月</a><a href="#" data="201310">十月</a><a href="#" data="201311">十一月</a><a href="#" data="201312">十二月</a></p>
      <p><span>2014</span><a href="#" data="201401">一月</a><a href="#" data="201402">二月</a><a href="#" data="201403">三月</a><a href="#" data="201404">四月</a><a href="#" data="201405">五月</a><a href="#" data="201406">六月</a></p>
    </div>
    <dl class="clearfix continents">
      <dt>目的地：</dt>
      <dd><a href="#" class="current" id="placeall">全部</a></dd>
      <dd><a href="#" data="10">亚洲</a></dd>
      <dd><a href="#" data="12">欧洲</a></dd>
      <dd><a href="#" data="76">非洲</a></dd>
      <dd><a href="#" data="234">北美</a></dd>
      <dd><a href="#" data="235">南美</a></dd>
      <dd><a href="#" data="239">大洋洲</a></dd>
    </dl>
  </div>
</div>
<ul class="lmlist">
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1358/" data-bn-ipg="sale-1-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/c9/5e/c95e3b5d82179f7e1ddc7a80bfa8f96d_275" width="200" height="133" alt="香港航空北京巴厘岛6日往返机票特价" title="香港航空北京巴厘岛6日往返机票特价"></a>
    </p>
    <p class="sale"><img src="http://static.qyer.com/images/lm/pic_alone.png" width="86" height="69" alt="穷游er独享"></p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1358/" title="香港航空北京巴厘岛6日往返机票特价" data-bn-ipg="sale-1-2" target="_blank">香港航空北京巴厘岛6日往返机票特价</a></h2>
      <div><span class="view">268次</span></div>
      <p class="text">香港航空北京巴厘岛6日往返机票特价，往返含税只要1999元。

        参考航班
        去程
        HX337  ...</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>1999</em>元</p>
      <p class="date"><span class="icon">4天2小时后到期</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1358/" data-bn-ipg="sale-1-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1357/" data-bn-ipg="sale-2-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/3e/be/3ebe355186f376270b4cc9d9bad01dcd_275" width="200" height="133" alt="北京往返菲律宾长滩岛4晚5天自由行促销" title="北京往返菲律宾长滩岛4晚5天自由行促销"></a>
    </p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1357/" title="北京往返菲律宾长滩岛4晚5天自由行促销" data-bn-ipg="sale-2-2" target="_blank">北京往返菲律宾长滩岛4晚5天自由行促销</a></h2>
      <div><span class="view">409次</span></div>
      <p class="text">北京往返菲律宾长滩岛4晚5天自由行促销，飞龙航空北京直飞长滩岛，入住regency酒店，特价3999元...</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>3999</em>元起</p>
      <p class="date"><span class="icon">2013年07月16日结束</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1357/" data-bn-ipg="sale-2-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1350/" data-bn-ipg="sale-3-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/46/24/462495b155be3b7eee55442959196a87_275" width="200" height="133" alt="泰国东方航空长沙往返曼谷机票优惠促销" title="泰国东方航空长沙往返曼谷机票优惠促销"></a>
    </p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1350/" title="泰国东方航空长沙往返曼谷机票优惠促销" data-bn-ipg="sale-3-2" target="_blank">泰国东方航空长沙往返曼谷机票优惠促销</a></h2>
      <div><span class="view">583次</span></div>
      <p class="text">长沙往返泰国优惠机票，泰国东方航空执飞，8月/9月多日出发，5日往返，含税统一价为1699元。

        ...</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>1699</em>元</p>
      <p class="date"><span class="icon">2013年09月21日结束</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1350/" data-bn-ipg="sale-3-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1348/" data-bn-ipg="sale-4-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/28/54/285471f69c00cc6128e356b4e39846d8_275" width="200" height="133" alt="虎航新加坡航点促销" title="虎航新加坡航点促销"></a>
    </p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1348/" title="虎航新加坡航点促销" data-bn-ipg="sale-4-2" target="_blank">虎航新加坡航点促销</a></h2>
      <div><span class="view">1013次</span></div>
      <p class="text">虎航新加坡航点20130709促销，新加坡到万隆/胡志明/雅加达/吉隆坡/槟城/金边为39新币，新加坡...</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>39</em>新币起</p>
      <p class="date"><span class="icon">6天1小时后到期</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1348/" data-bn-ipg="sale-4-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1347/" data-bn-ipg="sale-5-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/76/9c/769cb464457ff026b21128140f655d08_275" width="200" height="133" alt="港龙/国泰航空fanfares促销(第三十七期)" title="港龙/国泰航空fanfares促销(第三十七期)"></a>
    </p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1347/" title="港龙/国泰航空fanfares促销(第三十七期)" data-bn-ipg="sale-5-2" target="_blank">港龙/国泰航空fanfares促销(第三十七期)</a></h2>
      <div><span class="view">1365次</span></div>
      <p class="text">港龙/国泰航空fanfares促销(第三十七期)，最低690港币起(不含税)，香港往返昆明1325港币...</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>690</em>港币起</p>
      <p class="date"><span class="icon">5天2小时后到期</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1347/" data-bn-ipg="sale-5-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1346/" data-bn-ipg="sale-6-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/b9/ec/b9ec1700ab04a82bfbe9d4ab928597d1_275" width="200" height="133" alt="杭州直飞亚庇(沙巴)往返机票+3晚4星酒店" title="杭州直飞亚庇(沙巴)往返机票+3晚4星酒店"></a>
    </p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1346/" title="杭州直飞亚庇(沙巴)往返机票+3晚4星酒店" data-bn-ipg="sale-6-2" target="_blank">杭州直飞亚庇(沙巴)往返机票+3晚4星酒店</a></h2>
      <div><span class="view">1918次</span></div>
      <p class="text">套餐包括杭州飞亚庇往返机票+3晚4星级酒店价格，酒店为亚庇当地4星级酒店-美居哥打京那巴鲁酒店。</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>2149</em>元</p>
      <p class="date"><span class="icon">5天2小时后到期</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1346/" data-bn-ipg="sale-6-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1343/" data-bn-ipg="sale-7-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/76/8b/768ba11f9fc3979093f35eaab275b1fc_275" width="200" height="133" alt="宿务航空Time To Set Sale促销" title="宿务航空Time To Set Sale促销"></a>
    </p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1343/" title="宿务航空Time To Set Sale促销" data-bn-ipg="sale-7-2" target="_blank">宿务航空Time To Set Sale促销</a></h2>
      <div><span class="view">1279次</span></div>
      <p class="text">宿务太平洋航空Time to set sale 促销，菲律宾国内段马尼拉到拉瓦格，巴科洛德到卡加延德奥...</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>99</em>P起</p>
      <p class="date"><span class="icon">2天1小时后到期</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1343/" data-bn-ipg="sale-7-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1342/" data-bn-ipg="sale-8-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/c9/ea/c9eaf6f182e540f8164c52480f535ac8_275" width="200" height="133" alt="虎航海口/广州/深圳出发至新加坡特别促销" title="虎航海口/广州/深圳出发至新加坡特别促销"></a>
    </p>
    <p class="sale"><img src="http://static.qyer.com/images/lm/pic_first.png" width="82" height="65" alt="穷游首发"></p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1342/" title="虎航海口/广州/深圳出发至新加坡特别促销" data-bn-ipg="sale-8-2" target="_blank">虎航海口/广州/深圳出发至新加坡特别促销</a></h2>
      <div><span class="view">1781次</span></div>
      <p class="text">虎航海口/广州/深圳出发至新加坡特别促销，最低单程88元。特价机票数量有限，具体预订步骤请参见活动详情。</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>88</em>元起</p>
      <p class="date"><span class="icon">2013年07月22日结束</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1342/" data-bn-ipg="sale-8-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1341/" data-bn-ipg="sale-9-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/a2/25/a2252470cbe8deff248632bc76866ea0_275" width="200" height="133" alt="香港航空北京往返台湾香港3至14日自由行" title="香港航空北京往返台湾香港3至14日自由行"></a>
    </p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1341/" title="香港航空北京往返台湾香港3至14日自由行" data-bn-ipg="sale-9-2" target="_blank">香港航空北京往返台湾香港3至14日自由行</a></h2>
      <div><span class="view">4269次</span></div>
      <p class="text">7月19日之前预订，携程旅游提供的北京出发台湾+香港3至14日自由行，包含北京-香港-台北-香港-北京...</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>2175</em>元起</p>
      <p class="date"><span class="icon">2013年08月15日结束</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1341/" data-bn-ipg="sale-9-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
  <li class="clearfix">
    <p class="pic"><a href="http://www.qyer.com/lastminute/deal/1339/" data-bn-ipg="sale-10-1" target="_blank">
      <img src="http://static.qyer.com/upload/lastminute/main/0c/59/0c59a01aee266b1e2a49c62db3c78bef_275" width="200" height="133" alt="香港航空北京往返曼谷低价机票" title="香港航空北京往返曼谷低价机票"></a>
    </p>
    <p class="sale"><img src="http://static.qyer.com/images/lm/pic_alone.png" width="86" height="69" alt="穷游er独享"></p>
    <div class="infobox">
      <h2 class="title fontYaHei"><a href="http://www.qyer.com/lastminute/deal/1339/" title="香港航空北京往返曼谷低价机票" data-bn-ipg="sale-10-2" target="_blank">香港航空北京往返曼谷低价机票</a></h2>
      <div><span class="view">1335次</span></div>
      <p class="text">香港航空北京往返曼谷特惠机票，香港转机，含税总价2499元。

        参考航班：
        去程：
        7.14 ...</p>
    </div>
    <div class="fr">
      <p class="price fontYaHei"><em>2499</em>元</p>
      <p class="date"><span class="icon">4天1小时后到期</span></p>
      <p class="btn"><a href="http://www.qyer.com/lastminute/deal/1339/" data-bn-ipg="sale-10-3" target="_blank" class="detail">查看详情</a></p>
    </div>
  </li>
</ul>
<div class="clearfix">
  <div class="ui_page"><a data-bn-ipg="pages-3" href="javascript:void(1)" class="ui_page_item ui_page_item_current">1</a>
    <a data-bn-ipg="pages-3" href="javascript:void(2)" class="ui_page_item">2</a>
    <a data-bn-ipg="pages-3" href="javascript:void(3)" class="ui_page_item">3</a>
    <a data-bn-ipg="pages-3" href="javascript:void(4)" class="ui_page_item">4</a>
    <a data-bn-ipg="pages-3" href="javascript:void(5)" class="ui_page_item">5</a>
    <a data-bn-ipg="pages-4" href="javascript:void(9)" class="ui_page_item" title="...9">...9</a>
    <a data-bn-ipg="pages-5" href="javascript:void(2)" class="ui_page_item ui_page_next" title="下一页">下一页</a>
  </div>
</div>
<script type="text/javascript">
    //calculate arrow position
    (function () {
        // ... all vars and functions are in this scope only
        var that = $('.continents .current');
        var this_x = that.position().left;
        var this_w = that.outerWidth();
        var obj_x = (this_x - 100) + (this_w - 12) / 2;
        $("#placelist_arrow").css("left",obj_x);
    }());
</script>	</div>
<div class="right">
  <div>
    <div class="lmweibo clearfix">
      <img src="http://static.qyer.com/images//lm/icon_weibo.png" width="24" height="24" alt="" class="fl">
      <p class="text fontYaHei">关注@穷游折扣</p>
      <span class="guanzhu" data-bn-ipg="weibo-atten"><wb:follow-button uid="1889659390" type="red_1" width="62" height="24"><iframe src="http://widget.weibo.com/relationship/followbutton.php?btn=red&amp;style=1&amp;uid=1889659390&amp;width=62&amp;height=24&amp;language=zh_cn" width="62" height="24" frameborder="0" scrolling="no" marginheight="0"></iframe></wb:follow-button></span>
    </div>
    <div class="lmweibo_people">217751人已关注</div>
  </div>
  <div class="lm_sldline2"></div>
  <div>
    <div class="lm_title">
      <h2 class="lm_title_name">邮件订阅</h2>
    </div>
    <div class="ind_emailyd">
      <p class="title">QYER Newsletter</p>
      <p class="text">立刻免费订阅<br>独享出境游折扣精选！</p>
      <div class="btn clearfix">
        <form method="post" target="_blank" action="http://user.qyer.com/subscibe.php?action=subscibesubmit">
          <input type="hidden" value="114" name="edmidbox[]">
          <input type="hidden" value="lastminute" name="submit_from">
          <input type="hidden" value="其他" name="usercity">
          <input type="hidden" value="lastminute" name="username">
          <input type="text" name="email" value="" placeholder="输入E-mail地址" class="ui_input">
          <input type="submit" value="订阅" class="ui_buttonB">
        </form>
      </div>
    </div>
  </div>        		<div class="lm_sldline2"></div>
  <div>
    <div class="lm_title">
      <h2 class="lm_title_name">一周热门折扣</h2>
    </div>
    <ol class="lmhotlist">
      <li class="item1"><span class="icon">1</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1333/" title="南航国际机票年中大促" data-bn-ipg="hotdis-1" target="_blank">南航国际机票年中大促</a></p>
        <p class="info"><span class="price"><em>100</em>元起</span></p>
      </li>
      <li class="item2"><span class="icon">2</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1324/" title="亚航7月8日High5大促" data-bn-ipg="hotdis-2" target="_blank">亚航7月8日High5大促</a></p>
        <p class="info"><span class="price"><em>262</em>元起</span></p>
      </li>
      <li class="item3"><span class="icon">3</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1326/" title="北京往返迪拜4晚6天超值奢华游" data-bn-ipg="hotdis-3" target="_blank">北京往返迪拜4晚6天超值奢华游</a></p>
        <p class="info"><span class="price"><em>4999</em>元起</span></p>
      </li>
      <li><span class="icon">4</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1321/" title="hotels全球酒店48小时促销" data-bn-ipg="hotdis-4" target="_blank">hotels全球酒店48小时促销</a></p>
        <p class="info"><span class="price"><em>5.0</em>折起</span></p>
      </li>
      <li><span class="icon">5</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1329/" title="广州新加坡5天往返含税机票特价" data-bn-ipg="hotdis-5" target="_blank">广州新加坡5天往返含税机票特价</a></p>
        <p class="info"><span class="price"><em>780</em>元</span></p>
      </li>
    </ol>
  </div>
</div>
<div class="cb"></div>
<p class="solid2" style="margin-top:30px;"></p>
<div class="partner_lists">
  <div class="lm_title">
    <h2 class="lm_title_name">合作支持</h2>
    <span class="fr"><a class="more" target="_blank" href="/lastminute/vendor/">更多</a></span>
  </div>
  <ul class="partner_list">
    <li><a href="http://www.qyer.com/lastminute/vendor/1113/" target="_blank"><img src="http://static.qyer.com/upload/category/9c/3b/1113/index" width="62" height="62" alt=""></a><p><a href="http://www.qyer.com/lastminute/vendor/1113/" target="_blank">宿务太平洋航空</a></p></li>
    <li><a href="http://www.qyer.com/lastminute/vendor/1120/" target="_blank"><img src="http://static.qyer.com/upload/category/c6/03/1120/index" width="62" height="62" alt=""></a><p><a href="http://www.qyer.com/lastminute/vendor/1120/" target="_blank">中国国际航空</a></p></li>
    <li><a href="http://www.qyer.com/lastminute/vendor/1121/" target="_blank"><img src="http://static.qyer.com/upload/category/3a/15/1121/index" width="62" height="62" alt=""></a><p><a href="http://www.qyer.com/lastminute/vendor/1121/" target="_blank">中国东方航空</a></p></li>
    <li><a href="http://www.qyer.com/lastminute/vendor/1133/" target="_blank"><img src="http://static.qyer.com/upload/category/fd/06/1133/index" width="62" height="62" alt=""></a><p><a href="http://www.qyer.com/lastminute/vendor/1133/" target="_blank">港龙航空</a></p></li>
    <li><a href="http://www.qyer.com/lastminute/vendor/1135/" target="_blank"><img src="http://static.qyer.com/upload/category/fd/2c/1135/index" width="62" height="62" alt=""></a><p><a href="http://www.qyer.com/lastminute/vendor/1135/" target="_blank">中华航空</a></p></li>
    <li><a href="http://www.qyer.com/lastminute/vendor/1159/" target="_blank"><img src="http://static.qyer.com/upload/category/16/e6/1159/index" width="62" height="62" alt=""></a><p><a href="http://www.qyer.com/lastminute/vendor/1159/" target="_blank">阿提哈德航空</a></p></li>
    <li><a href="http://www.qyer.com/lastminute/vendor/1162/" target="_blank"><img src="http://static.qyer.com/upload/category/ab/ea/1162/index" width="62" height="62" alt=""></a><p><a href="http://www.qyer.com/lastminute/vendor/1162/" target="_blank">香港航空</a></p></li>
    <li><a href="http://www.qyer.com/lastminute/vendor/1170/" target="_blank"><img src="http://static.qyer.com/upload/category/3e/b7/1170/index" width="62" height="62" alt=""></a><p><a href="http://www.qyer.com/lastminute/vendor/1170/" target="_blank">马来西亚航空</a></p></li>
  </ul>
</div>
</div>