<div class="qyer_head_crumbg" xmlns="http://www.w3.org/1999/html">
  <div class="qyer_head_crumb">
    <span class="text"><a href="http://www.qyer.com/">首页</a></span>
    <span class="space">&gt;</span>
    <span class="text"><a href="/lastminute/">穷游折扣</a></span>
    <span class="space">&gt;</span>
    <h1 class="current">香港航空北京巴厘岛6日往返机票特价</h1>
  </div>
</div>

<div class="wrap">
<!-- expired start -->
<div class="left">
  <div class="lmtitle">
    <p class="sale"><img src="http://static.qyer.com/images/lm/icon_alone.png" width="60" height="88" alt="穷游er独享"></p>
    <h2 class="title fontYaHei">香港航空北京巴厘岛6日往返机票特价</h2>
    <div class="info clearfix">
      <p class="view"><em><span>745</span></em><span class="fl ml5">次浏览</span></p>
      <p class="view ml25"><span class="fl mr5">当前有</span><em><span>7</span></em><span class="fl ml5">名穷游er正在抢购此折扣</span></p>
      <div class="fr"><span class="fl jiathis_style_title">分享到</span><!-- JiaThis Button BEGIN jiathis_style_24x24  jiathis_style-->
<span class="jiathis_style fl _js_jiathis_style_share" data-title="我在@穷游折扣 发现了一条超给力的优惠折扣，【香港航空北京巴厘岛6日往返机票特价】预订时间：即日起至7月13日，抢折扣点这里&gt;&gt;" data-summary=" " data-pic="http://static.qyer.com/upload/lastminute/main/c9/5e/c95e3b5d82179f7e1ddc7a80bfa8f96d_275" data-url="campaign=weibo_share&amp;category=lm_read_detail">
	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
</span>
        <!-- JiaThis Button END --></div>
    </div>
  </div>
  <div class="lmdetails">
    <div class="lmdetails_l">
      <p class="pic"><img src="http://static.qyer.com/upload/lastminute/main/c9/5e/c95e3b5d82179f7e1ddc7a80bfa8f96d_275" width="275" height="183" alt="香港航空北京巴厘岛6日往返机票特价"></p>
    </div>
    <div class="lmdetails_r">
      <div class="prices">
        <p class="price fontYaHei"><em>1999</em>元</p>
        <p class="date"><span class="icon">3天18小时后到期</span></p>
      </div>
      <div class="login">
        <div class="tit"><span class="ydldtxt fontYaHei">预订请登录</span></div>
        <div class="btn clearfix">
          <span class="fl"><a href="#" data-bn-ipg="lm-weibo" class="_jsweibologin"><img src="http://static.qyer.com/images/lm/btn_weibo2.png" width="100" height="30" alt="微博登录"></a></span>
          <span class="fl ml10"><a href="#" data-bn-ipg="lm-qq" class="_jsqqlogin"><img src="http://static.qyer.com/images/lm/btn_qq2.png" width="100" height="30" alt="QQ登录"></a></span>
          <span class="fr ydld">或&nbsp;<a href="#" data-bn-ipg="lm-login" class="_jslogin">穷游登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" data-bn-ipg="lm-register" class="_jslogin_reg">注册</a></span>
        </div>
      </div>
    </div>
    <div class="cb"></div>
  </div>
  <div class="lmdetails_b">
    <h3 class="title title1 fontYaHei">折扣简介</h3>
    <ul class="list">
      <li><span class="tit">出发地:</span><p>北京</p></li>                <li><span class="tit">目的地:</span><p>香港</p></li>                <li><span class="tit">预订时间:</span><p>即日起至7月13日</p></li>                <li><span class="tit">旅行时间:</span><p>2013年7月14日去程，7月19日回程</p></li>            </ul>
    <p class="border"></p>
    <h3 class="title title2 fontYaHei">折扣详情</h3>
    <p class="text">香港航空北京巴厘岛6日往返机票特价，往返含税只要1999元。<br>
      <br>
      参考航班<br>
      去程<br>
      HX337     北京香港       11:55-15:55                           <br>
      HX709     香港巴厘岛   18:10-23:05                          <br>
      HX708     巴厘岛香港   00:05-05:00                           <br>
      HX336     香港北京       07:40-10:45<br>
      <br>
      咨询QQ：1260998243</p>
    <div class="lmtips">
      <p class="tit">小贴士</p>
      <p class="txt">登陆后获得折扣代码，电话预订并报出折扣代码即可享受独享价格</p>
    </div>
  </div>
  <div class="lmyelps clearfix">
    <p class="fl">在路上航空(北京) 推荐</p>
    <p class="share"><span class="fl jiathis_style_title">分享到</span><!-- JiaThis Button BEGIN jiathis_style_24x24  jiathis_style-->
<span class="jiathis_style fl _js_jiathis_style_share" data-title="我在@穷游折扣 发现了一条超给力的优惠折扣，【香港航空北京巴厘岛6日往返机票特价】预订时间：即日起至7月13日，抢折扣点这里&gt;&gt;" data-summary=" " data-pic="http://static.qyer.com/upload/lastminute/main/c9/5e/c95e3b5d82179f7e1ddc7a80bfa8f96d_275" data-url="campaign=weibo_share&amp;category=lm_read_detail">
	<a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
	<a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
	<a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
	<a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
	<a class="jiathis_button_douban" title="分享到豆瓣"><span class="jiathis_txt jtico jtico_douban"></span></a>
</span>
      <!-- JiaThis Button END --></p>
  </div>
  <div class="lm_sldline2" id="comment-mod"></div>
  <div class="mod_talk">
    <div class="mod_talk_title fontYaHei">评论</div>
    <div class="mod_talk_edit">
      <p class="mod_talk_edit_face"><img src="http://qycenter.qyer.com/avatar.php?uid=&amp;size=middle&amp;random=1&amp;_1373407006" width="80" height="80" alt=""></p>
      <div class="mod_talk_edit_cnt">
        <form method="post" action="/lastminute/comment.php?action=addcomment">
          <input type="hidden" name="business" value="LASTMIN">
          <input type="hidden" name="bid" value="1358">
          <p class="arrow"></p>
          <p class="arrow2"></p>
          <p><textarea placeholder="说说你的想法..." name="content" class="ui2_textarea"></textarea></p>
          <div class="btm clearfix">
            <div class="ui2_error_layer" style="display:none;">
              <p class="ui2_error_layer_arrow"></p>
              <p class="ui2_error_layer_arrow2"></p>
              <p class="ui2_error_layer_text">至少写够10个字，最多不超过500字</p>
            </div>
            <p class="fr"><input type="submit" class="ui_buttonB" value="评论"></p>
            <p class="words"><span class="sum">0</span> / 500 字</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="right">
  <div>
    <div class="lmrefrom clearfix">
      <p class="text fontYaHei">折扣来自</p>
      <ul class="logos clearfix">
        <li><img src="http://static.qyer.com/upload/category/ab/ea/1162/index" width="78" height="78" alt="香港航空"></li>
      </ul>
    </div>
  </div>
  <div class="lm_sldline2"></div>
  <div>
    <div class="lmweibo clearfix">
      <img src="http://static.qyer.com/images//lm/icon_weibo.png" width="24" height="24" alt="" class="fl">
      <p class="text fontYaHei">关注@穷游折扣</p>
      <span class="guanzhu" data-bn-ipg="weibo-atten"><wb:follow-button uid="1889659390" type="red_1" width="62" height="24"><iframe src="http://widget.weibo.com/relationship/followbutton.php?btn=red&amp;style=1&amp;uid=1889659390&amp;width=62&amp;height=24&amp;language=zh_cn" width="62" height="24" frameborder="0" scrolling="no" marginheight="0"></iframe></wb:follow-button></span>
    </div>
    <div class="lmweibo_people">218036人已关注</div>
  </div>
  <div class="lm_sldline2"></div>
  <div>
    <div class="lm_title">
      <h2 class="lm_title_name">邮件订阅</h2>
    </div>
    <div class="ind_emailyd">
      <p class="title">QYER Newsletter</p>
      <p class="text">立刻免费订阅<br>独享出境游折扣精选！</p>
      <div class="btn clearfix">
        <form method="post" target="_blank" action="http://user.qyer.com/subscibe.php?action=subscibesubmit">
          <input type="hidden" value="114" name="edmidbox[]">
          <input type="hidden" value="lastminute" name="submit_from">
          <input type="hidden" value="其他" name="usercity">
          <input type="hidden" value="lastminute" name="username">
          <input type="text" name="email" value="" placeholder="输入E-mail地址" class="ui_input">
          <input type="submit" value="订阅" class="ui_buttonB">
        </form>
      </div>
    </div>
  </div>                <div class="lm_sldline2"></div>
  <div>
    <div class="lm_title">
      <h2 class="lm_title_name">相关折扣</h2>
    </div>
    <ol class="lmhotlist">
      <li class="item1"><span class="icon">1</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/677/" title="香港航空“线上独享，震撼全城”特惠再度加码" data-bn-ipg="hotdis-1" target="_blank">香港航空“线上独享，震撼全城”特惠...</a></p>
        <p class="info"><span class="price"><em>230</em>元起</span></p>
      </li>
      <li class="item2"><span class="icon">2</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1333/" title="南航国际机票年中大促" data-bn-ipg="hotdis-2" target="_blank">南航国际机票年中大促</a></p>
        <p class="info"><span class="price"><em>100</em>元起</span></p>
      </li>
      <li class="item3"><span class="icon">3</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/837/" title="香港航空“一click即享‧震撼全城”再度来袭" data-bn-ipg="hotdis-3" target="_blank">香港航空“一click即享‧震撼全...</a></p>
        <p class="info"><span class="price"><em>350</em>港币起</span></p>
      </li>
      <li><span class="icon">4</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1292/" title="香港航空" 线上独享‧震撼全城"多城市往返香港独享特价"="" data-bn-ipg="hotdis-4" target="_blank">香港航空"线上独享‧震撼全城"多城...</a></p>
        <p class="info"><span class="price"><em>340</em>元起</span></p>
      </li>
      <li><span class="icon">5</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1324/" title="亚航7月8日High5大促" data-bn-ipg="hotdis-5" target="_blank">亚航7月8日High5大促</a></p>
        <p class="info"><span class="price"><em>262</em>元起</span></p>
      </li>
    </ol>
  </div>
  <div class="lm_sldline2"></div>
  <div>
    <div class="lm_title">
      <h2 class="lm_title_name">更多穷游er独享折扣</h2>
    </div>
    <ol class="lmhotlist">
      <li class="item1"><span class="icon">1</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1339/" data-bn-ipg="moredis-1" target="_blank">香港航空北京往返曼谷低价机票</a></p>
        <p class="info"><span class="price"><em>2499</em>元</span></p>
      </li>
      <li class="item2"><span class="icon">2</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1326/" data-bn-ipg="moredis-2" target="_blank">北京往返迪拜4晚6天超值奢华游</a></p>
        <p class="info"><span class="price"><em>4999</em>元起</span></p>
      </li>
      <li class="item3"><span class="icon">3</span>
        <p class="title"><a href="http://www.qyer.com/lastminute/deal/1320/" data-bn-ipg="moredis-3" target="_blank">安飞士境外租车特惠</a></p>
        <p class="info"><span class="price"><em>8.5</em>折起</span></p>
      </li>
    </ol>
  </div>
  <div class="lm_sldline2"></div>
  <div>
    <div class="lm_title">
      <h2 class="lm_title_name">穷游锦囊</h2>
      <a href="http://guide.qyer.com/" title="更多穷游锦囊" target="_blank" class="lm_title_more">更多</a></div>
    <ul class="lm_jnang2 clearfix">
      <li>
        <p class="pic"><a href="http://guide.qyer.com/hong-kong/" target="_blank">
          <img src="http://static.qyer.com/upload/Guide_Info/1f/f1/24/100_150.jpg" width="80" height="120" alt="香港穷游锦囊" title="香港穷游锦囊">
        </a></p>
        <h3 class="title"><a href="http://guide.qyer.com/hong-kong/" title="香港" target="_blank">香港</a></h3>
        <p class="down">347593</p>
      </li>
      <li>
        <p class="pic"><a href="http://guide.qyer.com/taste-of-hong-kong/" target="_blank">
          <img src="http://static.qyer.com/upload/Guide_Info/3d/ef/125/100_150.jpg" width="80" height="120" alt="香港美食穷游锦囊" title="香港美食穷游锦囊">
        </a></p>
        <h3 class="title"><a href="http://guide.qyer.com/taste-of-hong-kong/" title="香港美食" target="_blank">香港美食</a></h3>
        <p class="down">186062</p>
      </li>
      <li>
        <p class="pic"><a href="http://guide.qyer.com/shopping-in-hk/" target="_blank">
          <img src="http://static.qyer.com/upload/Guide_Info/47/d1/148/100_150.jpg" width="80" height="120" alt="香港购物穷游锦囊" title="香港购物穷游锦囊">
        </a></p>
        <h3 class="title"><a href="http://guide.qyer.com/shopping-in-hk/" title="香港购物" target="_blank">香港购物</a></h3>
        <p class="down">136916</p>
      </li>
    </ul>
  </div>
  <div class="mt30"><iframe id="af37f2f8" name="af37f2f8" src="http://ad.qyer.com/www/delivery/afr.php?zoneid=369&amp;cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="270" height="170">&lt;a href='http://ad.qyer.com/www/delivery/ck.php?n=a888f227&amp;amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'&gt;&lt;img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=369&amp;amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;amp;n=a888f227' border='0' alt='' /&gt;&lt;/a&gt;</iframe></div>
</div>
<div class="cb"></div>
</div>