<div id="gui_focus" class="gui_focus fr">
  <div class="slides_container" style="overflow: hidden; position: relative; display: block;">
    <div class="slides_control" style="position: relative; width: 2280px; height: 360px; left: -760px;">
      <div style="position: absolute; top: 0px; left: 760px; z-index: 0; display: none;">
        <img src="/images/place/b7c4b6fdf7fda877c36e53b472d6aba9.jpg" alt=""/>
      </div>
      <div style="position: absolute; top: 0px; left: 760px; z-index: 0; display: none;">
        <img src="/images/place/436fb9c38b0f438dfe5e6707a7ba13ca.jpg" alt=""/>
      </div>
      <div style="position: absolute; top: 0px; left: 760px; z-index: 5; display: block;">
        <img src="/images/place/b7c4b6fdf7fda877c36e53b472d6aba9.jpg" alt=""/>
      </div>
      <div style="position: absolute; top: 0px; left: 760px; z-index: 0; display: none;">
        <img src="/images/place/d7476e342c2c3816aa7c4014ba094d0e.jpg" alt=""/>
      </div>
    </div>
  </div>
</div>
