<div class="mb30">
  <h2 class="gui_title">他们刚刚下载了穷游锦囊</h2>
  <ul class="mandown">
    <li>
      <a href="#" title="wenxin1009" data-bn-ipg="8-1-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="wenxin1009" class="face"></a>1分钟前下载了<a href="http://guide.qyer.com/boston/" title="波士顿穷游锦囊" target="_blank" data-bn-ipg="8-1-2">波士顿</a>穷游锦囊
    </li>
    <li>
      <a href="#" title="judy1119" data-bn-ipg="8-2-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="judy1119" class="face"></a>2分钟前下载了<a href="http://guide.qyer.com/jeju/" title="济州岛穷游锦囊" target="_blank" data-bn-ipg="8-2-2">济州岛</a>穷游锦囊
    </li>
    <li>
      <a href="#" title="judy1119" data-bn-ipg="8-3-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="judy1119" class="face"></a>2分钟前下载了<a href="http://guide.qyer.com/seoul/" title="首尔穷游锦囊" target="_blank" data-bn-ipg="8-3-2">首尔</a>穷游锦囊
    </li>
    <li>
      <a href="#" title="wenxin1009" data-bn-ipg="8-4-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="wenxin1009" class="face"></a>3分钟前下载了<a href="http://guide.qyer.com/boston/" title="波士顿穷游锦囊" target="_blank" data-bn-ipg="8-4-2">波士顿</a>穷游锦囊
    </li>
    <li>
      <a href="#" title="PeanutLatte" data-bn-ipg="8-5-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="PeanutLatte" class="face"></a>3分钟前下载了<a href="http://guide.qyer.com/maldives/" title="马尔代夫穷游锦囊" target="_blank" data-bn-ipg="8-5-2">马尔代夫</a>穷游锦囊
    </li>
    <li>
      <a href="#" title="mytreehouse" data-bn-ipg="8-6-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="mytreehouse" class="face"></a>4分钟前下载了<a href="http://guide.qyer.com/istanbul/" title="伊斯坦布尔穷游锦囊" target="_blank" data-bn-ipg="8-6-2">伊斯坦布尔</a>穷游锦囊
    </li>
    <li>
      <a href="#" title="Kekeweng" data-bn-ipg="8-7-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="Kekeweng" class="face"></a>4分钟前下载了<a href="http://guide.qyer.com/santorini/" title="圣托里尼岛穷游锦囊" target="_blank" data-bn-ipg="8-7-2">圣托里尼岛</a>穷游锦囊
    </li>
    <li>
      <a href="#" title="sophydragen" data-bn-ipg="8-8-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="sophydragen" class="face"></a>5分钟前下载了<a href="http://guide.qyer.com/orlando/" title="奥兰多穷游锦囊" target="_blank" data-bn-ipg="8-8-2">奥兰多</a>穷游锦囊
    </li>
    <li>
      <a href="http://user.qyer.com/user_uid_1387021" title="jyaoever" data-bn-ipg="8-9-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="jyaoever" class="face"></a>6分钟前下载了<a href="http://guide.qyer.com/chicago/" title="芝加哥穷游锦囊" target="_blank" data-bn-ipg="8-9-2">芝加哥</a>穷游锦囊
    </li>
    <li>
      <a href="http://user.qyer.com/user_uid_1975685" title="Swtyboo" data-bn-ipg="8-10-1"><img src="/static/media/noavatar_big.gif" width="24" height="24" alt="Swtyboo" class="face"></a>7分钟前下载了<a href="http://guide.qyer.com/europe-railway/" title="欧洲铁路穷游锦囊" target="_blank" data-bn-ipg="8-10-2">欧洲铁路</a>穷游锦囊
    </li>
  </ul>
</div>
<div class="guide_ad"></div>
<div class="guide_ad"></div>
<div class="guide_ad"></div>