<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>穷游锦囊 - 出境自助游[攻略]_境外自助游_旅行指南 - 穷游网</title>
<meta name="keywords" content="旅行攻略,指南,路书,穷游,出境自助游" />
<meta name="description" content="穷游锦囊：这是本星球上更新最快的旅行攻略，是你自助旅游的首选，这里的忠告都来自经验丰富的穷游er们，我们亲手绘制的地图包括了最重要的境外自助游景点，地标和街道，帮你更好探索陌生的城市。" />
<link rel="shortcut icon" href="http://www.qyer.com/favicon.ico" />
<link href="http://static.qyer.com/min/?version=1374745599&b=css&f=common/base.css,common/headfoot.css,guide/style201209.css" rel="stylesheet" type="text/css" media="screen" />
<script language="javascript" src="http://static.qyer.com/js/common/jquery/jquery-1.7.1.min.js?v=1375347173"  /></script>
<script language="javascript" src="http://static.qyer.com/js/common/util.js?v=1375347173"  /></script>
<script language="javascript" src="http://static.qyer.com/js/common/global.js?v=1375347173"  /></script>
<script language="javascript" src="http://static.qyer.com/js/user/friend.js?v=1375347173"  /></script>
<script language="javascript" src="http://static.qyer.com/js/user/user.js?v=1375347173"  /></script>
<script language="javascript" src="http://static.qyer.com/js/place/comment.js?v=1375347173"  /></script>
<script language="javascript" src="http://static.qyer.com/js/common/jquery.form.js?v=1375347173"  /></script>
<script language="javascript" src="http://static.qyer.com/js/guide/comment.js?v=1375347173"  /></script>
<script language="javascript" src="http://static.qyer.com/js/guide/oper_comment.js?v=1375347173"  /></script>
</head>

<body>
<div class="qyer_header_fixed">
<div class="qyer_header_bg">
	<div class="qyer_header">
		<div class="qyer_head_logo"><a href="http://www.qyer.com/" data-bn-ipg="head-logo"><img src="http://static.qyer.com/images/common/head/logo.png" alt="穷游网" title="穷游网 - 旅途永无穷尽" width="80" height="38" /></a></div>
		<ul class="qyer_head_nav">
			<li class="qyer_head_nav_item " id="qyer_head_nav_item_place"><a href="http://place.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_place" data-bn-ipg="head-nav-place">目的地</a></li>
			<li class="qyer_head_nav_item qyer_head_nav_item_this" id="qyer_head_nav_item_guide"><a href="http://guide.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_guide" data-bn-ipg="head-nav-guide">穷游锦囊</a></li>
			<li class="qyer_head_nav_item " id="qyer_head_nav_item_bbs"><a href="http://bbs.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_bbs" data-bn-ipg="head-nav-bbs">论坛</a></li>
			<li class="qyer_head_nav_item " id="qyer_head_nav_item_ask"><a href="http://ask.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_ask" data-bn-ipg="head-nav-ask">问答</a></li>
			<li class="qyer_head_nav_item " id="qyer_head_nav_item_lastm"><a href="http://www.qyer.com/lastminute/" class="qyer_head_nav_item_tit qyer_head_nav_item_lastm" data-bn-ipg="head-nav-lastminute">穷游折扣</a></li>
			<li class="qyer_head_nav_item " id="qyer_head_nav_item_hotel"><a href="http://hotel.qyer.com/" class="qyer_head_nav_item_tit qyer_head_nav_item_hotel" data-bn-ipg="head-nav-hotel">酒店</a></li>
			<li class="qyer_head_nav_item " id="qyer_head_nav_item_yd"><span class="qyer_head_nav_item_tit qyer_head_nav_item_yd">预订</span>
				<div class="qyer_head_subnav_bg">
					<div class="qyer_head_subnav_top"></div>
					<ul class="qyer_head_subnav_list">
						<li><a href="http://flight.qyer.com/" class="qyer_head_nav_item_plane" data-bn-ipg="head-nav-plane">机票</a></li>
						<li><a href="http://bx.qyer.com/" class="qyer_head_nav_item_insure" data-bn-ipg="head-nav-insure">保险</a></li>
						<li><a href="http://qz.qyer.com/" class="qyer_head_nav_item_visa" data-bn-ipg="head-nav-visa">签证</a></li>
						<li><a href="http://www.qyer.com/hoteldeal/" class="qyer_head_nav_item_hoteldeal" data-bn-ipg="head-nav-hoteldeal">特价酒店</a></li>
						<li><a href="http://www.qyer.com/shop/" class="qyer_head_nav_item_shop" data-bn-ipg="head-nav-shop">华人旅馆</a></li>
						<li><a href="http://www.qyer.com/goto.php?url=http://www.tapotiexie.com" target="_blank" class="qyer_head_nav_item_liner" data-bn-ipg="head-nav-liner">邮轮</a></li>
						<li><a href="http://car.qyer.com/" class="qyer_head_nav_item_car" data-bn-ipg="head-nav-car">租车</a></li>
					</ul>
				</div>
			</li>
		</ul>
		<script type="text/javascript" id="loginjs" src="http://user.qyer.com/user_action_logininfo_m_userloginsync_8448"></script>        <script src="http://static.qyer.com/js/common/search.js" type="text/javascript"></script>
	</div>
</div>
</div>
<script type="text/javascript">
(function($){
	$("#qyer_head_nav_item_yd").hover(function(){
		$(this).addClass("qyer_head_nav_item_current");
		$(this).find(".qyer_head_subnav_bg").show();
	},function(){
		$(this).removeClass("qyer_head_nav_item_current");
		$(this).find(".qyer_head_subnav_bg").hide();
	});

	//header随屏幕滚动
	var yuming = window.location.hostname;
	if(yuming=="place.qyer.com"||yuming=="ask.qyer.com"){
		$(".qyer_header_bg").css("position","fixed");
	}
})(jQuery);
</script>
<!--token:d41d8cd98f00b204e9800998ecf8427e--><div class="qyer_head_crumbg">
	<div class="qyer_head_crumb">
        <span class="text"><a href="http://www.qyer.com" data-bn-ipg="3-1">首页</a></span>
        <span class="space">&gt;</span>
				<h1 class="current">穷游锦囊</h1>
			</div>
</div>
<div class="main">
	<div class="gui_top"><img src="http://static.qyer.com/images/guide/jn_title.png" width="960" height="72" alt="穷游锦囊 这个星球上更新最快的出境旅行指南 原创 便携 国人视角" /></div>
	<div class="clearfix pr">
		<!--开始-->
		<div class="gui_navbox fl">
			<ul class="gui_nav">
												<li class="gui_nav_item">
					<div class="gui_nav_item_title"><span class="sum">59</span><strong>亚洲</strong></div>
					<div class="gui_nav_item_subnav">
	<ul class="clearfix">
		<li>
			<dl>







								<dt>亚洲专题</dt>
								<dd><a href="http://guide.qyer.com/taste-of-south-east-asia/" title="吃东南亚" target="_blank" data-bn-ipg="4-1">吃东南亚</a></dd>



								<dd><a href="http://guide.qyer.com/arrival-and-departure-card-asia/" title="出入境卡-亚洲" target="_blank" data-bn-ipg="4-1">出入境卡-亚洲</a></dd>



								<dd><a href="http://guide.qyer.com/friendship-highway/" title="拉萨到加德满都" target="_blank" data-bn-ipg="4-1">拉萨到加德满都</a></dd>











								<dt>阿拉伯联合酋长国</dt>
								<dd><a href="http://guide.qyer.com/dubai/" title="迪拜" target="_blank" data-bn-ipg="4-1">迪拜</a></dd>











								<dt>巴基斯坦</dt>
								<dd><a href="http://guide.qyer.com/islamabad/" title="伊斯兰堡" target="_blank" data-bn-ipg="4-1">伊斯兰堡</a></dd>











								<dt>不丹</dt>
								<dd><a href="http://guide.qyer.com/bhutan/" title="不丹" target="_blank" data-bn-ipg="4-1">不丹</a></dd>











								<dt>菲律宾</dt>
								<dd><a href="http://guide.qyer.com/bohol/" title="薄荷岛" target="_blank" data-bn-ipg="4-1">薄荷岛</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/boracay/" title="长滩岛" target="_blank" data-bn-ipg="4-1">长滩岛</a></dd>











								<dt>韩国</dt>
								<dd><a href="http://guide.qyer.com/jeju/" title="济州岛" target="_blank" data-bn-ipg="4-1">济州岛</a></dd>



								<dd><a href="http://guide.qyer.com/seoul/" title="首尔" target="_blank" data-bn-ipg="4-1">首尔</a></dd>











								<dt>柬埔寨</dt>
								<dd><a href="http://guide.qyer.com/phnom-penh/" title="金边" target="_blank" data-bn-ipg="4-1">金边</a></dd>



								<dd><a href="http://guide.qyer.com/angkor-wat/" title="吴哥窟" target="_blank" data-bn-ipg="4-1">吴哥窟</a></dd>











								<dt>老挝</dt>
								<dd><a href="http://guide.qyer.com/luang-prabang/" title="琅勃拉邦" target="_blank" data-bn-ipg="4-1">琅勃拉邦</a></dd>



								<dd><a href="http://guide.qyer.com/northern-laos/" title="老挝北部" target="_blank" data-bn-ipg="4-1">老挝北部</a></dd>











							</dl>
		</li>
		<li>
			<dl>
								<dt>马尔代夫</dt>
								<dd><a href="http://guide.qyer.com/maldives/" title="马尔代夫" target="_blank" data-bn-ipg="4-1">马尔代夫</a></dd>











								<dt>马来西亚</dt>
								<dd><a href="http://guide.qyer.com/penang/" title="槟城" target="_blank" data-bn-ipg="4-1">槟城</a></dd>



								<dd><a href="http://guide.qyer.com/kuala-lumpur/" title="吉隆坡" target="_blank" data-bn-ipg="4-1">吉隆坡</a></dd>



								<dd><a href="http://guide.qyer.com/malacca/" title="马六甲" target="_blank" data-bn-ipg="4-1">马六甲</a></dd>



								<dd><a href="http://guide.qyer.com/redang/" title="热浪岛" target="_blank" data-bn-ipg="4-1">热浪岛</a></dd>



								<dd><a href="http://guide.qyer.com/sabah/" title="沙巴" target="_blank" data-bn-ipg="4-1">沙巴</a></dd>











								<dt>缅甸</dt>
								<dd><a href="http://guide.qyer.com/bagan/" title="蒲甘" target="_blank" data-bn-ipg="4-1">蒲甘</a></dd>



								<dd><a href="http://guide.qyer.com/yangon/" title="仰光" target="_blank" data-bn-ipg="4-1">仰光</a></dd>











							</dl>
		</li>
		<li>
			<dl>
								<dt>尼泊尔</dt>
								<dd><a href="http://guide.qyer.com/annapurna-trekking/" title="安娜普尔纳地区徒步" target="_blank" data-bn-ipg="4-1">安娜普尔纳地区徒步</a></dd>



								<dd><a href="http://guide.qyer.com/pokhara/" title="博卡拉" target="_blank" data-bn-ipg="4-1">博卡拉</a></dd>



								<dd><a href="http://guide.qyer.com/kathmandu/" title="加德满都" target="_blank" data-bn-ipg="4-1">加德满都</a></dd>



								<dd><a href="http://guide.qyer.com/everest-trekking/" title="尼泊尔珠峰地区徒步" target="_blank" data-bn-ipg="4-1">尼泊尔珠峰地区徒步</a></dd>











								<dt>日本</dt>
								<dd><a href="http://guide.qyer.com/osaka/" title="大阪" target="_blank" data-bn-ipg="4-1">大阪</a></dd>



								<dd><a href="http://guide.qyer.com/tokyo/" title="东京" target="_blank" data-bn-ipg="4-1">东京</a></dd>



								<dd><a href="http://guide.qyer.com/kyoto/" title="京都" target="_blank" data-bn-ipg="4-1">京都</a></dd>











								<dt>泰国</dt>
								<dd><a href="http://guide.qyer.com/bangkok/" title="曼谷" target="_blank" data-bn-ipg="4-1">曼谷</a></dd>



								<dd><a href="http://guide.qyer.com/phuket/" title="普吉岛" target="_blank" data-bn-ipg="4-1">普吉岛</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/chiang-mai/" title="清迈" target="_blank" data-bn-ipg="4-1">清迈</a></dd>



								<dd><a href="http://guide.qyer.com/ko-samui-and-ko-tao/" title="苏梅岛与涛岛" target="_blank" data-bn-ipg="4-1">苏梅岛与涛岛</a></dd>











								<dt>新加坡</dt>
								<dd><a href="http://guide.qyer.com/singapore/" title="新加坡" target="_blank" data-bn-ipg="4-1">新加坡</a></dd>



								<dd><a href="http://guide.qyer.com/taste-of-singapore/" title="新加坡美食" target="_blank" data-bn-ipg="4-1">新加坡美食</a></dd>











								<dt>印度</dt>
								<dd><a href="http://guide.qyer.com/darjeeling/" title="大吉岭" target="_blank" data-bn-ipg="4-1">大吉岭</a></dd>



								<dd><a href="http://guide.qyer.com/delhi/" title="德里" target="_blank" data-bn-ipg="4-1">德里</a></dd>



								<dd><a href="http://guide.qyer.com/mumbai/" title="孟买" target="_blank" data-bn-ipg="4-1">孟买</a></dd>



								<dd><a href="http://guide.qyer.com/taj-mahal-agra/" title="泰姬陵-阿格拉" target="_blank" data-bn-ipg="4-1">泰姬陵-阿格拉</a></dd>



								<dd><a href="http://guide.qyer.com/varanasi/" title="瓦拉纳西" target="_blank" data-bn-ipg="4-1">瓦拉纳西</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/jaipur/" title="斋普尔" target="_blank" data-bn-ipg="4-1">斋普尔</a></dd>











								<dt>印度尼西亚</dt>
								<dd><a href="http://guide.qyer.com/bali/" title="巴厘岛" target="_blank" data-bn-ipg="4-1">巴厘岛</a></dd>











								<dt>越南</dt>
								<dd><a href="http://guide.qyer.com/da-lat/" title="大叻" target="_blank" data-bn-ipg="4-1">大叻</a></dd>



								<dd><a href="http://guide.qyer.com/hanoi/" title="河内" target="_blank" data-bn-ipg="4-1">河内</a></dd>



								<dd><a href="http://guide.qyer.com/hoi-an/" title="会安" target="_blank" data-bn-ipg="4-1">会安</a></dd>



								<dd><a href="http://guide.qyer.com/mui-ne/" title="美奈" target="_blank" data-bn-ipg="4-1">美奈</a></dd>



								<dd><a href="http://guide.qyer.com/nha-trang/" title="芽庄" target="_blank" data-bn-ipg="4-1">芽庄</a></dd>



								<dd><a href="http://guide.qyer.com/ho-chi-minh-city/" title="胡志明市" target="_blank" data-bn-ipg="4-1">胡志明市</a></dd>











							</dl>
		</li>
		<li>
			<dl>
								<dt>中国</dt>
								<dd><a href="http://guide.qyer.com/macau/" title="澳门" target="_blank" data-bn-ipg="4-1">澳门</a></dd>



								<dd><a href="http://guide.qyer.com/kaohsiung/" title="高雄" target="_blank" data-bn-ipg="4-1">高雄</a></dd>



								<dd><a href="http://guide.qyer.com/cycling-in-taiwan/" title="骑行台湾" target="_blank" data-bn-ipg="4-1">骑行台湾</a></dd>



								<dd><a href="http://guide.qyer.com/taipei/" title="台北" target="_blank" data-bn-ipg="4-1">台北</a></dd>



								<dd><a href="http://guide.qyer.com/tainan/" title="台南" target="_blank" data-bn-ipg="4-1">台南</a></dd>



								<dd><a href="http://guide.qyer.com/eastern-taiwan/" title="台湾东部" target="_blank" data-bn-ipg="4-1">台湾东部</a></dd>



								<dd><a href="http://guide.qyer.com/offshore-islands/" title="台湾离岛" target="_blank" data-bn-ipg="4-1">台湾离岛</a></dd>



								<dd><a href="http://guide.qyer.com/taste-of-taiwan/" title="台湾美食" target="_blank" data-bn-ipg="4-1">台湾美食</a></dd>



								<dd><a href="http://guide.qyer.com/hong-kong/" title="香港" target="_blank" data-bn-ipg="4-1">香港</a></dd>



								<dd><a href="http://guide.qyer.com/shopping-in-hk/" title="香港购物" target="_blank" data-bn-ipg="4-1">香港购物</a></dd>



								<dd><a href="http://guide.qyer.com/taste-of-hong-kong/" title="香港美食" target="_blank" data-bn-ipg="4-1">香港美食</a></dd>



			</dl>
		</li>
		<li>
			<dl>






							</dl>
		</li>
	</ul>
</div>
				</li>
																<li class="gui_nav_item">
					<div class="gui_nav_item_title"><span class="sum">63</span><strong>欧洲</strong></div>
					<div class="gui_nav_item_subnav">
	<ul class="clearfix">
		<li>
			<dl>







								<dt>欧洲专题</dt>
								<dd><a href="http://guide.qyer.com/europe/" title="第一次去欧洲" target="_blank" data-bn-ipg="4-2">第一次去欧洲</a></dd>



								<dd><a href="http://guide.qyer.com/europe-railway/" title="欧洲铁路" target="_blank" data-bn-ipg="4-2">欧洲铁路</a></dd>











								<dt>爱尔兰</dt>
								<dd><a href="http://guide.qyer.com/dublin/" title="都柏林" target="_blank" data-bn-ipg="4-2">都柏林</a></dd>











								<dt>奥地利</dt>
								<dd><a href="http://guide.qyer.com/vienna/" title="维也纳" target="_blank" data-bn-ipg="4-2">维也纳</a></dd>











								<dt>比利时</dt>
								<dd><a href="http://guide.qyer.com/belgium/" title="比利时" target="_blank" data-bn-ipg="4-2">比利时</a></dd>











								<dt>波兰</dt>
								<dd><a href="http://guide.qyer.com/euro-2012-poland/" title="2012欧洲杯-波兰" target="_blank" data-bn-ipg="4-2">2012欧洲杯-波兰</a></dd>











							</dl>
		</li>
		<li>
			<dl>
								<dt>丹麦</dt>
								<dd><a href="http://guide.qyer.com/copenhagen/" title="哥本哈根" target="_blank" data-bn-ipg="4-2">哥本哈根</a></dd>











								<dt>德国</dt>
								<dd><a href="http://guide.qyer.com/bavarian-towns/" title="巴伐利亚小镇" target="_blank" data-bn-ipg="4-2">巴伐利亚小镇</a></dd>



								<dd><a href="http://guide.qyer.com/berlin/" title="柏林" target="_blank" data-bn-ipg="4-2">柏林</a></dd>



								<dd><a href="http://guide.qyer.com/frankfurt/" title="法兰克福" target="_blank" data-bn-ipg="4-2">法兰克福</a></dd>



								<dd><a href="http://guide.qyer.com/heidelberg/" title="海德堡" target="_blank" data-bn-ipg="4-2">海德堡</a></dd>



								<dd><a href="http://guide.qyer.com/hamburg/" title="汉堡" target="_blank" data-bn-ipg="4-2">汉堡</a></dd>



								<dd><a href="http://guide.qyer.com/cologne/" title="科隆" target="_blank" data-bn-ipg="4-2">科隆</a></dd>



								<dd><a href="http://guide.qyer.com/munich/" title="慕尼黑" target="_blank" data-bn-ipg="4-2">慕尼黑</a></dd>











								<dt>法国</dt>
								<dd><a href="http://guide.qyer.com/avignon-provence/" title="阿维尼翁-普罗旺斯" target="_blank" data-bn-ipg="4-2">阿维尼翁-普罗旺斯</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/paris/" title="巴黎" target="_blank" data-bn-ipg="4-2">巴黎</a></dd>



								<dd><a href="http://guide.qyer.com/shopping-in-paris/" title="巴黎购物" target="_blank" data-bn-ipg="4-2">巴黎购物</a></dd>



								<dd><a href="http://guide.qyer.com/paris-sweet/" title="巴黎甜品" target="_blank" data-bn-ipg="4-2">巴黎甜品</a></dd>



								<dd><a href="http://guide.qyer.com/taste-of-france/" title="法国美食" target="_blank" data-bn-ipg="4-2">法国美食</a></dd>



								<dd><a href="http://guide.qyer.com/vin-de-france/" title="法国葡萄酒" target="_blank" data-bn-ipg="4-2">法国葡萄酒</a></dd>



								<dd><a href="http://guide.qyer.com/driving-in-france/" title="法国自驾" target="_blank" data-bn-ipg="4-2">法国自驾</a></dd>



								<dd><a href="http://guide.qyer.com/lyon/" title="里昂" target="_blank" data-bn-ipg="4-2">里昂</a></dd>



								<dd><a href="http://guide.qyer.com/loire-valley/" title="卢瓦尔河谷" target="_blank" data-bn-ipg="4-2">卢瓦尔河谷</a></dd>



								<dd><a href="http://guide.qyer.com/marseille/" title="马赛" target="_blank" data-bn-ipg="4-2">马赛</a></dd>



								<dd><a href="http://guide.qyer.com/cote-d-azur/" title="南法蔚蓝海岸" target="_blank" data-bn-ipg="4-2">南法蔚蓝海岸</a></dd>



								<dd><a href="http://guide.qyer.com/normandy-and-brittany/" title="诺曼底与布列塔尼" target="_blank" data-bn-ipg="4-2">诺曼底与布列塔尼</a></dd>



			</dl>
		</li>
		<li>
			<dl>









								<dt>荷兰</dt>
								<dd><a href="http://guide.qyer.com/amsterdam/" title="阿姆斯特丹" target="_blank" data-bn-ipg="4-2">阿姆斯特丹</a></dd>



								<dd><a href="http://guide.qyer.com/amsterdam-airport-schiphol/" title="阿姆斯特丹史基浦机场" target="_blank" data-bn-ipg="4-2">阿姆斯特丹史基浦机场</a></dd>











								<dt>捷克</dt>
								<dd><a href="http://guide.qyer.com/prague/" title="布拉格" target="_blank" data-bn-ipg="4-2">布拉格</a></dd>











								<dt>马耳他</dt>
								<dd><a href="http://guide.qyer.com/malta/" title="马耳他" target="_blank" data-bn-ipg="4-2">马耳他</a></dd>











								<dt>挪威</dt>
								<dd><a href="http://guide.qyer.com/oslo/" title="奥斯陆" target="_blank" data-bn-ipg="4-2">奥斯陆</a></dd>



								<dd><a href="http://guide.qyer.com/norwegian-fjords/" title="挪威峡湾" target="_blank" data-bn-ipg="4-2">挪威峡湾</a></dd>











							</dl>
		</li>
		<li>
			<dl>
								<dt>葡萄牙</dt>
								<dd><a href="http://guide.qyer.com/porto/" title="波尔图" target="_blank" data-bn-ipg="4-2">波尔图</a></dd>



								<dd><a href="http://guide.qyer.com/lisbon/" title="里斯本" target="_blank" data-bn-ipg="4-2">里斯本</a></dd>











								<dt>瑞典</dt>
								<dd><a href="http://guide.qyer.com/stockholm/" title="斯德哥尔摩" target="_blank" data-bn-ipg="4-2">斯德哥尔摩</a></dd>











								<dt>瑞士</dt>
								<dd><a href="http://guide.qyer.com/lake-leman/" title="莱芒湖" target="_blank" data-bn-ipg="4-2">莱芒湖</a></dd>



								<dd><a href="http://guide.qyer.com/matterhorn-valais/" title="马特洪峰-瓦莱州" target="_blank" data-bn-ipg="4-2">马特洪峰-瓦莱州</a></dd>



								<dd><a href="http://guide.qyer.com/zurich/" title="苏黎世" target="_blank" data-bn-ipg="4-2">苏黎世</a></dd>











								<dt>土耳其</dt>
								<dd><a href="http://guide.qyer.com/cappadocia/" title="卡帕多西亚" target="_blank" data-bn-ipg="4-2">卡帕多西亚</a></dd>



								<dd><a href="http://guide.qyer.com/istanbul/" title="伊斯坦布尔" target="_blank" data-bn-ipg="4-2">伊斯坦布尔</a></dd>



			</dl>
		</li>
		<li>
			<dl>









								<dt>乌克兰</dt>
								<dd><a href="http://guide.qyer.com/euro-2012-ukraine/" title="2012欧洲杯-乌克兰" target="_blank" data-bn-ipg="4-2">2012欧洲杯-乌克兰</a></dd>



								<dd><a href="http://guide.qyer.com/ukraine/" title="乌克兰" target="_blank" data-bn-ipg="4-2">乌克兰</a></dd>











								<dt>西班牙</dt>
								<dd><a href="http://guide.qyer.com/andalusia/" title="安达卢西亚" target="_blank" data-bn-ipg="4-2">安达卢西亚</a></dd>



								<dd><a href="http://guide.qyer.com/barcelona/" title="巴塞罗那" target="_blank" data-bn-ipg="4-2">巴塞罗那</a></dd>



								<dd><a href="http://guide.qyer.com/madrid/" title="马德里" target="_blank" data-bn-ipg="4-2">马德里</a></dd>



								<dd><a href="http://guide.qyer.com/seville/" title="塞维利亚" target="_blank" data-bn-ipg="4-2">塞维利亚</a></dd>











								<dt>希腊</dt>
								<dd><a href="http://guide.qyer.com/santorini/" title="圣托里尼岛" target="_blank" data-bn-ipg="4-2">圣托里尼岛</a></dd>



								<dd><a href="http://guide.qyer.com/athens/" title="雅典" target="_blank" data-bn-ipg="4-2">雅典</a></dd>



			</dl>
		</li>
		<li>
			<dl>









								<dt>匈牙利</dt>
								<dd><a href="http://guide.qyer.com/budapest/" title="布达佩斯" target="_blank" data-bn-ipg="4-2">布达佩斯</a></dd>











								<dt>意大利</dt>
								<dd><a href="http://guide.qyer.com/bologna/" title="博洛尼亚" target="_blank" data-bn-ipg="4-2">博洛尼亚</a></dd>



								<dd><a href="http://guide.qyer.com/florence/" title="佛罗伦萨" target="_blank" data-bn-ipg="4-2">佛罗伦萨</a></dd>



								<dd><a href="http://guide.qyer.com/rome/" title="罗马" target="_blank" data-bn-ipg="4-2">罗马</a></dd>



								<dd><a href="http://guide.qyer.com/milan/" title="米兰" target="_blank" data-bn-ipg="4-2">米兰</a></dd>



								<dd><a href="http://guide.qyer.com/tuscany/" title="托斯卡纳" target="_blank" data-bn-ipg="4-2">托斯卡纳</a></dd>



								<dd><a href="http://guide.qyer.com/venice/" title="威尼斯" target="_blank" data-bn-ipg="4-2">威尼斯</a></dd>



								<dd><a href="http://guide.qyer.com/cinque-terre/" title="五渔村" target="_blank" data-bn-ipg="4-2">五渔村</a></dd>



								<dd><a href="http://guide.qyer.com/outlets-in-italy/" title="意大利奥特莱斯" target="_blank" data-bn-ipg="4-2">意大利奥特莱斯</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/italian-architecture/" title="意大利建筑" target="_blank" data-bn-ipg="4-2">意大利建筑</a></dd>



								<dd><a href="http://guide.qyer.com/taste-of-italy/" title="意大利美食" target="_blank" data-bn-ipg="4-2">意大利美食</a></dd>



								<dd><a href="http://guide.qyer.com/italy-railway/" title="意大利铁路" target="_blank" data-bn-ipg="4-2">意大利铁路</a></dd>











								<dt>英国</dt>
								<dd><a href="http://guide.qyer.com/london/" title="伦敦" target="_blank" data-bn-ipg="4-2">伦敦</a></dd>



								<dd><a href="http://guide.qyer.com/around-london/" title="伦敦周边" target="_blank" data-bn-ipg="4-2">伦敦周边</a></dd>



								<dd><a href="http://guide.qyer.com/lake-district/" title="英国湖区" target="_blank" data-bn-ipg="4-2">英国湖区</a></dd>








							</dl>
		</li>
	</ul>
</div>
				</li>
																<li class="gui_nav_item">
					<div class="gui_nav_item_title"><span class="sum">15</span><strong>北美洲</strong></div>
					<div class="gui_nav_item_subnav">
	<ul class="clearfix">
		<li>
			<dl>







								<dt>北美洲专题</dt>
								<dd><a href="http://guide.qyer.com/driving-in-the-usa/" title="美国自驾" target="_blank" data-bn-ipg="4-3">美国自驾</a></dd>











								<dt>古巴</dt>
								<dd><a href="http://guide.qyer.com/havana/" title="哈瓦那" target="_blank" data-bn-ipg="4-3">哈瓦那</a></dd>











								<dt>加拿大</dt>
								<dd><a href="http://guide.qyer.com/toronto/" title="多伦多" target="_blank" data-bn-ipg="4-3">多伦多</a></dd>











								<dt>美国</dt>
								<dd><a href="http://guide.qyer.com/orlando/" title="奥兰多" target="_blank" data-bn-ipg="4-3">奥兰多</a></dd>



								<dd><a href="http://guide.qyer.com/boston/" title="波士顿" target="_blank" data-bn-ipg="4-3">波士顿</a></dd>



								<dd><a href="http://guide.qyer.com/yellowstone/" title="黄石国家公园" target="_blank" data-bn-ipg="4-3">黄石国家公园</a></dd>



								<dd><a href="http://guide.qyer.com/washington-d-c/" title="华盛顿" target="_blank" data-bn-ipg="4-3">华盛顿</a></dd>



								<dd><a href="http://guide.qyer.com/san-francisco/" title="旧金山" target="_blank" data-bn-ipg="4-3">旧金山</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/las-vegas/" title="拉斯维加斯" target="_blank" data-bn-ipg="4-3">拉斯维加斯</a></dd>



								<dd><a href="http://guide.qyer.com/los-angeles/" title="洛杉矶" target="_blank" data-bn-ipg="4-3">洛杉矶</a></dd>



								<dd><a href="http://guide.qyer.com/miami/" title="迈阿密" target="_blank" data-bn-ipg="4-3">迈阿密</a></dd>



								<dd><a href="http://guide.qyer.com/south-florida/" title="南佛罗里达" target="_blank" data-bn-ipg="4-3">南佛罗里达</a></dd>



								<dd><a href="http://guide.qyer.com/new-york/" title="纽约" target="_blank" data-bn-ipg="4-3">纽约</a></dd>



								<dd><a href="http://guide.qyer.com/chicago/" title="芝加哥" target="_blank" data-bn-ipg="4-3">芝加哥</a></dd>











								<dt>墨西哥</dt>
								<dd><a href="http://guide.qyer.com/mexico-city/" title="墨西哥城" target="_blank" data-bn-ipg="4-3">墨西哥城</a></dd>








							</dl>
		</li>
	</ul>
</div>
				</li>
																<li class="gui_nav_item">
					<div class="gui_nav_item_title"><span class="sum">3</span><strong>南美洲</strong></div>
					<div class="gui_nav_item_subnav">
	<ul class="clearfix">
		<li>
			<dl>







								<dt>阿根廷</dt>
								<dd><a href="http://guide.qyer.com/buenos-aires/" title="布宜诺斯艾利斯" target="_blank" data-bn-ipg="4-4">布宜诺斯艾利斯</a></dd>











								<dt>巴西</dt>
								<dd><a href="http://guide.qyer.com/rio-de-janeiro/" title="里约热内卢" target="_blank" data-bn-ipg="4-4">里约热内卢</a></dd>











								<dt>秘鲁</dt>
								<dd><a href="http://guide.qyer.com/machu-picchu-and-cuzco/" title="马丘比丘与库斯科" target="_blank" data-bn-ipg="4-4">马丘比丘与库斯科</a></dd>








							</dl>
		</li>
	</ul>
</div>
				</li>
																<li class="gui_nav_item">
					<div class="gui_nav_item_title"><span class="sum">6</span><strong>大洋洲</strong></div>
					<div class="gui_nav_item_subnav">
	<ul class="clearfix">
		<li>
			<dl>











								<dt>澳大利亚</dt>
								<dd><a href="http://guide.qyer.com/gold-coast/" title="澳大利亚黄金海岸" target="_blank" data-bn-ipg="4-5">澳大利亚黄金海岸</a></dd>



								<dd><a href="http://guide.qyer.com/melbourne/" title="墨尔本" target="_blank" data-bn-ipg="4-5">墨尔本</a></dd>



								<dd><a href="http://guide.qyer.com/sydney/" title="悉尼" target="_blank" data-bn-ipg="4-5">悉尼</a></dd>











								<dt>新西兰</dt>
								<dd><a href="http://guide.qyer.com/queenstown/" title="皇后镇" target="_blank" data-bn-ipg="4-5">皇后镇</a></dd>



								<dd><a href="http://guide.qyer.com/cycling-in-nz/" title="骑行新西兰" target="_blank" data-bn-ipg="4-5">骑行新西兰</a></dd>



								<dd><a href="http://guide.qyer.com/driving-in-nz/" title="新西兰自驾" target="_blank" data-bn-ipg="4-5">新西兰自驾</a></dd>








							</dl>
		</li>
	</ul>
</div>
				</li>
																<li class="gui_nav_item">
					<div class="gui_nav_item_title"><span class="sum">1</span><strong>非洲</strong></div>
					<div class="gui_nav_item_subnav">
	<ul class="clearfix">
		<li>
			<dl>







								<dt>埃及</dt>
								<dd><a href="http://guide.qyer.com/cairo/" title="开罗" target="_blank" data-bn-ipg="4-6">开罗</a></dd>








							</dl>
		</li>
	</ul>
</div>
				</li>
																<li class="gui_nav_item">
					<div class="gui_nav_item_title"><span class="sum">14</span><strong>专题锦囊</strong></div>
					<div class="gui_nav_item_subnav">
	<ul class="clearfix">
		<li>
			<dl>







								<dt>专题</dt>
								<dd><a href="http://guide.qyer.com/packing-list/" title="出行装备" target="_blank" data-bn-ipg="4-7">出行装备</a></dd>



								<dd><a href="http://guide.qyer.com/travel-with-parents/" title="带父母旅行" target="_blank" data-bn-ipg="4-7">带父母旅行</a></dd>



								<dd><a href="http://guide.qyer.com/for-girls/" title="单身女孩上路" target="_blank" data-bn-ipg="4-7">单身女孩上路</a></dd>



								<dd><a href="http://guide.qyer.com/for-beginners/" title="第一次出境旅行" target="_blank" data-bn-ipg="4-7">第一次出境旅行</a></dd>



								<dd><a href="http://guide.qyer.com/unionpay-in-southeast-asia/" title="东南亚银联" target="_blank" data-bn-ipg="4-7">东南亚银联</a></dd>



								<dd><a href="http://guide.qyer.com/global-blue/" title="环球蓝联退税" target="_blank" data-bn-ipg="4-7">环球蓝联退税</a></dd>



								<dd><a href="http://guide.qyer.com/jetstar-airways/" title="捷星航空" target="_blank" data-bn-ipg="4-7">捷星航空</a></dd>



								<dd><a href="http://guide.qyer.com/plug-the-world/" title="旅行插座汇总" target="_blank" data-bn-ipg="4-7">旅行插座汇总</a></dd>



								<dd><a href="http://guide.qyer.com/travel-health/" title="旅行健康" target="_blank" data-bn-ipg="4-7">旅行健康</a></dd>



								<dd><a href="http://guide.qyer.com/travel-photography/" title="旅行摄影" target="_blank" data-bn-ipg="4-7">旅行摄影</a></dd>



								<dd><a href="http://guide.qyer.com/fly-low-cost/" title="热门廉价航空" target="_blank" data-bn-ipg="4-7">热门廉价航空</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/recreational-diving/" title="休闲潜水" target="_blank" data-bn-ipg="4-7">休闲潜水</a></dd>



								<dd><a href="http://guide.qyer.com/frozen-zone/" title="严寒地带生存" target="_blank" data-bn-ipg="4-7">严寒地带生存</a></dd>



								<dd><a href="http://guide.qyer.com/cruises/" title="邮轮" target="_blank" data-bn-ipg="4-7">邮轮</a></dd>








							</dl>
		</li>
	</ul>
</div>
				</li>
																<li class="gui_nav_item">
					<div class="gui_nav_item_title"><span class="sum">21</span><strong>手把手系列</strong></div>
					<div class="gui_nav_item_subnav">
	<ul class="clearfix">
		<li>
			<dl>







								<dt>机票预订</dt>
								<dd><a href="http://guide.qyer.com/airtran/" title="AirTran机票预订" target="_blank" data-bn-ipg="4-8">AirTran机票预订</a></dd>



								<dd><a href="http://guide.qyer.com/air-berlin/" title="柏林航空机票预订" target="_blank" data-bn-ipg="4-8">柏林航空机票预订</a></dd>



								<dd><a href="http://guide.qyer.com/germanwings/" title="Germanwings机票预订" target="_blank" data-bn-ipg="4-8">Germanwings机票预订</a></dd>



								<dd><a href="http://guide.qyer.com/tiger-airways/" title="虎航机票预订" target="_blank" data-bn-ipg="4-8">虎航机票预订</a></dd>



								<dd><a href="http://guide.qyer.com/ryanair/" title="瑞安航空机票预订" target="_blank" data-bn-ipg="4-8">瑞安航空机票预订</a></dd>



								<dd><a href="http://guide.qyer.com/cebu-pacific-air/" title="宿务航空机票预订" target="_blank" data-bn-ipg="4-8">宿务航空机票预订</a></dd>



								<dd><a href="http://guide.qyer.com/skyscanner/" title="天巡机票预订" target="_blank" data-bn-ipg="4-8">天巡机票预订</a></dd>



								<dd><a href="http://guide.qyer.com/southwest-airlines/" title="美国西南航空机票预订" target="_blank" data-bn-ipg="4-8">美国西南航空机票预订</a></dd>



								<dd><a href="http://guide.qyer.com/easyjet/" title="EasyJet机票预订" target="_blank" data-bn-ipg="4-8">EasyJet机票预订</a></dd>











								<dt>在线投保</dt>
								<dd><a href="http://guide.qyer.com/allianz/" title="安联保险在线投保" target="_blank" data-bn-ipg="4-8">安联保险在线投保</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/mapfre/" title="曼福保险在线投保" target="_blank" data-bn-ipg="4-8">曼福保险在线投保</a></dd>



								<dd><a href="http://guide.qyer.com/chartis/" title="美亚保险在线投保" target="_blank" data-bn-ipg="4-8">美亚保险在线投保</a></dd>











								<dt>住宿预订</dt>
								<dd><a href="http://guide.qyer.com/booking/" title="booking.com酒店预订" target="_blank" data-bn-ipg="4-8">booking.com酒店预订</a></dd>



								<dd><a href="http://guide.qyer.com/agoda/" title="Agoda酒店预订" target="_blank" data-bn-ipg="4-8">Agoda酒店预订</a></dd>



								<dd><a href="http://guide.qyer.com/accor/" title="雅高酒店预订" target="_blank" data-bn-ipg="4-8">雅高酒店预订</a></dd>











								<dt>综合预订</dt>
								<dd><a href="http://guide.qyer.com/contiki/" title="Contiki行程预订" target="_blank" data-bn-ipg="4-8">Contiki行程预订</a></dd>











								<dt>租车预订</dt>
								<dd><a href="http://guide.qyer.com/alamo/" title="Alamo租车预订" target="_blank" data-bn-ipg="4-8">Alamo租车预订</a></dd>



								<dd><a href="http://guide.qyer.com/avis/" title="Avis租车预订" target="_blank" data-bn-ipg="4-8">Avis租车预订</a></dd>



			</dl>
		</li>
		<li>
			<dl>

								<dd><a href="http://guide.qyer.com/europcar/" title="Europcar租车预订" target="_blank" data-bn-ipg="4-8">Europcar租车预订</a></dd>



								<dd><a href="http://guide.qyer.com/rentalcars/" title="Rentalcars租车预订" target="_blank" data-bn-ipg="4-8">Rentalcars租车预订</a></dd>



								<dd><a href="http://guide.qyer.com/auto-europe/" title="信诺租车预订" target="_blank" data-bn-ipg="4-8">信诺租车预订</a></dd>








							</dl>
		</li>
	</ul>
</div>
				</li>
											</ul>
			<div class="gui_search">
				<p><input type="text" class="ui_input" id="jn_search_input" placeholder="搜索穷游锦囊" /></p>
				<div class="gui_search_lay jssearchcontainer" id="jn_search_drop"></div>
			</div>
			<ul class="gui_qyjnlist clearfix">
				<li><a href="http://app.qyer.com/guide/" target="_blank" data-bn-ipg="6-1"><img src="http://static.qyer.com/images/guide/qyjn_iphone.png" width="48" height="60" alt="穷游锦囊iPhone版" /></a></li>
				<li><a href="http://app.qyer.com/guide/" target="_blank" data-bn-ipg="6-2"><img src="http://static.qyer.com/images/guide/qyjn_android.png" width="48" height="60" alt="穷游锦囊Android版" /></a></li>
				<li><a href="http://app.qyer.com/guidehd/" target="_blank" data-bn-ipg="6-3"><img src="http://static.qyer.com/images/guide/qyjn_ipad.png" width="48" height="60" alt="穷游锦囊HD ipad版" /></a></li>
			</ul>
		</div>
		<!--结束-->
		<!--开始-->
		<div id="gui_focus" class="gui_focus fr">
			<div class="slides_container">
			<div class="slides_control">
				<div><iframe id='aa1511c4' name='aa1511c4' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=1&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='760' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=aaf9d570&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=1&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=aaf9d570' border='0' alt='' /></a></iframe></div>
				<div><iframe id='a9750fc7' name='a9750fc7' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=2&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='760' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a7cc94e5&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=2&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a7cc94e5' border='0' alt='' /></a></iframe></div>
				<div><iframe id='a8c1824e' name='a8c1824e' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=3&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='760' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a28cdef0&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=3&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a28cdef0' border='0' alt='' /></a></iframe></div>
				<div><iframe id='afe15700' name='afe15700' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=4&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='760' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=aca3d9d8&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=4&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=aca3d9d8' border='0' alt='' /></a></iframe></div>
				<div><iframe id='aac5f827' name='aac5f827' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=5&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='760' height='360'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a13d4193&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=5&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a13d4193' border='0' alt='' /></a></iframe></div>
			</div>
			</div>
		</div>
		<!--结束-->
	</div>
	<div class="clearfix mt30">
		<div class="gui_news">
			<div class="ui_sort"><a href="javascript:;" class="ui_sort_item ui_sort_item_current jsrecommcon" type="1" data-bn-ipg="7-1">编辑推荐</a><span class="ui_sort_gap">|</span><a href="javascript:;" class="ui_sort_item jsrecommcon" type="0" data-bn-ipg="7-2">当季热门</a></div>
			<ul class="gui_jnlist clearfix jsrecommcontent">
				<li class="gui_jnlist_item gui_jnlist_item_first">
	<div class="gui_jnlist_item_pic"><a href="http://guide.qyer.com/penang/" target="_blank" data-bn-ipg="7-1-1-1"><img src="http://static.qyer.com/upload/Guide_Info/ea/e2/205/260_390.jpg" alt="槟城穷游锦囊" title="槟城穷游锦囊" width="100" height="150" /></a>
			<span class="new"></span>
		<a href="http://guide.qyer.com/penang/" class="mask"  title="槟城穷游锦囊" target="_blank" data-bn-ipg="7-1-1-1"></a>
	</div>
	<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/penang/" title="槟城" target="_blank" data-bn-ipg="7-1-1-2">槟城</a></p>
	<p class="gui_jnlist_item_text">马来西亚<br /><span class="sum">1636</span>次下载</p>
</li>
<li class="gui_jnlist_item ">
	<div class="gui_jnlist_item_pic"><a href="http://guide.qyer.com/yangon/" target="_blank" data-bn-ipg="7-1-2-1"><img src="http://static.qyer.com/upload/Guide_Info/27/4a/204/260_390.jpg" alt="仰光穷游锦囊" title="仰光穷游锦囊" width="100" height="150" /></a>
			<span class="new"></span>
		<a href="http://guide.qyer.com/yangon/" class="mask"  title="仰光穷游锦囊" target="_blank" data-bn-ipg="7-1-2-1"></a>
	</div>
	<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/yangon/" title="仰光" target="_blank" data-bn-ipg="7-1-2-2">仰光</a></p>
	<p class="gui_jnlist_item_text">缅甸<br /><span class="sum">1869</span>次下载</p>
</li>
<li class="gui_jnlist_item ">
	<div class="gui_jnlist_item_pic"><a href="http://guide.qyer.com/bagan/" target="_blank" data-bn-ipg="7-1-3-1"><img src="http://static.qyer.com/upload/Guide_Info/e2/c0/203/260_390.jpg" alt="蒲甘穷游锦囊" title="蒲甘穷游锦囊" width="100" height="150" /></a>
			<span class="new"></span>
		<a href="http://guide.qyer.com/bagan/" class="mask"  title="蒲甘穷游锦囊" target="_blank" data-bn-ipg="7-1-3-1"></a>
	</div>
	<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/bagan/" title="蒲甘" target="_blank" data-bn-ipg="7-1-3-2">蒲甘</a></p>
	<p class="gui_jnlist_item_text">缅甸<br /><span class="sum">3737</span>次下载</p>
</li>
<li class="gui_jnlist_item ">
	<div class="gui_jnlist_item_pic"><a href="http://guide.qyer.com/cinque-terre/" target="_blank" data-bn-ipg="7-1-4-1"><img src="http://static.qyer.com/upload/Guide_Info/75/7b/201/260_390.jpg" alt="五渔村穷游锦囊" title="五渔村穷游锦囊" width="100" height="150" /></a>
		<a href="http://guide.qyer.com/cinque-terre/" class="mask"  title="五渔村穷游锦囊" target="_blank" data-bn-ipg="7-1-4-1"></a>
	</div>
	<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/cinque-terre/" title="五渔村" target="_blank" data-bn-ipg="7-1-4-2">五渔村</a></p>
	<p class="gui_jnlist_item_text">意大利<br /><span class="sum">6068</span>次下载</p>
</li>
<li class="gui_jnlist_item ">
	<div class="gui_jnlist_item_pic"><a href="http://guide.qyer.com/barcelona/" target="_blank" data-bn-ipg="7-1-5-1"><img src="http://static.qyer.com/upload/Guide_Info/c7/4d/16/260_390.jpg" alt="巴塞罗那穷游锦囊" title="巴塞罗那穷游锦囊" width="100" height="150" /></a>
		<a href="http://guide.qyer.com/barcelona/" class="mask"  title="巴塞罗那穷游锦囊" target="_blank" data-bn-ipg="7-1-5-1"></a>
	</div>
	<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/barcelona/" title="巴塞罗那" target="_blank" data-bn-ipg="7-1-5-2">巴塞罗那</a></p>
	<p class="gui_jnlist_item_text">西班牙<br /><span class="sum">145687</span>次下载</p>
</li>
<li class="gui_jnlist_item ">
	<div class="gui_jnlist_item_pic"><a href="http://guide.qyer.com/avignon-provence/" target="_blank" data-bn-ipg="7-1-6-1"><img src="http://static.qyer.com/upload/Guide_Info/6c/83/45/260_390.jpg" alt="阿维尼翁-普罗旺斯穷游锦囊" title="阿维尼翁-普罗旺斯穷游锦囊" width="100" height="150" /></a>
		<a href="http://guide.qyer.com/avignon-provence/" class="mask"  title="阿维尼翁-普罗旺斯穷游锦囊" target="_blank" data-bn-ipg="7-1-6-1"></a>
	</div>
	<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/avignon-provence/" title="阿维尼翁-普罗旺斯" target="_blank" data-bn-ipg="7-1-6-2">阿维尼翁-普罗旺斯</a></p>
	<p class="gui_jnlist_item_text">法国<br /><span class="sum">92646</span>次下载</p>
</li>

			</ul>
		</div>
	</div>
	<div class="clearfix mt30">
		<div class="content fr">
			<div class="gui_all">
				<h2 class="gui_title">全部穷游锦囊</h2>
				<div class="ui_sort gui_tab"><a href="javascript:;" class="ui_sort_item ui_sort_item_current jsorderupdate" data-bn-ipg="20-1">按更新时间</a><span class="ui_sort_gap">|</span><a href="javascript:;" class="ui_sort_item jsorderdown" data-bn-ipg="20-2">最近7天下载量</a></div>
				<div class="jsajaxshowpage">
				<ul class="gui_jnlist clearfix">
	<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/san-francisco/" target="_blank" data-bn-ipg="20-1-1-1" ><img src="http://static.qyer.com/upload/Guide_Info/7e/77/166/260_390.jpg" alt="旧金山穷游锦囊" title="旧金山穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/san-francisco/" class="mask" title="旧金山穷游锦囊" target="_blank" data-bn-ipg="20-1-1-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/san-francisco/" title="旧金山" target="_blank"data-bn-ipg="20-1-1-2">旧金山</a></p>
		<p class="gui_jnlist_item_text">美国<br /> 2013-07-30更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/hamburg/" target="_blank" data-bn-ipg="20-1-2-1" ><img src="http://static.qyer.com/upload/Guide_Info/ea/5d/64/260_390.jpg" alt="汉堡穷游锦囊" title="汉堡穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/hamburg/" class="mask" title="汉堡穷游锦囊" target="_blank" data-bn-ipg="20-1-2-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/hamburg/" title="汉堡" target="_blank"data-bn-ipg="20-1-2-2">汉堡</a></p>
		<p class="gui_jnlist_item_text">德国<br /> 2013-07-30更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/new-york/" target="_blank" data-bn-ipg="20-1-3-1" ><img src="http://static.qyer.com/upload/Guide_Info/17/e6/43/260_390.jpg" alt="纽约穷游锦囊" title="纽约穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/new-york/" class="mask" title="纽约穷游锦囊" target="_blank" data-bn-ipg="20-1-3-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/new-york/" title="纽约" target="_blank"data-bn-ipg="20-1-3-2">纽约</a></p>
		<p class="gui_jnlist_item_text">美国<br /> 2013-07-30更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/penang/" target="_blank" data-bn-ipg="20-1-4-1" ><img src="http://static.qyer.com/upload/Guide_Info/ea/e2/205/260_390.jpg" alt="槟城穷游锦囊" title="槟城穷游锦囊" width="100" height="150" /></a>
						<span class="new"></span><a href="http://guide.qyer.com/penang/" class="mask" title="槟城穷游锦囊" target="_blank" data-bn-ipg="20-1-4-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/penang/" title="槟城" target="_blank"data-bn-ipg="20-1-4-2">槟城</a></p>
		<p class="gui_jnlist_item_text">马来西亚<br /> 2013-07-30更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/sydney/" target="_blank" data-bn-ipg="20-1-5-1" ><img src="http://static.qyer.com/upload/Guide_Info/d6/7d/39/260_390.jpg" alt="悉尼穷游锦囊" title="悉尼穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/sydney/" class="mask" title="悉尼穷游锦囊" target="_blank" data-bn-ipg="20-1-5-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/sydney/" title="悉尼" target="_blank"data-bn-ipg="20-1-5-2">悉尼</a></p>
		<p class="gui_jnlist_item_text">澳大利亚<br /> 2013-07-29更新</p>
	</li>
	</ul>
<div class="border"></div>
<ul class="gui_jnlist clearfix">
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/tokyo/" target="_blank" data-bn-ipg="20-1-6-1" ><img src="http://static.qyer.com/upload/Guide_Info/34/16/41/260_390.jpg" alt="东京穷游锦囊" title="东京穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/tokyo/" class="mask" title="东京穷游锦囊" target="_blank" data-bn-ipg="20-1-6-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/tokyo/" title="东京" target="_blank"data-bn-ipg="20-1-6-2">东京</a></p>
		<p class="gui_jnlist_item_text">日本<br /> 2013-07-29更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/madrid/" target="_blank" data-bn-ipg="20-1-7-1" ><img src="http://static.qyer.com/upload/Guide_Info/34/17/30/260_390.jpg" alt="马德里穷游锦囊" title="马德里穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/madrid/" class="mask" title="马德里穷游锦囊" target="_blank" data-bn-ipg="20-1-7-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/madrid/" title="马德里" target="_blank"data-bn-ipg="20-1-7-2">马德里</a></p>
		<p class="gui_jnlist_item_text">西班牙<br /> 2013-07-29更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/bohol/" target="_blank" data-bn-ipg="20-1-8-1" ><img src="http://static.qyer.com/upload/Guide_Info/f0/93/106/260_390.jpg" alt="薄荷岛穷游锦囊" title="薄荷岛穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/bohol/" class="mask" title="薄荷岛穷游锦囊" target="_blank" data-bn-ipg="20-1-8-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/bohol/" title="薄荷岛" target="_blank"data-bn-ipg="20-1-8-2">薄荷岛</a></p>
		<p class="gui_jnlist_item_text">菲律宾<br /> 2013-07-29更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/yangon/" target="_blank" data-bn-ipg="20-1-9-1" ><img src="http://static.qyer.com/upload/Guide_Info/27/4a/204/260_390.jpg" alt="仰光穷游锦囊" title="仰光穷游锦囊" width="100" height="150" /></a>
						<span class="new"></span><a href="http://guide.qyer.com/yangon/" class="mask" title="仰光穷游锦囊" target="_blank" data-bn-ipg="20-1-9-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/yangon/" title="仰光" target="_blank"data-bn-ipg="20-1-9-2">仰光</a></p>
		<p class="gui_jnlist_item_text">缅甸<br /> 2013-07-29更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/bagan/" target="_blank" data-bn-ipg="20-1-10-1" ><img src="http://static.qyer.com/upload/Guide_Info/e2/c0/203/260_390.jpg" alt="蒲甘穷游锦囊" title="蒲甘穷游锦囊" width="100" height="150" /></a>
						<span class="new"></span><a href="http://guide.qyer.com/bagan/" class="mask" title="蒲甘穷游锦囊" target="_blank" data-bn-ipg="20-1-10-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/bagan/" title="蒲甘" target="_blank"data-bn-ipg="20-1-10-2">蒲甘</a></p>
		<p class="gui_jnlist_item_text">缅甸<br /> 2013-07-24更新</p>
	</li>
	</ul>
<div class="border"></div>
<ul class="gui_jnlist clearfix">
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/friendship-highway/" target="_blank" data-bn-ipg="20-1-11-1" ><img src="http://static.qyer.com/upload/Guide_Info/f7/e6/173/260_390.jpg" alt="拉萨到加德满都穷游锦囊" title="拉萨到加德满都穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/friendship-highway/" class="mask" title="拉萨到加德满都穷游锦囊" target="_blank" data-bn-ipg="20-1-11-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/friendship-highway/" title="拉萨到加德满都" target="_blank"data-bn-ipg="20-1-11-2">拉萨到加德满都</a></p>
		<p class="gui_jnlist_item_text">亚洲专题<br /> 2013-07-23更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/paris/" target="_blank" data-bn-ipg="20-1-12-1" ><img src="http://static.qyer.com/upload/Guide_Info/63/64/32/260_390.jpg" alt="巴黎穷游锦囊" title="巴黎穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/paris/" class="mask" title="巴黎穷游锦囊" target="_blank" data-bn-ipg="20-1-12-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/paris/" title="巴黎" target="_blank"data-bn-ipg="20-1-12-2">巴黎</a></p>
		<p class="gui_jnlist_item_text">法国<br /> 2013-07-19更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/seoul/" target="_blank" data-bn-ipg="20-1-13-1" ><img src="http://static.qyer.com/upload/Guide_Info/27/23/109/260_390.jpg" alt="首尔穷游锦囊" title="首尔穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/seoul/" class="mask" title="首尔穷游锦囊" target="_blank" data-bn-ipg="20-1-13-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/seoul/" title="首尔" target="_blank"data-bn-ipg="20-1-13-2">首尔</a></p>
		<p class="gui_jnlist_item_text">韩国<br /> 2013-07-19更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/stockholm/" target="_blank" data-bn-ipg="20-1-14-1" ><img src="http://static.qyer.com/upload/Guide_Info/28/38/51/260_390.jpg" alt="斯德哥尔摩穷游锦囊" title="斯德哥尔摩穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/stockholm/" class="mask" title="斯德哥尔摩穷游锦囊" target="_blank" data-bn-ipg="20-1-14-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/stockholm/" title="斯德哥尔摩" target="_blank"data-bn-ipg="20-1-14-2">斯德哥尔摩</a></p>
		<p class="gui_jnlist_item_text">瑞典<br /> 2013-07-19更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/istanbul/" target="_blank" data-bn-ipg="20-1-15-1" ><img src="http://static.qyer.com/upload/Guide_Info/72/b3/57/260_390.jpg" alt="伊斯坦布尔穷游锦囊" title="伊斯坦布尔穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/istanbul/" class="mask" title="伊斯坦布尔穷游锦囊" target="_blank" data-bn-ipg="20-1-15-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/istanbul/" title="伊斯坦布尔" target="_blank"data-bn-ipg="20-1-15-2">伊斯坦布尔</a></p>
		<p class="gui_jnlist_item_text">土耳其<br /> 2013-07-19更新</p>
	</li>
	</ul>
<div class="border"></div>
<ul class="gui_jnlist clearfix">
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/lisbon/" target="_blank" data-bn-ipg="20-1-16-1" ><img src="http://static.qyer.com/upload/Guide_Info/a6/84/54/260_390.jpg" alt="里斯本穷游锦囊" title="里斯本穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/lisbon/" class="mask" title="里斯本穷游锦囊" target="_blank" data-bn-ipg="20-1-16-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/lisbon/" title="里斯本" target="_blank"data-bn-ipg="20-1-16-2">里斯本</a></p>
		<p class="gui_jnlist_item_text">葡萄牙<br /> 2013-07-19更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/seville/" target="_blank" data-bn-ipg="20-1-17-1" ><img src="http://static.qyer.com/upload/Guide_Info/ec/89/102/260_390.jpg" alt="塞维利亚穷游锦囊" title="塞维利亚穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/seville/" class="mask" title="塞维利亚穷游锦囊" target="_blank" data-bn-ipg="20-1-17-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/seville/" title="塞维利亚" target="_blank"data-bn-ipg="20-1-17-2">塞维利亚</a></p>
		<p class="gui_jnlist_item_text">西班牙<br /> 2013-07-19更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/las-vegas/" target="_blank" data-bn-ipg="20-1-18-1" ><img src="http://static.qyer.com/upload/Guide_Info/7f/6f/112/260_390.jpg" alt="拉斯维加斯穷游锦囊" title="拉斯维加斯穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/las-vegas/" class="mask" title="拉斯维加斯穷游锦囊" target="_blank" data-bn-ipg="20-1-18-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/las-vegas/" title="拉斯维加斯" target="_blank"data-bn-ipg="20-1-18-2">拉斯维加斯</a></p>
		<p class="gui_jnlist_item_text">美国<br /> 2013-07-19更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/matterhorn-valais/" target="_blank" data-bn-ipg="20-1-19-1" ><img src="http://static.qyer.com/upload/Guide_Info/28/dd/77/260_390.jpg" alt="马特洪峰-瓦莱州穷游锦囊" title="马特洪峰-瓦莱州穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/matterhorn-valais/" class="mask" title="马特洪峰-瓦莱州穷游锦囊" target="_blank" data-bn-ipg="20-1-19-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/matterhorn-valais/" title="马特洪峰-瓦莱州" target="_blank"data-bn-ipg="20-1-19-2">马特洪峰-瓦莱州</a></p>
		<p class="gui_jnlist_item_text">瑞士<br /> 2013-07-19更新</p>
	</li>
		<li class="gui_jnlist_item">
		<div class="gui_jnlist_item_pic">
			<a href="http://guide.qyer.com/oslo/" target="_blank" data-bn-ipg="20-1-20-1" ><img src="http://static.qyer.com/upload/Guide_Info/07/e1/119/260_390.jpg" alt="奥斯陆穷游锦囊" title="奥斯陆穷游锦囊" width="100" height="150" /></a>
						<a href="http://guide.qyer.com/oslo/" class="mask" title="奥斯陆穷游锦囊" target="_blank" data-bn-ipg="20-1-20-1"></a>
		</div>
		<p class="gui_jnlist_item_tit"><a href="http://guide.qyer.com/oslo/" title="奥斯陆" target="_blank"data-bn-ipg="20-1-20-2">奥斯陆</a></p>
		<p class="gui_jnlist_item_text">挪威<br /> 2013-07-19更新</p>
	</li>
	</ul>
<div class="border"></div>
<ul class="gui_jnlist clearfix">
	</ul>
<div class="ui_page"><div class="ui_page"><a data-bn-ipg="pages-3" href="javascript:jncomment.ajax_update_page(1)" class='ui_page_item ui_page_item_current'>1</a>
<a data-bn-ipg="pages-3" href="javascript:jncomment.ajax_update_page(2)" class='ui_page_item'>2</a>
<a data-bn-ipg="pages-3" href="javascript:jncomment.ajax_update_page(3)" class='ui_page_item'>3</a>
<a data-bn-ipg="pages-3" href="javascript:jncomment.ajax_update_page(4)" class='ui_page_item'>4</a>
<a data-bn-ipg="pages-3" href="javascript:jncomment.ajax_update_page(5)" class='ui_page_item'>5</a>
<a data-bn-ipg="pages-4" href="javascript:jncomment.ajax_update_page(10)" class='ui_page_item' title="...10">...10</a>
<a data-bn-ipg="pages-5" href="javascript:jncomment.ajax_update_page(2)" class='ui_page_item ui_page_next' title="下一页">下一页</a>
</div></div>
<div class="cb"></div>				</div>
				<div class="cb"></div>
			</div>
		</div>
		<div class="aside fl">
			<div class="mb30">
				<h2 class="gui_title">他们刚刚下载了穷游锦囊</h2>
				<ul class="mandown">
									<li><a href="http://user.qyer.com/user_uid_984409" title="dreaming_pp" data-bn-ipg="8-1-1"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="24" height="24" alt="dreaming_pp" class="face" /></a>1分钟前下载了<a href="http://guide.qyer.com/tuscany/" title="托斯卡纳穷游锦囊" target="_blank" data-bn-ipg="8-1-2">托斯卡纳</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_2575469" title="雾萸咚粑" data-bn-ipg="8-2-1"><img src="http://static.qyer.com/data/avatar/002/57/54/69_avatar_big.jpg" width="24" height="24" alt="雾萸咚粑" class="face" /></a>1分钟前下载了<a href="http://guide.qyer.com/barcelona/" title="巴塞罗那穷游锦囊" target="_blank" data-bn-ipg="8-2-2">巴塞罗那</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_2575599" title="foreverbyoursid" data-bn-ipg="8-3-1"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="24" height="24" alt="foreverbyoursid" class="face" /></a>1分钟前下载了<a href="http://guide.qyer.com/taste-of-france/" title="法国美食穷游锦囊" target="_blank" data-bn-ipg="8-3-2">法国美食</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_2041909" title="yuanyuannannan" data-bn-ipg="8-4-1"><img src="http://static.qyer.com/data/avatar/002/04/19/09_avatar_big.jpg" width="24" height="24" alt="yuanyuannannan" class="face" /></a>2分钟前下载了<a href="http://guide.qyer.com/belgium/" title="比利时穷游锦囊" target="_blank" data-bn-ipg="8-4-2">比利时</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_2041909" title="yuanyuannannan" data-bn-ipg="8-5-1"><img src="http://static.qyer.com/data/avatar/002/04/19/09_avatar_big.jpg" width="24" height="24" alt="yuanyuannannan" class="face" /></a>2分钟前下载了<a href="http://guide.qyer.com/belgium/" title="比利时穷游锦囊" target="_blank" data-bn-ipg="8-5-2">比利时</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_1394340" title="zoeybaby123" data-bn-ipg="8-6-1"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="24" height="24" alt="zoeybaby123" class="face" /></a>2分钟前下载了<a href="http://guide.qyer.com/paris/" title="巴黎穷游锦囊" target="_blank" data-bn-ipg="8-6-2">巴黎</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_2565803" title="鲍斌斌" data-bn-ipg="8-7-1"><img src="http://static.qyer.com/data/avatar/002/56/58/03_avatar_big.jpg" width="24" height="24" alt="鲍斌斌" class="face" /></a>2分钟前下载了<a href="http://guide.qyer.com/yangon/" title="仰光穷游锦囊" target="_blank" data-bn-ipg="8-7-2">仰光</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_2575527" title="tyralee" data-bn-ipg="8-8-1"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="24" height="24" alt="tyralee" class="face" /></a>2分钟前下载了<a href="http://guide.qyer.com/sabah/" title="沙巴穷游锦囊" target="_blank" data-bn-ipg="8-8-2">沙巴</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_2077442" title="shelock_zhang" data-bn-ipg="8-9-1"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="24" height="24" alt="shelock_zhang" class="face" /></a>2分钟前下载了<a href="http://guide.qyer.com/driving-in-nz/" title="新西兰自驾穷游锦囊" target="_blank" data-bn-ipg="8-9-2">新西兰自驾</a>穷游锦囊</li>
									<li><a href="http://user.qyer.com/user_uid_1308178" title="舟方" data-bn-ipg="8-10-1"><img src="http://static.qyer.com/data/images/noavatar_big.gif" width="24" height="24" alt="舟方" class="face" /></a>3分钟前下载了<a href="http://guide.qyer.com/taipei/" title="台北穷游锦囊" target="_blank" data-bn-ipg="8-10-2">台北</a>穷游锦囊</li>
								</ul>
			</div>
			<div class="guide_ad"><iframe id='a1c4780f' name='a1c4780f' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=6&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='270' height='170'><a href='http://ad.qyer.com/www/delivery/ck.php?n=aed40fc5&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=6&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=aed40fc5' border='0' alt='' /></a></iframe></div>
			<div class="guide_ad"><iframe id='a16c1fe9' name='a16c1fe9' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=7&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='270' height='170'><a href='http://ad.qyer.com/www/delivery/ck.php?n=a0022cee&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=7&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a0022cee' border='0' alt='' /></a></iframe></div>
			<div class="guide_ad"><iframe id='ac3354b4' name='ac3354b4' src='http://ad.qyer.com/www/delivery/afr.php?zoneid=8&cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='270' height='170'><a href='http://ad.qyer.com/www/delivery/ck.php?n=ab329f7e&cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ad.qyer.com/www/delivery/avw.php?zoneid=8&cb=INSERT_RANDOM_NUMBER_HERE&n=ab329f7e' border='0' alt='' /></a></iframe></div>
		</div>
	</div>
</div>
<script src="http://static.qyer.com/js/common/slides.jquery.js" type="text/javascript"></script>
<script src="http://static.qyer.com/js/common/jquery.carousel.min.js" type="text/javascript"></script>
<script>
$(function(){
	$(".gui_nav_item_subnav_roll").carousel({dispItems:4});

	$(".gui_jnlist_item_pic").live("mouseover", function(){
		$(this).find(".mask").show();
	}).live("mouseout", function(){
		$(this).find(".mask").hide();
	}) ;

	$(".gui_nav_item").hover(function(){
		$(this).addClass("gui_nav_item_current");
	},function(){
		$(this).removeClass("gui_nav_item_current");
	});

	$("#gui_focus").slides({
		play: 5000,
		pause: 2500,
		hoverPause: true
	});

	$(document).click(function(){
		if($("#jn_search_drop").is(":visible")){
			$("#jn_search_drop").hide();
		}
	});
	$("#jn_search_drop").click(function(event){
		event.stopPropagation();
	});
	$("#jn_search_input").click(function(event){
		if($(this).val() != $(this).attr("placeholder") && $(this).val() != ""){
			$("#jn_search_drop").show();
		}
		event.stopPropagation();
	});
});
</script>

<script language="javascript">
spam_text_filter();
</script>
<div class="qyer_footer">
	<div class="qyer_footerBox">
		<ul class="qyer_footer_about">
			<li>
				<dl>
					<dt>关于我们</dt>
					<dd><a href="http://www.qyer.com/htmlpages/about.html" target="_blank" rel="nofollow" data-bn-ipg="foot-about-1">穷游简介</a></dd>
					<dd><a href="http://www.qyer.com/htmlpages/contact.html" target="_blank" rel="nofollow" data-bn-ipg="foot-about-2">联系我们</a></dd>
					<dd><a href="http://www.qyer.com/partner/" target="_blank" rel="nofollow" data-bn-ipg="foot-about-3">合作伙伴</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>加入穷游</dt>
					<dd><a href="http://www.qyer.com/job/" target="_blank" rel="nofollow" data-bn-ipg="foot-join-1">招聘职位</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>网站条款</dt>
					<dd><a href="http://www.qyer.com/htmlpages/member.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-1">会员条款</a></dd>
					<dd><a href="http://www.qyer.com/htmlpages/bbsguide.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-2">社区指南</a></dd>
					<dd><a href="http://www.qyer.com/htmlpages/copyright.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-3">版权声明</a></dd>
					<dd><a href="http://www.qyer.com/htmlpages/exemption.html" target="_blank" rel="nofollow" data-bn-ipg="foot-clause-4">免责声明</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>帮助中心</dt>
					<dd><a href="http://site.qyer.com/tyro/" target="_blank" rel="nofollow" data-bn-ipg="foot-help-1">新手上路</a></dd>
					<dd><a href="http://bbs.qyer.com/faq.php" target="_blank" rel="nofollow" data-bn-ipg="foot-help-2">使用帮助</a></dd>
					<dd><a href="http://www.surveygizmo.com/s3/465989/289a6cfbafa6" target="_blank" rel="nofollow" data-bn-ipg="foot-help-3">建议和投诉</a></dd>
					<dd><a href="http://www.qyer.com/sitemap.html" target="_blank" data-bn-ipg="foot-help-4">网站地图</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>关注我们</dt>
					<dd class="qyer_footer_attention"><img src="http://static.qyer.com/images/common/icon_attention.png" alt="" width="80" height="50" border="0" usemap="#Map_go2att" />
						<map name="Map_go2att" id="Map_go2att">
							<area shape="rect" coords="0,0,20,20" href="http://t.sina.com.cn/go2eu" target="_blank" rel="nofollow" alt="穷游网@新浪微博" title="穷游网@新浪微博" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','weibo',1]);" data-bn-ipg="foot-concern-1" />
							<area shape="rect" coords="30,0,50,20" href="http://www.flickr.com/photos/go2eu" target="_blank" rel="nofollow" alt="穷游网@flickr" title="穷游网@flickr" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','flickr',1]);" data-bn-ipg="foot-concern-2" />
							<area shape="rect" coords="60,0,80,20" href="http://page.renren.com/600986584" target="_blank" rel="nofollow" alt="穷游网@人人" title="穷游网@人人" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','renren',1]);" data-bn-ipg="foot-concern-3" />
							<area shape="rect" coords="0,30,20,50" href="http://site.douban.com/go2eu" target="_blank" rel="nofollow" alt="穷游网@豆瓣" title="穷游网@豆瓣" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','douban',1]);" data-bn-ipg="foot-concern-4" />
							<area shape="rect" coords="30,30,50,50" href="http://www.facebook.com/#!/qiongyou" target="_blank" rel="nofollow" alt="穷游网@facebook" title="穷游网@facebook" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','facebook',1]);" data-bn-ipg="foot-concern-5" />
							<area shape="rect" coords="60,30,82,50" href="http://twitter.com/go2eucom" target="_blank" rel="nofollow" alt="穷游网@twitter" title="穷游网@twitter" onclick="_gaq.push(['_trackEvent','outlink','buttomlink','twitter',1]);" data-bn-ipg="foot-concern-6" />
						</map>
					</dd>
				</dl>
			</li>
		</ul>
		<div class="qyer_footer_appStore"><a href="http://itunes.apple.com/cn/artist/qyer/id492202235" target="_blank" rel="nofollow" data-bn-ipg="foot-appstore"><img src="http://static.qyer.com/images/common/appstore.png" width="118" height="39" alt="穷游网@App Store" title="穷游网@App Store" /></a></div>
		<div class="qyer_footer_copyright"><a href="http://www.qyer.com/" rel="nofollow" data-bn-ipg="foot-logo"><img src="http://static.qyer.com/images/common/foot_logo.png" width="100" height="30" alt="穷游网" /></a>
			<p>2004-2013 &copy; 穷游网&trade; qyer.com All rights reserved.&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备12003524号</a>&nbsp;&nbsp;京公网安备11010502023470</p>
			<p><a href="http://www.qyer.com/">穷游网</a>为<a href="http://www.qyer.com/">旅行</a>者提供原创实用的<a href="http://www.qyer.com/">出境游</a><a href="http://place.qyer.com/">旅行指南</a>和<a href="http://www.qyer.com/">旅游攻略</a>、<a href="http://bbs.qyer.com/">旅行社区</a>和<a href="http://ask.qyer.com/">问答</a>交流平台，并提供<a href="http://qz.qyer.com/">签证</a>、<a href="http://bx.qyer.com/">保险</a>、<a href="http://flight.qyer.com/">机票</a>、<a href="http://hotel.qyer.com/">酒店预订</a>、<a href="http://car.qyer.com/">租车</a>等服务。</p>
		</div>
	</div>
</div>
<script type="text/javascript">
setTimeout('loadjscssfile("http://static.qyer.com/js/common/beforelogin.js","js")',1000);
</script>
<script src="http://static.qyer.com/js/common/feedback.js" type="text/javascript"></script>
<script type="text/javascript">

var _gaq = _gaq || [];

_gaq.push(['_setAccount', 'UA-185023-1']);
_gaq.push(['_setDomainName', 'qyer.com']);
_gaq.push(['_setSiteSpeedSampleRate',10]);
_gaq.push(['_addIgnoredRef', 'qyer.com']);
_gaq.push(['_addOrganic','soso','w']);
_gaq.push(['_addOrganic','sogou','query']);
_gaq.push(['_addOrganic','baidu','word']);
_gaq.push(['_addOrganic','baidu','q1']);
_gaq.push(['_addOrganic','baidu','q2']);
_gaq.push(['_addOrganic','m.baidu','word']);
_gaq.push(['_addOrganic','so.360','q']);
_gaq.push(['_trackPageview']);

var _qyer_userid = "";

(function() {

var qt = document.createElement('script'); qt.type = 'text/javascript'; qt.async = true;

qt.src = 'http://qt.qyer.com/beacon.js';

var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(qt, s); s.parentNode.insertBefore(ga, s);

})();

</script><script src="http://static.qyer.com/js/plan/planner-clipboard.js?v1"></script></body>
</html>
