<div class="boxshadow">
  <div style="background:#fff;height: 210px;border-bottom: 1px solid #ddd">sssss</div>
  <div style="background:#F0F0F0;height: 40px;border-top:1px solid #fff ">sssss</div>
</div>

<div class="main">

  <h1>New place</h1>

  <%= render 'form' %>

  <%= link_to 'Back', places_path %>
</div>


